flows.json
[{"id":"f_sas_full","type":"tab","label":"SAS - Dashboard Complet","disabled":false,"info":""},{"id":"b5c7f3fc3bc1aae8","type":"tab","label":"API","disabled":false,"info":"","env":[]},{"id":"337b3f6509ad4b2b","type":"tab","label":"WEB_APP","disabled":false,"info":"","env":[]},{"id":"962ebddf0c855e42","type":"tab","label":"RFID","disabled":false,"info":"","env":[]},{"id":"0d306ba78d898a21","type":"tab","label":"STATUS","disabled":false,"info":"","env":[]},{"id":"1f4c757fab62caea","type":"tab","label":"CRUD RFID","disabled":false,"info":"","env":[]},{"id":"c1f3c3d3.e3f3b9","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1b1c1d1.e1f1a1","type":"ui_tab","name":"Bracelet Stress","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d0e2e2c2.c2d2a2","type":"ui_group","name":"Données en temps réel","tab":"a1b1c1d1.e1f1a1","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c7fb142c1d4507f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2b53821b05103cc3","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"27ab9eeea2072eec","type":"ui_tab","name":"SAS","icon":"dashboard","disabled":false,"hidden":false},{"id":"4db0e58227fd3484","type":"ui_group","name":"Default","tab":"27ab9eeea2072eec","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"8d6dfae68d7d0146","type":"ui_group","name":"Portes","tab":"27ab9eeea2072eec","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"tab_sas","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"grp_status","type":"ui_group","name":"Statut","tab":"tab_sas","order":1,"disp":true,"width":"10","collapse":false},{"id":"grp_control","type":"ui_group","name":"Contrôle","tab":"tab_sas","order":2,"disp":true,"width":"10","collapse":false},{"id":"grp_sensors","type":"ui_group","name":"Capteurs","tab":"tab_sas","order":3,"disp":true,"width":"10","collapse":false},{"id":"grp_logs","type":"ui_group","name":"Logs","tab":"tab_sas","order":4,"disp":true,"width":"10","collapse":false},{"id":"mqtt_broker","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"NR_SAS_DASH","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"b98fdb0d0e945b92","type":"ui_group","name":"Compteurs","tab":"tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"79e17590222ebf4f","type":"ui_group","name":"Compteurs","tab":"tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_tab_sas","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"ui_grp_status","type":"ui_group","name":"Statut","tab":"ui_tab_sas","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_control","type":"ui_group","name":"Contrôle","tab":"ui_tab_sas","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_stats","type":"ui_group","name":"Compteurs","tab":"ui_tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_sensors","type":"ui_group","name":"Capteurs","tab":"ui_tab_sas","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_rfid","type":"ui_group","name":"Historique RFID","tab":"ui_tab_sas","order":5,"disp":true,"width":"12","collapse":false},{"id":"mqtt_broker_sas","type":"mqtt-broker","name":"mosquitto-test","broker":"test.mosquitto.org","port":"1883","clientid":"NR_SAS_UI_FULL","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"mqtt_in_door1","type":"mqtt in","z":"f_sas_full","name":"sas/door1","topic":"sas/door1","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":80,"wires":[["fn_norm_d1"]]},{"id":"mqtt_in_door2","type":"mqtt in","z":"f_sas_full","name":"sas/door2","topic":"sas/door2","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":120,"wires":[["fn_norm_d2"]]},{"id":"fn_norm_d1","type":"function","z":"f_sas_full","name":"Normalize D1","func":"let s = (''+msg.payload).trim().toUpperCase();\nif (s==='CLOSE') s='CLOSED';\nif(!['OPEN','CLOSED','BLOCKED'].includes(s)) s='—';\nflow.set('d1', s);\nmsg.payload = { d1: flow.get('d1') || '—', d2: flow.get('d2') || '—' };\nreturn msg;","outputs":1,"x":390,"y":80,"wires":[["ui_tpl_doors"]]},{"id":"fn_norm_d2","type":"function","z":"f_sas_full","name":"Normalize D2","func":"let s = (''+msg.payload).trim().toUpperCase();\nif (s==='CLOSE') s='CLOSED';\nif(!['OPEN','CLOSED','BLOCKED'].includes(s)) s='—';\nflow.set('d2', s);\nmsg.payload = { d1: flow.get('d1') || '—', d2: flow.get('d2') || '—' };\nreturn msg;","outputs":1,"x":390,"y":120,"wires":[["ui_tpl_doors"]]},{"id":"ui_tpl_doors","type":"ui_template","z":"f_sas_full","group":"ui_grp_status","name":"Portes (couleurs)","order":1,"width":12,"height":4,"format":"<style>\n  .sasRow{display:flex;justify-content:space-between;align-items:center;padding:10px 12px;margin:6px 0;border-radius:10px;background:#f3f4f6}\n  .sasBadge{padding:6px 10px;border-radius:999px;font-weight:800;min-width:120px;text-align:center}\n  .OPEN{background:#1976D2;color:#fff}\n  .CLOSED{background:#FF9800;color:#111}\n  .BLOCKED{background:#9e9e9e;color:#fff}\n  .U{background:#e5e7eb;color:#111}\n</style>\n<div class=\"sasRow\">\n  <div><b>Porte 1</b></div>\n  <div class=\"sasBadge {{msg.payload.d1 || 'U'}}\">{{msg.payload.d1 || '—'}}</div>\n</div>\n<div class=\"sasRow\">\n  <div><b>Porte 2</b></div>\n  <div class=\"sasBadge {{msg.payload.d2 || 'U'}}\">{{msg.payload.d2 || '—'}}</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":100,"wires":[[]]},{"id":"mqtt_in_state","type":"mqtt in","z":"f_sas_full","name":"sas/state","topic":"sas/state","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":170,"wires":[["ui_txt_state"]]},{"id":"ui_txt_state","type":"ui_text","z":"f_sas_full","group":"ui_grp_status","order":2,"width":12,"height":1,"name":"Etat SAS","label":"État SAS","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":170,"wires":[]},{"id":"mqtt_in_count","type":"mqtt in","z":"f_sas_full","name":"sas/countdown","topic":"sas/countdown","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":210,"wires":[["fn_to_num_count"]]},{"id":"fn_to_num_count","type":"function","z":"f_sas_full","name":"Countdown -> number","func":"msg.payload = Number(msg.payload)||0; return msg;","outputs":1,"x":420,"y":210,"wires":[["ui_g_count"]]},{"id":"ui_g_count","type":"ui_gauge","z":"f_sas_full","name":"Countdown","group":"ui_grp_status","order":3,"width":12,"height":3,"label":"Attente (s)","format":"{{value}}","min":0,"max":30,"colors":["#00b500","#e6e600","#ca3838"],"seg1":10,"seg2":20,"x":660,"y":210,"wires":[]},{"id":"ui_btn_open_d1","type":"ui_button","z":"f_sas_full","name":"Open P1","group":"ui_grp_control","order":1,"width":6,"height":1,"passthru":false,"label":"OUVRIR PORTE 1","color":"#FFFFFF","bgcolor":"#1976D2","payload":"OPEN","payloadType":"str","topic":"sas/control/door1","topicType":"str","x":160,"y":280,"wires":[["mqtt_out_cmd"]]},{"id":"ui_btn_close_d1","type":"ui_button","z":"f_sas_full","name":"Close P1","group":"ui_grp_control","order":2,"width":6,"height":1,"passthru":false,"label":"FERMER PORTE 1","color":"#111111","bgcolor":"#FF9800","payload":"CLOSE","payloadType":"str","topic":"sas/control/door1","topicType":"str","x":160,"y":320,"wires":[["mqtt_out_cmd"]]},{"id":"ui_btn_open_d2","type":"ui_button","z":"f_sas_full","name":"Open P2","group":"ui_grp_control","order":3,"width":6,"height":1,"passthru":false,"label":"OUVRIR PORTE 2","color":"#FFFFFF","bgcolor":"#1976D2","payload":"OPEN","payloadType":"str","topic":"sas/control/door2","topicType":"str","x":160,"y":360,"wires":[["mqtt_out_cmd"]]},{"id":"ui_btn_close_d2","type":"ui_button","z":"f_sas_full","name":"Close P2","group":"ui_grp_control","order":4,"width":6,"height":1,"passthru":false,"label":"FERMER PORTE 2","color":"#111111","bgcolor":"#FF9800","payload":"CLOSE","payloadType":"str","topic":"sas/control/door2","topicType":"str","x":160,"y":400,"wires":[["mqtt_out_cmd"]]},{"id":"mqtt_out_cmd","type":"mqtt out","z":"f_sas_full","name":"MQTT OUT","topic":"","qos":"","retain":"","broker":"mqtt_broker_sas","x":430,"y":340,"wires":[]},{"id":"mqtt_in_c1","type":"mqtt in","z":"f_sas_full","name":"P1 sans badge","topic":"sas/stats/door1/open_nobadge","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":470,"wires":[["fn_c1"]]},{"id":"mqtt_in_c2","type":"mqtt in","z":"f_sas_full","name":"P1 avec badge","topic":"sas/stats/door1/open_badge","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":510,"wires":[["fn_c2"]]},{"id":"mqtt_in_c3","type":"mqtt in","z":"f_sas_full","name":"P2 sans badge","topic":"sas/stats/door2/open_nobadge","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":550,"wires":[["fn_c3"]]},{"id":"mqtt_in_c4","type":"mqtt in","z":"f_sas_full","name":"P2 avec badge","topic":"sas/stats/door2/open_badge","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":590,"wires":[["fn_c4"]]},{"id":"fn_c1","type":"function","z":"f_sas_full","name":"Store C1","func":"flow.set('c1', Number(msg.payload)||0);\nmsg.payload={c1:flow.get('c1')||0,c2:flow.get('c2')||0,c3:flow.get('c3')||0,c4:flow.get('c4')||0};\nreturn msg;","outputs":1,"x":410,"y":470,"wires":[["ui_tpl_counters"]]},{"id":"fn_c2","type":"function","z":"f_sas_full","name":"Store C2","func":"flow.set('c2', Number(msg.payload)||0);\nmsg.payload={c1:flow.get('c1')||0,c2:flow.get('c2')||0,c3:flow.get('c3')||0,c4:flow.get('c4')||0};\nreturn msg;","outputs":1,"x":410,"y":510,"wires":[["ui_tpl_counters"]]},{"id":"fn_c3","type":"function","z":"f_sas_full","name":"Store C3","func":"flow.set('c3', Number(msg.payload)||0);\nmsg.payload={c1:flow.get('c1')||0,c2:flow.get('c2')||0,c3:flow.get('c3')||0,c4:flow.get('c4')||0};\nreturn msg;","outputs":1,"x":410,"y":550,"wires":[["ui_tpl_counters"]]},{"id":"fn_c4","type":"function","z":"f_sas_full","name":"Store C4","func":"flow.set('c4', Number(msg.payload)||0);\nmsg.payload={c1:flow.get('c1')||0,c2:flow.get('c2')||0,c3:flow.get('c3')||0,c4:flow.get('c4')||0};\nreturn msg;","outputs":1,"x":410,"y":590,"wires":[["ui_tpl_counters"]]},{"id":"ui_tpl_counters","type":"ui_template","z":"f_sas_full","group":"ui_grp_stats","name":"Compteurs (cards)","order":1,"width":12,"height":5,"format":"<style>\n  .grid{display:grid;grid-template-columns:repeat(2,1fr);gap:10px}\n  .card{background:#f3f4f6;border-radius:12px;padding:12px}\n  .title{font-weight:900;margin-bottom:4px}\n  .num{font-size:28px;font-weight:900}\n  .sub{font-size:12px;opacity:.75}\n</style>\n<div class=\"grid\">\n  <div class=\"card\"><div class=\"title\">Porte 1</div><div class=\"sub\">Ouverture de porte (sans badge)</div><div class=\"num\">{{msg.payload.c1}}</div></div>\n  <div class=\"card\"><div class=\"title\">Porte 1</div><div class=\"sub\">Ouverture de porte avec badge</div><div class=\"num\">{{msg.payload.c2}}</div></div>\n  <div class=\"card\"><div class=\"title\">Porte 2</div><div class=\"sub\">Ouverture de porte (sans badge)</div><div class=\"num\">{{msg.payload.c3}}</div></div>\n  <div class=\"card\"><div class=\"title\">Porte 2</div><div class=\"sub\">Ouverture de porte avec badge</div><div class=\"num\">{{msg.payload.c4}}</div></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":530,"wires":[[]]},{"id":"mqtt_in_temp","type":"mqtt in","z":"f_sas_full","name":"sas/temp","topic":"sas/temp","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":700,"wires":[["fn_temp_num"]]},{"id":"fn_temp_num","type":"function","z":"f_sas_full","name":"Temp -> number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"x":400,"y":700,"wires":[["ui_g_temp","ui_ch_temp"]]},{"id":"ui_g_temp","type":"ui_gauge","z":"f_sas_full","name":"Temp","group":"ui_grp_sensors","order":1,"width":12,"height":3,"label":"Température (°C)","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":25,"seg2":35,"x":680,"y":680,"wires":[]},{"id":"ui_ch_temp","type":"ui_chart","z":"f_sas_full","name":"Temp chart","group":"ui_grp_sensors","order":2,"width":12,"height":4,"label":"Courbe Température","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"—","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderUnit":"hour","outputs":1,"x":690,"y":720,"wires":[[]]},{"id":"mqtt_in_hum","type":"mqtt in","z":"f_sas_full","name":"sas/hum","topic":"sas/hum","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":820,"wires":[["fn_hum_num"]]},{"id":"fn_hum_num","type":"function","z":"f_sas_full","name":"Hum -> number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"x":400,"y":820,"wires":[["ui_g_hum","ui_ch_hum"]]},{"id":"ui_g_hum","type":"ui_gauge","z":"f_sas_full","name":"Hum","group":"ui_grp_sensors","order":3,"width":12,"height":3,"label":"Humidité (%)","format":"{{value}}","min":0,"max":100,"colors":["#00b5ff","#2a7fff","#003f7f"],"seg1":40,"seg2":70,"x":670,"y":800,"wires":[]},{"id":"ui_ch_hum","type":"ui_chart","z":"f_sas_full","name":"Hum chart","group":"ui_grp_sensors","order":4,"width":12,"height":4,"label":"Courbe Humidité","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"—","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderUnit":"hour","outputs":1,"x":680,"y":840,"wires":[[]]},{"id":"mqtt_in_access","type":"mqtt in","z":"f_sas_full","name":"sas/access","topic":"sas/access","qos":"0","datatype":"auto","broker":"mqtt_broker_sas","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":960,"wires":[["fn_access_parse"]]},{"id":"fn_access_parse","type":"function","z":"f_sas_full","name":"RFID -> history (20)","func":"let obj = msg.payload;\ntry {\n  if (typeof msg.payload === 'string') obj = JSON.parse(msg.payload);\n} catch(e) {\n  obj = { event: ''+msg.payload, name: 'Unknown', uid: '' };\n}\nconst now = new Date();\nconst time = now.toLocaleTimeString();\nlet hist = context.get('hist') || [];\nhist.unshift({ time, name: obj.name || 'Unknown', uid: obj.uid || '', event: obj.event || '' });\nhist = hist.slice(0, 20);\ncontext.set('hist', hist);\nmsg.payload = hist;\nreturn msg;","outputs":1,"x":410,"y":960,"wires":[["ui_txt_last_access","ui_tpl_access_table"]]},{"id":"ui_txt_last_access","type":"ui_text","z":"f_sas_full","group":"ui_grp_rfid","order":1,"width":12,"height":1,"name":"Dernier accès","label":"Dernier accès","format":"{{msg.payload[0].time}} — {{msg.payload[0].name}} — {{msg.payload[0].event}}","layout":"row-spread","x":690,"y":940,"wires":[]},{"id":"ui_tpl_access_table","type":"ui_template","z":"f_sas_full","group":"ui_grp_rfid","name":"Table RFID","order":2,"width":12,"height":8,"format":"<style>\n  table.sasTbl{width:100%;border-collapse:collapse;font-size:13px}\n  .sasTbl th,.sasTbl td{border-bottom:1px solid #e5e7eb;padding:8px 6px}\n  .sasTbl th{text-align:left;background:#f3f4f6}\n  .ok{color:#0b7a0b;font-weight:800}\n  .ko{color:#b00020;font-weight:800}\n</style>\n<div>\n  <table class=\"sasTbl\">\n    <thead>\n      <tr><th>Heure</th><th>Nom</th><th>UID</th><th>Événement</th></tr>\n    </thead>\n    <tbody>\n      <tr ng-repeat=\"r in msg.payload\">\n        <td>{{r.time}}</td>\n        <td>{{r.name}}</td>\n        <td style=\"font-family:monospace\">{{r.uid}}</td>\n        <td ng-class=\"{'ok': r.event==='RFID_OK', 'ko': (r.event==='RFID_REFUSE' || r.event==='RFID_WAIT')}\">{{r.event}}</td>\n      </tr>\n    </tbody>\n  </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":980,"wires":[[]]},{"id":"175af2cc6f0c3e8a","type":"http in","z":"b5c7f3fc3bc1aae8","name":"","url":"/api/status","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":140,"y":200,"wires":[["89693eb4902cd623"]]},{"id":"89693eb4902cd623","type":"function","z":"b5c7f3fc3bc1aae8","name":"function 1","func":"msg.payload = {\n    door1: flow.get(\"d1\") || \"—\",\n    door2: flow.get(\"d2\") || \"—\",\n    state: flow.get(\"sas_state\") || \"—\",\n    countdown: flow.get(\"countdown\") || 0,\n    temp: flow.get(\"temp\") ?? null,\n    hum: flow.get(\"hum\") ?? null\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["c59b47cf1b9c46f1"]]},{"id":"c59b47cf1b9c46f1","type":"http response","z":"b5c7f3fc3bc1aae8","name":"","statusCode":"","headers":{},"x":370,"y":340,"wires":[]},{"id":"57526f1213da3c3a","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/door1","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":400,"wires":[["8e7dcf0a3e5f74c5"]]},{"id":"1a66c3f5d8068ce0","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/door2","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":460,"wires":[["1cdf9466b4287c03"]]},{"id":"0fcd0957da79f3c5","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/state","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":520,"wires":[["f462aa4ca4acecb8"]]},{"id":"91879827b308469f","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/countdown","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":580,"wires":[["6c755399c117d9ea"]]},{"id":"1de16154a10859a5","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/temp","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":640,"wires":[["bef675c060955436"]]},{"id":"76d1451cd009f6cb","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/hum","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":700,"wires":[["56252bbfd1636198"]]},{"id":"80d2cf68f6ccd33b","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/access","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":760,"wires":[["e833db6cf3ac9e2a"]]},{"id":"74ebb0436099b4a0","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/stats/door1/open_nobadge","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":820,"wires":[["de9168af602ce167"]]},{"id":"22a261a5cd03c13e","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/stats/door1/open_badge","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":880,"wires":[["5394537d2976a776"]]},{"id":"193b9fa7feaf6251","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/stats/door2/open_nobadge","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":940,"wires":[["3c18f0b392f95a44"]]},{"id":"3d90bde7b4e2193d","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/stats/door2/open_badge","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":1000,"wires":[["a93dfdf28f246a37"]]},{"id":"8e7dcf0a3e5f74c5","type":"function","z":"b5c7f3fc3bc1aae8","name":"store door1","func":"let s = (\"\" + msg.payload).trim().toUpperCase();\nif (s === \"CLOSE\") s = \"CLOSED\";\nif (s === \"FERME\" || s === \"FERMEE\") s = \"CLOSED\";\nif (s === \"OUVERT\" || s === \"OUVERTE\") s = \"OPEN\";\nif (![\"OPEN\", \"CLOSED\", \"BLOCKED\"].includes(s)) s = \"—\";\nflow.set(\"d1\", s);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[[]]},{"id":"1cdf9466b4287c03","type":"function","z":"b5c7f3fc3bc1aae8","name":"store door2","func":"let s = (\"\" + msg.payload).trim().toUpperCase();\nif (s === \"CLOSE\") s = \"CLOSED\";\nif (s === \"FERME\" || s === \"FERMEE\") s = \"CLOSED\";\nif (s === \"OUVERT\" || s === \"OUVERTE\") s = \"OPEN\";\nif (![\"OPEN\", \"CLOSED\", \"BLOCKED\"].includes(s)) s = \"—\";\nflow.set(\"d2\", s);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":460,"wires":[[]]},{"id":"f462aa4ca4acecb8","type":"function","z":"b5c7f3fc3bc1aae8","name":"State","func":"flow.set(\"sas_state\", (\"\" + msg.payload).trim());\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":520,"wires":[[]]},{"id":"6c755399c117d9ea","type":"function","z":"b5c7f3fc3bc1aae8","name":"countdown","func":"flow.set(\"countdown\", Number(msg.payload) || 0);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":580,"wires":[[]]},{"id":"bef675c060955436","type":"function","z":"b5c7f3fc3bc1aae8","name":"temp","func":"const v = Number(msg.payload);\nif (!isNaN(v)) flow.set(\"temp\", v);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":640,"wires":[[]]},{"id":"56252bbfd1636198","type":"function","z":"b5c7f3fc3bc1aae8","name":"hum","func":"const v = Number(msg.payload);\nif (!isNaN(v)) flow.set(\"hum\", v);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":700,"wires":[[]]},{"id":"e833db6cf3ac9e2a","type":"function","z":"b5c7f3fc3bc1aae8","name":"RFID","func":"// msg.payload = {\"event\":\"RFID_OK\",\"name\":\"...\",\"uid\":\"...\"} (JSON ou string)\nlet p = msg.payload;\nif (typeof p === \"string\") {\n  try { p = JSON.parse(p); } catch(e) { p = { raw: msg.payload }; }\n}\n\nconst row = {\n  time: new Date().toLocaleString(\"fr-FR\"),\n  name: p.name || \"Unknown\",\n  uid:  p.uid  || \"\",\n  event: p.event || \"RFID\"\n};\n\nlet hist = global.get(\"rfid_hist\") || [];\nif (!Array.isArray(hist)) hist = [];\n\nhist.push(row);\n// garder max 20 (du plus ancien au plus récent)\nif (hist.length > 20) hist = hist.slice(hist.length - 20);\n\nglobal.set(\"rfid_hist\", hist);\n\n// (optionnel) sortir vers debug\nmsg.payload = row;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":760,"wires":[[]]},{"id":"de9168af602ce167","type":"function","z":"b5c7f3fc3bc1aae8","name":"Door1 No Badge","func":"global.set(\"c1\", Number(msg.payload) || 0);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":820,"wires":[[]]},{"id":"5394537d2976a776","type":"function","z":"b5c7f3fc3bc1aae8","name":"Door1 Badge","func":"global.set(\"c2\", Number(msg.payload) || 0);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":880,"wires":[[]]},{"id":"3c18f0b392f95a44","type":"function","z":"b5c7f3fc3bc1aae8","name":"Door2 No Badge","func":"global.set(\"c3\", Number(msg.payload) || 0);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":940,"wires":[[]]},{"id":"a93dfdf28f246a37","type":"function","z":"b5c7f3fc3bc1aae8","name":"Door2 Badge","func":"global.set(\"c4\", Number(msg.payload) || 0);\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1000,"wires":[[]]},{"id":"3eeef106a397465a","type":"http in","z":"b5c7f3fc3bc1aae8","name":"","url":"/api/cmd","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["0fbcac611b6c543e"]]},{"id":"0fbcac611b6c543e","type":"function","z":"b5c7f3fc3bc1aae8","name":"to mqtt","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.payload;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1100,"wires":[["e12c76866d4b15e3"]]},{"id":"e12c76866d4b15e3","type":"mqtt out","z":"b5c7f3fc3bc1aae8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2b53821b05103cc3","x":470,"y":1100,"wires":[]},{"id":"8600ae89b092a313","type":"http response","z":"b5c7f3fc3bc1aae8","name":"","statusCode":"","headers":{},"x":450,"y":1180,"wires":[]},{"id":"845596aaf0a50d15","type":"mqtt in","z":"b5c7f3fc3bc1aae8","name":"","topic":"sas/fire","qos":"2","datatype":"auto-detect","broker":"2b53821b05103cc3","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":1060,"wires":[["bde8a063cebd7bf2"]]},{"id":"bde8a063cebd7bf2","type":"function","z":"b5c7f3fc3bc1aae8","name":"Fire","func":"global.set(\"fire\", (\"\"+msg.payload).trim() === \"1\");\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1060,"wires":[[]]},{"id":"dccea42e4bc5dcb7","type":"http in","z":"337b3f6509ad4b2b","name":"","url":"/app","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":80,"y":200,"wires":[["6b3207fc106fee68"]]},{"id":"30677c1f41a5744d","type":"http response","z":"337b3f6509ad4b2b","name":"","statusCode":"","headers":{},"x":410,"y":200,"wires":[]},{"id":"6b3207fc106fee68","type":"template","z":"337b3f6509ad4b2b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>SAS — Web App</title>\n\n  <style>\n    :root{\n      --bg:#0b1220;\n      --panel:rgba(255,255,255,.08);\n      --panel2:rgba(255,255,255,.06);\n      --stroke:rgba(255,255,255,.10);\n      --text:#eaf0ff;\n      --muted:rgba(234,240,255,.68);\n\n      --blue:#2f6bff;\n      --orange:#ff9a2f;\n      --gray:#94a3b8;\n      --green:#20c997;\n      --red:#ff4d4f;\n\n      --radius:18px;\n      --shadow: 0 18px 60px rgba(0,0,0,.35);\n    }\n    body.light{\n      --bg:#f6f7fb;\n      --panel:#ffffff;\n      --panel2:#ffffff;\n      --stroke:rgba(17,24,39,.10);\n      --text:#0b1220;\n      --muted:rgba(17,24,39,.60);\n      --shadow: 0 12px 40px rgba(17,24,39,.10);\n    }\n\n    *{box-sizing:border-box}\n    body{\n      margin:0;\n      font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;\n      color:var(--text);\n      background:\n        radial-gradient(1000px 600px at 15% 15%, rgba(47,107,255,.22), transparent 60%),\n        radial-gradient(900px 550px at 90% 20%, rgba(255,154,47,.16), transparent 60%),\n        radial-gradient(900px 650px at 35% 95%, rgba(32,201,151,.12), transparent 60%),\n        var(--bg);\n    }\n\n    .app{\n      display:grid;\n      grid-template-columns: 260px 1fr;\n      min-height:100vh;\n    }\n    @media (max-width: 980px){\n      .app{grid-template-columns: 1fr}\n      .sidebar{position:sticky; top:0; z-index:5}\n    }\n\n    .sidebar{\n      padding:18px;\n      border-right:1px solid var(--stroke);\n      background: linear-gradient(180deg, var(--panel), rgba(255,255,255,.03));\n      backdrop-filter: blur(10px);\n    }\n\n    .brand{\n      display:flex; gap:12px; align-items:center;\n      padding:14px;\n      border:1px solid var(--stroke);\n      border-radius: var(--radius);\n      box-shadow: var(--shadow);\n      background: linear-gradient(180deg, rgba(255,255,255,.10), rgba(255,255,255,.04));\n    }\n    body.light .brand{background: var(--panel)}\n\n    .logo{\n      width:44px;height:44px;border-radius:16px;\n      background: linear-gradient(135deg, rgba(47,107,255,.95), rgba(255,154,47,.90));\n      box-shadow: 0 12px 35px rgba(47,107,255,.25);\n      flex:none;\n    }\n    .brand b{display:block; font-size:14px}\n    .brand span{display:block; font-size:12px; color:var(--muted); margin-top:2px}\n\n    .nav{ margin-top:14px; display:flex; flex-direction:column; gap:8px; }\n    .nav button{\n      width:100%;\n      text-align:left;\n      padding:11px 12px;\n      border-radius:14px;\n      border:1px solid var(--stroke);\n      background: var(--panel2);\n      color: var(--text);\n      font-weight:800;\n      cursor:pointer;\n      display:flex; align-items:center; justify-content:space-between;\n    }\n    .nav button.active{\n      border-color: rgba(47,107,255,.40);\n      background: rgba(47,107,255,.14);\n    }\n\n    .sideFooter{\n      margin-top:14px;\n      padding:12px;\n      border:1px solid var(--stroke);\n      border-radius: var(--radius);\n      background: var(--panel2);\n      display:flex; align-items:center; justify-content:space-between; gap:10px;\n    }\n\n    .pill{\n      display:flex; align-items:center; gap:8px;\n      padding:8px 10px; border-radius:999px;\n      border:1px solid var(--stroke);\n      background: rgba(255,255,255,.06);\n      color:var(--muted); font-weight:900; font-size:12px;\n      white-space:nowrap;\n    }\n    body.light .pill{background: rgba(17,24,39,.03)}\n    .dot{width:8px;height:8px;border-radius:50%}\n    .dot.ok{background:var(--green); box-shadow:0 0 0 6px rgba(32,201,151,.15)}\n    .dot.ko{background:var(--red); box-shadow:0 0 0 6px rgba(255,77,79,.15)}\n\n    .toggle{\n      border:1px solid var(--stroke);\n      background: var(--panel);\n      color: var(--text);\n      border-radius: 12px;\n      padding:8px 10px;\n      font-weight:900;\n      cursor:pointer;\n    }\n\n    .main{ padding:18px; }\n\n    .topbar{\n      display:flex; align-items:center; justify-content:space-between; gap:12px;\n      padding:14px 16px;\n      border:1px solid var(--stroke);\n      border-radius: var(--radius);\n      background: linear-gradient(180deg, rgba(255,255,255,.10), rgba(255,255,255,.04));\n      box-shadow: var(--shadow);\n      backdrop-filter: blur(10px);\n    }\n    body.light .topbar{background: var(--panel)}\n    .topbar h2{margin:0;font-size:16px}\n    .topbar small{color:var(--muted); font-weight:700}\n\n    /* ✅ INCENDIE banner */\n    .fireBanner{\n      margin-top:12px;\n      border-radius: var(--radius);\n      border: 1px solid rgba(255,77,79,.55);\n      background: linear-gradient(135deg, rgba(255,77,79,.28), rgba(255,77,79,.12));\n      box-shadow: 0 16px 60px rgba(255,77,79,.12);\n      padding:16px;\n      display:none;\n      align-items:center;\n      justify-content:space-between;\n      gap:12px;\n      font-weight:1000;\n    }\n    .fireBanner.show{display:flex;}\n    .fireTitle{font-size:18px; letter-spacing:.4px;}\n    .fireSub{font-size:12px; color:rgba(234,240,255,.85); font-weight:800;}\n    body.light .fireSub{color:rgba(17,24,39,.75);}\n    .fireChip{\n      padding:8px 10px;\n      border-radius:999px;\n      background: rgba(255,77,79,.22);\n      border: 1px solid rgba(255,77,79,.45);\n      font-size:12px;\n      white-space:nowrap;\n    }\n\n    .grid{\n      margin-top:14px;\n      display:grid;\n      grid-template-columns: 1.2fr 1fr 1fr;\n      gap:14px;\n    }\n    @media (max-width: 1100px){\n      .grid{grid-template-columns: 1fr}\n    }\n\n    .card{\n      border:1px solid var(--stroke);\n      background: linear-gradient(180deg, rgba(255,255,255,.08), rgba(255,255,255,.04));\n      border-radius: var(--radius);\n      padding:16px;\n      box-shadow: var(--shadow);\n      backdrop-filter: blur(10px);\n    }\n    body.light .card{background: var(--panel)}\n    .card h3{margin:0 0 10px; font-size:14px}\n    .sub{margin:-6px 0 10px; color:var(--muted); font-size:12px; font-weight:700}\n\n    .row{\n      display:flex; align-items:center; justify-content:space-between; gap:12px;\n      padding:10px 12px;\n      border-radius:14px;\n      background: rgba(255,255,255,.06);\n      border:1px solid rgba(255,255,255,.08);\n      margin:8px 0;\n    }\n    body.light .row{background: rgba(17,24,39,.03); border-color: rgba(17,24,39,.08)}\n    .row label{color:var(--muted);font-weight:900;font-size:12px}\n\n    .badge{\n      padding:8px 12px;border-radius:999px;\n      font-weight:900;font-size:12px;\n      min-width:96px;text-align:center;\n      border:1px solid rgba(255,255,255,.10);\n      background: rgba(255,255,255,.06);\n      color:var(--text);\n    }\n    body.light .badge{border-color: rgba(17,24,39,.10); background: rgba(17,24,39,.03)}\n    .OPEN{background: rgba(47,107,255,.18); border-color: rgba(47,107,255,.35)}\n    .CLOSED{background: rgba(255,154,47,.18); border-color: rgba(255,154,47,.35)}\n    .BLOCKED{background: rgba(148,163,184,.18); border-color: rgba(148,163,184,.30)}\n\n    .btnGrid{display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-top:12px}\n    .btn{\n      padding:11px 12px;border-radius:14px;border:1px solid transparent;\n      font-weight:900; cursor:pointer; letter-spacing:.2px;\n      transition: transform .08s ease, filter .12s ease;\n    }\n    .btn:active{transform:scale(.98)}\n    .btn.open{background: linear-gradient(135deg, rgba(47,107,255,.95), rgba(47,107,255,.65)); color:#fff}\n    .btn.close{background: linear-gradient(135deg, rgba(255,154,47,.95), rgba(255,154,47,.70)); color:#1b1205}\n\n    .kpi{\n      display:flex; align-items:baseline; justify-content:space-between;\n      padding:12px; border-radius:14px;\n      border:1px solid rgba(255,255,255,.08);\n      background: rgba(255,255,255,.06);\n      margin:10px 0;\n    }\n    body.light .kpi{background: rgba(17,24,39,.03); border-color: rgba(17,24,39,.08)}\n    .kpi .name{font-size:12px;color:var(--muted);font-weight:900}\n    .kpi .val{font-size:22px;font-weight:1000}\n    .unit{font-size:12px;color:var(--muted);font-weight:900;margin-left:6px}\n\n    .sparkWrap{\n      border:1px solid rgba(255,255,255,.10);\n      background: rgba(255,255,255,.04);\n      border-radius:14px;\n      padding:10px;\n      margin-top:10px;\n    }\n    body.light .sparkWrap{border-color: rgba(17,24,39,.10); background: rgba(17,24,39,.02)}\n    .sparkTitle{display:flex;justify-content:space-between;color:var(--muted);font-size:12px;font-weight:900;margin-bottom:6px}\n    svg{width:100%;height:90px;display:block}\n    .axis{stroke:rgba(255,255,255,.10)}\n    body.light .axis{stroke:rgba(17,24,39,.10)}\n    .lineT{stroke:rgba(47,107,255,.95);fill:none;stroke-width:2.5}\n    .lineH{stroke:rgba(32,201,151,.95);fill:none;stroke-width:2.5}\n\n    table{width:100%;border-collapse:separate;border-spacing:0 10px}\n    thead th{\n      text-align:left; font-size:12px; color:var(--muted);\n      font-weight:1000; padding:0 10px 6px;\n    }\n    tbody td{padding:10px 10px; font-size:12px}\n    tbody tr{\n      background: rgba(255,255,255,.06);\n      border:1px solid rgba(255,255,255,.08);\n    }\n    body.light tbody tr{background: rgba(17,24,39,.03); border-color: rgba(17,24,39,.08)}\n    tbody tr td:first-child{border-top-left-radius:14px;border-bottom-left-radius:14px}\n    tbody tr td:last-child{border-top-right-radius:14px;border-bottom-right-radius:14px}\n    .mono{font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, \"Liberation Mono\", monospace}\n    .evt{font-weight:1000}\n    .evt.ok{color:var(--green)}\n    .evt.ko{color:var(--red)}\n\n    .section{display:none}\n    .section.show{display:block}\n\n    /* ✅ Toggle switch (remplace checkbox) */\n    .sw{\n      position:relative;\n      display:inline-flex;\n      align-items:center;\n      gap:10px;\n      user-select:none;\n      cursor:pointer;\n      font-weight:900;\n      color:var(--muted);\n      font-size:12px;\n    }\n    .sw input{ display:none; }\n    .sw .track{\n      width:48px;\n      height:26px;\n      border-radius:999px;\n      border:1px solid rgba(255,255,255,.18);\n      background: rgba(148,163,184,.20);\n      position:relative;\n      transition:.18s ease;\n      box-shadow: inset 0 0 0 1px rgba(0,0,0,.10);\n    }\n    body.light .sw .track{\n      border-color: rgba(17,24,39,.18);\n      background: rgba(148,163,184,.22);\n    }\n    .sw .thumb{\n      position:absolute;\n      top:3px; left:3px;\n      width:20px; height:20px;\n      border-radius:50%;\n      background: rgba(255,255,255,.92);\n      box-shadow: 0 6px 18px rgba(0,0,0,.22);\n      transition:.18s ease;\n    }\n    .sw input:checked + .track{\n      background: rgba(32,201,151,.32);\n      border-color: rgba(32,201,151,.55);\n    }\n    .sw input:checked + .track .thumb{\n      left:25px;\n    }\n    .sw.bad input:checked + .track{\n      background: rgba(255,77,79,.28);\n      border-color: rgba(255,77,79,.55);\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"app\">\n    <aside class=\"sidebar\">\n      <div class=\"brand\">\n        <div class=\"logo\"></div>\n        <div>\n          <b>SAS — Supervision</b>\n          <span>MQTT • Node‑RED • Web UI</span>\n        </div>\n      </div>\n\n      <div class=\"nav\">\n        <button id=\"nav-doors\" class=\"active\" onclick=\"showSection('doors')\">Portes <span>›</span></button>\n        <button id=\"nav-sensors\" onclick=\"showSection('sensors')\">Capteurs <span>›</span></button>\n        <button id=\"nav-stats\" onclick=\"showSection('stats')\">Stats <span>›</span></button>\n        <button id=\"nav-rfid\" onclick=\"showSection('rfid')\">RFID <span>›</span></button>\n      </div>\n\n      <div class=\"sideFooter\">\n        <div class=\"pill\" id=\"livePill\"><span class=\"dot ok\" id=\"liveDot\"></span><span id=\"liveTxt\">Live</span></div>\n        <button class=\"toggle\" onclick=\"toggleTheme()\" title=\"Mode clair/sombre\">🌓</button>\n      </div>\n\n      <div style=\"margin-top:10px;color:var(--muted);font-size:12px;font-weight:700\">\n        URL API: <span class=\"mono\">/api/status</span> • <span class=\"mono\">/api/stats</span> • <span class=\"mono\">/api/rfid</span> • <span class=\"mono\">/api/cards</span>\n      </div>\n    </aside>\n\n    <main class=\"main\">\n      <div class=\"topbar\">\n        <div>\n          <h2 id=\"pageTitle\">Portes</h2>\n          <small id=\"pageSub\">Contrôle + statut temps réel</small>\n        </div>\n        <div class=\"pill\" id=\"lastAccess\">—</div>\n      </div>\n\n      <div id=\"fireBanner\" class=\"fireBanner\">\n        <div>\n          <div class=\"fireTitle\">INCENDIE 🔥</div>\n          <div class=\"fireSub\">Mode sécurité activé : portes ouvertes automatiquement</div>\n        </div>\n        <div class=\"fireChip\">TEMP &gt; 25°C</div>\n      </div>\n\n      <!-- DOORS -->\n      <section id=\"sec-doors\" class=\"section show\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <h3>Portes</h3>\n            <div class=\"sub\">OPEN bleu • CLOSED orangé • BLOCKED gris</div>\n\n            <div class=\"row\"><label>Porte 1</label><span id=\"d1\" class=\"badge\">—</span></div>\n            <div class=\"row\"><label>Porte 2</label><span id=\"d2\" class=\"badge\">—</span></div>\n\n            <div class=\"row\"><label>État SAS</label><b id=\"state\">—</b></div>\n            <div class=\"row\"><label>Countdown</label><b><span id=\"count\">0</span> s</b></div>\n\n            <div class=\"btnGrid\">\n              <button class=\"btn open\"  onclick=\"cmd('sas/control/door1','OPEN')\">Ouvrir P1</button>\n              <button class=\"btn close\" onclick=\"cmd('sas/control/door1','CLOSE')\">Fermer P1</button>\n              <button class=\"btn open\"  onclick=\"cmd('sas/control/door2','OPEN')\">Ouvrir P2</button>\n              <button class=\"btn close\" onclick=\"cmd('sas/control/door2','CLOSE')\">Fermer P2</button>\n            </div>\n          </div>\n\n          <div class=\"card\">\n            <h3>Capteurs (aperçu)</h3>\n            <div class=\"sub\">Dernières valeurs</div>\n\n            <div class=\"kpi\"><div class=\"name\">Température</div><div><span class=\"val\" id=\"temp\">—</span><span class=\"unit\">°C</span></div></div>\n            <div class=\"kpi\"><div class=\"name\">Humidité</div><div><span class=\"val\" id=\"hum\">—</span><span class=\"unit\">%</span></div></div>\n\n            <div class=\"sparkWrap\">\n              <div class=\"sparkTitle\"><span>Mini‑graph Temp</span><span class=\"mono\" id=\"tMinMax\">—</span></div>\n              <svg viewBox=\"0 0 300 90\">\n                <line class=\"axis\" x1=\"0\" y1=\"80\" x2=\"300\" y2=\"80\"></line>\n                <polyline id=\"sparkTemp\" class=\"lineT\" points=\"\"></polyline>\n              </svg>\n            </div>\n\n            <div class=\"sparkWrap\">\n              <div class=\"sparkTitle\"><span>Mini‑graph Hum</span><span class=\"mono\" id=\"hMinMax\">—</span></div>\n              <svg viewBox=\"0 0 300 90\">\n                <line class=\"axis\" x1=\"0\" y1=\"80\" x2=\"300\" y2=\"80\"></line>\n                <polyline id=\"sparkHum\" class=\"lineH\" points=\"\"></polyline>\n              </svg>\n            </div>\n          </div>\n\n          <div class=\"card\">\n            <h3>Stats (aperçu)</h3>\n            <div class=\"sub\">Ouvertures avec/sans badge</div>\n            <div class=\"kpi\"><div class=\"name\">P1 sans badge</div><div class=\"val\" id=\"c1\">0</div></div>\n            <div class=\"kpi\"><div class=\"name\">P1 avec badge</div><div class=\"val\" id=\"c2\">0</div></div>\n            <div class=\"kpi\"><div class=\"name\">P2 sans badge</div><div class=\"val\" id=\"c3\">0</div></div>\n            <div class=\"kpi\"><div class=\"name\">P2 avec badge</div><div class=\"val\" id=\"c4\">0</div></div>\n          </div>\n        </div>\n      </section>\n\n      <!-- SENSORS -->\n      <section id=\"sec-sensors\" class=\"section\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <h3>Température</h3>\n            <div class=\"kpi\"><div class=\"name\">Valeur</div><div><span class=\"val\" id=\"temp2\">—</span><span class=\"unit\">°C</span></div></div>\n            <div class=\"sparkWrap\">\n              <div class=\"sparkTitle\"><span>Dernières mesures</span><span class=\"mono\" id=\"tMinMax2\">—</span></div>\n              <svg viewBox=\"0 0 300 90\">\n                <line class=\"axis\" x1=\"0\" y1=\"80\" x2=\"300\" y2=\"80\"></line>\n                <polyline id=\"sparkTemp2\" class=\"lineT\" points=\"\"></polyline>\n              </svg>\n            </div>\n          </div>\n\n          <div class=\"card\">\n            <h3>Humidité</h3>\n            <div class=\"kpi\"><div class=\"name\">Valeur</div><div><span class=\"val\" id=\"hum2\">—</span><span class=\"unit\">%</span></div></div>\n            <div class=\"sparkWrap\">\n              <div class=\"sparkTitle\"><span>Dernières mesures</span><span class=\"mono\" id=\"hMinMax2\">—</span></div>\n              <svg viewBox=\"0 0 300 90\">\n                <line class=\"axis\" x1=\"0\" y1=\"80\" x2=\"300\" y2=\"80\"></line>\n                <polyline id=\"sparkHum2\" class=\"lineH\" points=\"\"></polyline>\n              </svg>\n            </div>\n          </div>\n        </div>\n      </section>\n\n      <!-- STATS -->\n      <section id=\"sec-stats\" class=\"section\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <h3>Porte 1</h3>\n            <div class=\"kpi\"><div class=\"name\">Ouverture sans badge</div><div class=\"val\" id=\"c1b\">0</div></div>\n            <div class=\"kpi\"><div class=\"name\">Ouverture avec badge</div><div class=\"val\" id=\"c2b\">0</div></div>\n          </div>\n          <div class=\"card\">\n            <h3>Porte 2</h3>\n            <div class=\"kpi\"><div class=\"name\">Ouverture sans badge</div><div class=\"val\" id=\"c3b\">0</div></div>\n            <div class=\"kpi\"><div class=\"name\">Ouverture avec badge</div><div class=\"val\" id=\"c4b\">0</div></div>\n          </div>\n        </div>\n      </section>\n\n      <!-- RFID -->\n      <section id=\"sec-rfid\" class=\"section\">\n        <div class=\"grid\">\n          <div class=\"card\">\n            <h3>Badges (CRUD)</h3>\n            <div class=\"sub\">Ajouter / autoriser / bloquer + BOSS (passe‑partout)</div>\n\n            <div class=\"row\">\n              <label>UID (ex: 8F AB 8D C2)</label>\n              <input id=\"newUid\" class=\"badge mono\" style=\"min-width:240px;text-align:left\" placeholder=\"8F AB 8D C2\">\n            </div>\n            <div class=\"row\">\n              <label>Nom</label>\n              <input id=\"newName\" class=\"badge\" style=\"min-width:240px;text-align:left\" placeholder=\"Amine\">\n            </div>\n\n            <div class=\"row\">\n              <label>Ajouter comme BOSS ?</label>\n              <label class=\"sw bad\" title=\"BOSS = passe‑partout\">\n                <input id=\"newBoss\" type=\"checkbox\">\n                <span class=\"track\"><span class=\"thumb\"></span></span>\n                <span>BOSS</span>\n              </label>\n            </div>\n\n            <div class=\"btnGrid\">\n              <button class=\"btn open\" onclick=\"addCard()\">Ajouter</button>\n              <button class=\"btn close\" onclick=\"reloadCards()\">Rafraîchir</button>\n            </div>\n\n            <div style=\"height:12px\"></div>\n\n            <table>\n              <thead>\n                <tr><th>UID</th><th>Nom</th><th>Autorisé</th><th>BOSS</th><th>Actions</th></tr>\n              </thead>\n              <tbody id=\"cards\"></tbody>\n            </table>\n          </div>\n\n          <div class=\"card\">\n            <h3>Historique RFID (20)</h3>\n            <div class=\"sub\">Derniers accès reçus sur <span class=\"mono\">sas/access</span></div>\n            <table>\n              <thead><tr><th>Heure</th><th>Nom</th><th>UID</th><th>Event</th></tr></thead>\n              <tbody id=\"rfid\"></tbody>\n            </table>\n          </div>\n        </div>\n      </section>\n    </main>\n  </div>\n\n<script>\n  // Theme\n  function applyTheme(t){\n    document.body.classList.toggle(\"light\", t === \"light\");\n    localStorage.setItem(\"sas_theme\", t);\n  }\n  function toggleTheme(){\n    const cur = localStorage.getItem(\"sas_theme\") || \"dark\";\n    applyTheme(cur === \"dark\" ? \"light\" : \"dark\");\n  }\n  applyTheme(localStorage.getItem(\"sas_theme\") || \"dark\");\n\n  // Navigation\n  const navMap = [\n    [\"doors\",\"Portes\",\"Contrôle + statut temps réel\"],\n    [\"sensors\",\"Capteurs\",\"Température & humidité + mini‑graphs\"],\n    [\"stats\",\"Stats\",\"Compteurs d’ouvertures\"],\n    [\"rfid\",\"RFID\",\"Historique des accès badge\"]\n  ];\n  function showSection(key){\n    navMap.forEach(([k])=>{\n      document.getElementById(\"sec-\"+k).classList.toggle(\"show\", k===key);\n      document.getElementById(\"nav-\"+k).classList.toggle(\"active\", k===key);\n    });\n    const item = navMap.find(x=>x[0]===key);\n    document.getElementById(\"pageTitle\").textContent = item[1];\n    document.getElementById(\"pageSub\").textContent = item[2];\n  }\n\n  // Live indicator\n  let lastOk = Date.now();\n  function setLive(ok){\n    const dot = document.getElementById(\"liveDot\");\n    const txt = document.getElementById(\"liveTxt\");\n    dot.className = \"dot \" + (ok ? \"ok\" : \"ko\");\n    txt.textContent = ok ? \"Live\" : \"Offline\";\n  }\n\n  // Incendie banner\n  function setFireBanner(on){\n    document.getElementById(\"fireBanner\").classList.toggle(\"show\", !!on);\n  }\n\n  // Badges for doors state\n  function setBadge(el, value){\n    el.className = \"badge\";\n    el.textContent = value || \"—\";\n    if([\"OPEN\",\"CLOSED\",\"BLOCKED\"].includes(value)) el.classList.add(value);\n  }\n\n  // SVG sparklines\n  const MAXPTS = 30;\n  const tempPts = [];\n  const humPts = [];\n  function pushPoint(arr, v){\n    if (typeof v !== \"number\" || Number.isNaN(v)) return;\n    arr.push(v);\n    if(arr.length > MAXPTS) arr.shift();\n  }\n  function toPolylinePoints(arr){\n    if(arr.length < 2) return \"\";\n    const min = Math.min(...arr);\n    const max = Math.max(...arr);\n    const span = (max-min) || 1;\n    return arr.map((v,i)=>{\n      const x = (i/(MAXPTS-1))*300;\n      const y = 80 - ((v - min)/span)*70;\n      return `${x.toFixed(1)},${y.toFixed(1)}`;\n    }).join(\" \");\n  }\n  function updateSpark(){\n    const tMin = tempPts.length ? Math.min(...tempPts).toFixed(1) : \"—\";\n    const tMax = tempPts.length ? Math.max(...tempPts).toFixed(1) : \"—\";\n    const hMin = humPts.length ? Math.min(...humPts).toFixed(1) : \"—\";\n    const hMax = humPts.length ? Math.max(...humPts).toFixed(1) : \"—\";\n\n    const tp = toPolylinePoints(tempPts);\n    const hp = toPolylinePoints(humPts);\n\n    [\"sparkTemp\",\"sparkTemp2\"].forEach(id=>{ const el=document.getElementById(id); if(el) el.setAttribute(\"points\", tp); });\n    [\"sparkHum\",\"sparkHum2\"].forEach(id=>{ const el=document.getElementById(id); if(el) el.setAttribute(\"points\", hp); });\n\n    [\"tMinMax\",\"tMinMax2\"].forEach(id=>{ const el=document.getElementById(id); if(el) el.textContent = `${tMin}–${tMax}`; });\n    [\"hMinMax\",\"hMinMax2\"].forEach(id=>{ const el=document.getElementById(id); if(el) el.textContent = `${hMin}–${hMax}`; });\n  }\n\n  // fetch no cache\n  async function fetchNoCache(url){\n    const u = url + (url.includes(\"?\") ? \"&\" : \"?\") + \"t=\" + Date.now();\n    return await fetch(u, { cache: \"no-store\" });\n  }\n\n  // MQTT commands (via Node-RED)\n  async function cmd(topic, payload){\n    try{\n      await fetch(\"/api/cmd\", {\n        method: \"POST\",\n        headers: {\"Content-Type\":\"application/json\"},\n        body: JSON.stringify({topic, payload})\n      });\n    }catch(e){}\n  }\n\n  // Stats normalize\n  function pickStats(st){\n    const d1n = st?.d1_open_nobadge ?? st?.c1 ?? 0;\n    const d1b = st?.d1_open_badge   ?? st?.c2 ?? 0;\n    const d2n = st?.d2_open_nobadge ?? st?.c3 ?? 0;\n    const d2b = st?.d2_open_badge   ?? st?.c4 ?? 0;\n    return { d1n, d1b, d2n, d2b };\n  }\n\n  // RFID hist normalize\n  function normalizeRfid(hist){\n    if (typeof hist === \"string\"){\n      try { hist = JSON.parse(hist); } catch(e){ hist = []; }\n    }\n    if (!Array.isArray(hist)) hist = [];\n    return hist;\n  }\n\n  // CRUD helpers\n  function normUid(u){\n    return (\"\"+u).trim().toUpperCase().replace(/[^0-9A-F]/g,\" \").replace(/\\s+/g,\" \").trim();\n  }\n\n  async function reloadCards(){\n    const db = await (await fetchNoCache(\"/api/cards\")).json();\n    const tbody = document.getElementById(\"cards\");\n    tbody.innerHTML = \"\";\n\n    if(!Array.isArray(db) || !db.length){\n      const tr = document.createElement(\"tr\");\n      tr.innerHTML = `<td colspan=\"5\" style=\"color:var(--muted);font-weight:900\">Aucun badge…</td>`;\n      tbody.appendChild(tr);\n      return;\n    }\n\n    db.forEach(x=>{\n      const uid = x.uid || \"\";\n      const enabled = !!x.enabled;\n      const master  = !!x.master;\n\n      const tr = document.createElement(\"tr\");\n      tr.innerHTML = `\n        <td class=\"mono\">${uid}</td>\n\n        <td>\n          <input class=\"badge\" style=\"min-width:180px;text-align:left\" value=\"${(x.name||\"\")}\"\n                 onkeydown=\"if(event.key==='Enter') updateName('${uid}', this.value)\">\n        </td>\n\n        <td>\n          <label class=\"sw\" title=\"Autoriser / bloquer ce badge\">\n            <input type=\"checkbox\" ${enabled ? \"checked\":\"\"}\n                   onchange=\"toggleCard('${uid}', this.checked)\">\n            <span class=\"track\"><span class=\"thumb\"></span></span>\n            <span>ON/OFF</span>\n          </label>\n        </td>\n\n        <td>\n          <label class=\"sw bad\" title=\"BOSS = passe-partout (ouvre même si bloqué)\">\n            <input type=\"checkbox\" ${master ? \"checked\":\"\"}\n                   onchange=\"toggleBoss('${uid}', this.checked)\">\n            <span class=\"track\"><span class=\"thumb\"></span></span>\n            <span>BOSS</span>\n          </label>\n        </td>\n\n        <td>\n          <button class=\"btn close\" onclick=\"delCard('${uid}')\">Supprimer</button>\n        </td>\n      `;\n      tbody.appendChild(tr);\n    });\n  }\n\n  async function addCard(){\n    const uid = normUid(document.getElementById(\"newUid\").value);\n    const name = (document.getElementById(\"newName\").value || \"\").trim();\n    const master = !!document.getElementById(\"newBoss\").checked;\n\n    if(!uid){\n      alert(\"UID vide !\");\n      return;\n    }\n\n    await fetch(\"/api/cards\", {\n      method:\"POST\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body: JSON.stringify({ uid, name, enabled:true, master })\n    });\n\n    document.getElementById(\"newUid\").value = \"\";\n    document.getElementById(\"newName\").value = \"\";\n    document.getElementById(\"newBoss\").checked = false;\n\n    await reloadCards();\n  }\n\n  async function toggleCard(uid, enabled){\n    await fetch(\"/api/cards\", {\n      method:\"PUT\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body: JSON.stringify({ uid, enabled })\n    });\n    await reloadCards();\n  }\n\n  async function toggleBoss(uid, master){\n    await fetch(\"/api/cards\", {\n      method:\"PUT\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body: JSON.stringify({ uid, master })\n    });\n    await reloadCards();\n  }\n\n  async function updateName(uid, name){\n    await fetch(\"/api/cards\", {\n      method:\"PUT\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body: JSON.stringify({ uid, name })\n    });\n    await reloadCards();\n  }\n\n  async function delCard(uid){\n    await fetch(\"/api/cards?uid=\"+encodeURIComponent(uid), { method:\"DELETE\" });\n    await reloadCards();\n  }\n\n  async function refresh(){\n    try{\n      const s = await (await fetchNoCache(\"/api/status\")).json();\n\n      const fire = (s.fire === true || s.fire === 1 || s.fire === \"1\" || s.state === \"FIRE\");\n      setFireBanner(fire);\n\n      setBadge(document.getElementById(\"d1\"), s.door1);\n      setBadge(document.getElementById(\"d2\"), s.door2);\n      document.getElementById(\"state\").textContent = s.state ?? \"—\";\n      document.getElementById(\"count\").textContent = s.countdown ?? 0;\n\n      const t = (s.temp === null || s.temp === undefined) ? NaN : Number(s.temp);\n      const h = (s.hum  === null || s.hum  === undefined) ? NaN : Number(s.hum);\n\n      document.getElementById(\"temp\").textContent = Number.isNaN(t) ? \"—\" : t.toFixed(1);\n      document.getElementById(\"hum\").textContent  = Number.isNaN(h) ? \"—\" : h.toFixed(1);\n\n      const t2 = document.getElementById(\"temp2\"); if(t2) t2.textContent = Number.isNaN(t) ? \"—\" : t.toFixed(1);\n      const h2 = document.getElementById(\"hum2\");  if(h2) h2.textContent = Number.isNaN(h) ? \"—\" : h.toFixed(1);\n\n      pushPoint(tempPts, t);\n      pushPoint(humPts, h);\n      updateSpark();\n\n      const stRaw = await (await fetchNoCache(\"/api/stats\")).json();\n      const st = pickStats(stRaw);\n      const v = (id,val)=>{ const el=document.getElementById(id); if(el) el.textContent = (val ?? 0); };\n      v(\"c1\", st.d1n); v(\"c2\", st.d1b);\n      v(\"c3\", st.d2n); v(\"c4\", st.d2b);\n      v(\"c1b\", st.d1n); v(\"c2b\", st.d1b);\n      v(\"c3b\", st.d2n); v(\"c4b\", st.d2b);\n\n      let hist = await (await fetchNoCache(\"/api/rfid\")).json();\n      hist = normalizeRfid(hist);\n\n      const tbody = document.getElementById(\"rfid\");\n      tbody.innerHTML = \"\";\n\n      if (!hist.length){\n        const tr = document.createElement(\"tr\");\n        tr.innerHTML = `<td colspan=\"4\" style=\"color:var(--muted);font-weight:900\">Aucun accès RFID pour le moment…</td>`;\n        tbody.appendChild(tr);\n      } else {\n        hist.forEach((r, idx)=>{\n          const tr = document.createElement(\"tr\");\n          const cls = (r.event===\"RFID_OK\" || r.event===\"RFID_MASTER\") ? \"ok\" : ((r.event===\"RFID_REFUSE\"||r.event===\"RFID_WAIT\") ? \"ko\" : \"\");\n          tr.innerHTML = `\n            <td>${r.time||\"\"}</td>\n            <td>${r.name||\"\"}</td>\n            <td class=\"mono\">${r.uid||\"\"}</td>\n            <td class=\"evt ${cls}\">${r.event||\"\"}</td>\n          `;\n          tbody.appendChild(tr);\n          if(idx===0){\n            document.getElementById(\"lastAccess\").textContent =\n              `${r.time||\"\"} • ${r.name||\"\"} • ${r.event||\"\"}`;\n          }\n        });\n      }\n\n      // refresh cards \"lent\"\n      if(!window._cardsTick || Date.now()-window._cardsTick > 2000){\n        window._cardsTick = Date.now();\n        reloadCards().catch(()=>{});\n      }\n\n      lastOk = Date.now();\n      setLive(true);\n    }catch(e){\n      setLive(false);\n    }\n    if(Date.now() - lastOk > 4000) setLive(false);\n  }\n\n  refresh();\n  setInterval(refresh, 1000);\n</script>\n</body>\n</html>\n","output":"str","x":240,"y":160,"wires":[["30677c1f41a5744d"]]},{"id":"a6d255fa22f2b8d2","type":"http in","z":"962ebddf0c855e42","name":"","url":"/api/rfid","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":250,"y":260,"wires":[["e0b9f4fca2d8f65e"]]},{"id":"e0b9f4fca2d8f65e","type":"function","z":"962ebddf0c855e42","name":"RF","func":"msg.statusCode = 200;\nmsg.headers = {\n  \"Content-Type\": \"application/json; charset=utf-8\",\n  \"Cache-Control\": \"no-store, no-cache, must-revalidate, proxy-revalidate\",\n  \"Pragma\": \"no-cache\",\n  \"Expires\": \"0\"\n};\n\nlet hist = global.get(\"rfid_hist\") || [];\nif (!Array.isArray(hist)) hist = [];\n\n// retourner du plus récent au plus ancien\nmsg.payload = hist.slice().reverse();\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":260,"wires":[["37d97ca0c3e02c0b"]]},{"id":"37d97ca0c3e02c0b","type":"http response","z":"962ebddf0c855e42","name":"","statusCode":"","headers":{},"x":650,"y":260,"wires":[]},{"id":"da10f3d520ec0f35","type":"http in","z":"0d306ba78d898a21","name":"","url":"/api/stats","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":330,"y":260,"wires":[["5bc67a1cefa85364"]]},{"id":"edadbb8dec0cc64c","type":"http response","z":"0d306ba78d898a21","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"5bc67a1cefa85364","type":"function","z":"0d306ba78d898a21","name":"function 3","func":"msg.headers = {\n  \"Content-Type\": \"application/json; charset=utf-8\",\n  \"Cache-Control\": \"no-store\"\n};\n\nmsg.payload = {\n  d1_open_nobadge: global.get(\"c1\") || 0,\n  d1_open_badge:   global.get(\"c2\") || 0,\n  d2_open_nobadge: global.get(\"c3\") || 0,\n  d2_open_badge:   global.get(\"c4\") || 0,\n  fire: global.get(\"fire\") || false\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":260,"wires":[["edadbb8dec0cc64c"]]},{"id":"6d8ac523ea680490","type":"function","z":"1f4c757fab62caea","name":"get","func":"function normUid(u){\n  return (\"\"+u).trim().toUpperCase()\n    .replace(/[^0-9A-F]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n  \"Content-Type\":\"application/json; charset=utf-8\",\n  \"Cache-Control\":\"no-store, no-cache, must-revalidate, proxy-revalidate\",\n  \"Pragma\":\"no-cache\",\n  \"Expires\":\"0\"\n};\n\nlet db = global.get(\"cards_db\") || [];\nif (!Array.isArray(db)) db = [];\n\n// normalisation + champs par défaut\ndb = db.map(x => ({\n  uid: normUid(x.uid),\n  name: (\"\"+(x.name||\"Unknown\")).trim() || \"Unknown\",\n  enabled: x.enabled !== false,\n  master: !!x.master\n})).filter(x => x.uid && x.uid.split(\" \").length === 4);\n\nglobal.set(\"cards_db\", db);\n\nmsg.payload = db;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":300,"wires":[["ba64d8c2bf602d0d"]]},{"id":"de2b15267b11734e","type":"function","z":"1f4c757fab62caea","name":"post","func":"function normUid(u){\n  return (\"\"+u).trim().toUpperCase()\n    .replace(/[^0-9A-F]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n  \"Content-Type\":\"application/json; charset=utf-8\",\n  \"Cache-Control\":\"no-store, no-cache, must-revalidate, proxy-revalidate\",\n  \"Pragma\":\"no-cache\",\n  \"Expires\":\"0\"\n};\n\nlet { uid, name, enabled, master } = msg.payload || {};\nuid = normUid(uid);\nname = (\"\"+(name||\"\")).trim();\n\nif (!uid || uid.split(\" \").length !== 4){\n  msg.statusCode = 400;\n  msg.payload = { ok:false, error:\"UID invalide (ex: 8F AB 8D C2)\" };\n  return msg;\n}\nif (!name) name = \"Unknown\";\n\nlet db = global.get(\"cards_db\") || [];\nif (!Array.isArray(db)) db = [];\n\nif (db.some(x => normUid(x.uid) === uid)){\n  msg.statusCode = 409;\n  msg.payload = { ok:false, error:\"UID existe déjà\" };\n  return msg;\n}\n\ndb.push({\n  uid,\n  name,\n  enabled: enabled !== false,\n  master: !!master\n});\n\nglobal.set(\"cards_db\", db);\n\nmsg.payload = { ok:true };\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["7773b4cbf1cedaf1","c2b164fc2a0dd7dd"]]},{"id":"8434a0a4c3639733","type":"function","z":"1f4c757fab62caea","name":"put","func":"function normUid(u){\n  return (\"\"+u).trim().toUpperCase()\n    .replace(/[^0-9A-F]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n  \"Content-Type\":\"application/json; charset=utf-8\",\n  \"Cache-Control\":\"no-store, no-cache, must-revalidate, proxy-revalidate\",\n  \"Pragma\":\"no-cache\",\n  \"Expires\":\"0\"\n};\n\nlet db = global.get(\"cards_db\") || [];\nif (!Array.isArray(db)) db = [];\n\nconst uid = normUid(msg.payload?.uid);\nif (!uid || uid.split(\" \").length !== 4){\n  msg.statusCode = 400;\n  msg.payload = { ok:false, error:\"uid invalide\" };\n  return msg;\n}\n\nlet c = db.find(x => normUid(x.uid) === uid);\nif (!c){\n  c = { uid, name:\"Unknown\", enabled:true, master:false };\n  db.push(c);\n}\n\nif (msg.payload.name !== undefined) c.name = (\"\"+msg.payload.name).trim() || \"Unknown\";\nif (msg.payload.enabled !== undefined) c.enabled = !!msg.payload.enabled;\nif (msg.payload.master !== undefined) c.master = !!msg.payload.master;\n\nc.uid = uid;\n\nglobal.set(\"cards_db\", db);\n\nmsg.payload = { ok:true };\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":420,"wires":[["1d3362857512778f","c2b164fc2a0dd7dd"]]},{"id":"b7eb018794b93f37","type":"function","z":"1f4c757fab62caea","name":"delete","func":"function normUid(u){\n  return (\"\"+u).trim().toUpperCase()\n    .replace(/[^0-9A-F]/g,\" \")\n    .replace(/\\s+/g,\" \")\n    .trim();\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n  \"Content-Type\":\"application/json; charset=utf-8\",\n  \"Cache-Control\":\"no-store, no-cache, must-revalidate, proxy-revalidate\",\n  \"Pragma\":\"no-cache\",\n  \"Expires\":\"0\"\n};\n\nconst uid = normUid((msg.req?.query?.uid) || \"\");\nlet db = global.get(\"cards_db\") || [];\nif (!Array.isArray(db)) db = [];\n\nconst before = db.length;\ndb = db.filter(x => normUid(x.uid) !== uid);\n\nglobal.set(\"cards_db\", db);\n\nmsg.payload = { ok:true, removed: before - db.length };\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":480,"wires":[["84268ebfdcba4994","c2b164fc2a0dd7dd"]]},{"id":"5f469817de161c5a","type":"http in","z":"1f4c757fab62caea","name":"","url":"/api/cards","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":260,"y":300,"wires":[["6d8ac523ea680490"]]},{"id":"3cea4ee5ece2bfa6","type":"http in","z":"1f4c757fab62caea","name":"","url":"/api/cards","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":300,"y":360,"wires":[["de2b15267b11734e"]]},{"id":"384d2b49ea6c744d","type":"http in","z":"1f4c757fab62caea","name":"","url":"/api/cards","method":"put","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":320,"y":420,"wires":[["8434a0a4c3639733"]]},{"id":"1dc0a45aecdd1964","type":"http in","z":"1f4c757fab62caea","name":"","url":"/api/cards","method":"delete","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":310,"y":480,"wires":[["b7eb018794b93f37"]]},{"id":"c2b164fc2a0dd7dd","type":"function","z":"1f4c757fab62caea","name":"PUBLISH_CARDS","func":"let db = global.get(\"cards_db\") || [];\nif (!Array.isArray(db)) db = [];\n\n// Important : publier master aussi\nmsg.topic = \"sas/cards\";\nmsg.payload = JSON.stringify(db);\nmsg.retain = true;     // pour que l’ESP32 reçoive même après reboot\nmsg.qos = 0;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":400,"wires":[["5ab66c5898a35cf3"]]},{"id":"5ab66c5898a35cf3","type":"mqtt out","z":"1f4c757fab62caea","name":"","topic":"sas/cards","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2b53821b05103cc3","x":1120,"y":400,"wires":[]},{"id":"ba64d8c2bf602d0d","type":"http response","z":"1f4c757fab62caea","name":"","statusCode":"","headers":{},"x":690,"y":300,"wires":[]},{"id":"84268ebfdcba4994","type":"http response","z":"1f4c757fab62caea","name":"","statusCode":"","headers":{},"x":690,"y":580,"wires":[]},{"id":"1d3362857512778f","type":"http response","z":"1f4c757fab62caea","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"7773b4cbf1cedaf1","type":"http response","z":"1f4c757fab62caea","name":"","statusCode":"","headers":{},"x":690,"y":340,"wires":[]},{"id":"09e15ba4a32f9355","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]