Ma3mel/flows.json
[{"id":"6b98e256f92974b3","type":"tab","label":"RFID Pro UI V3","disabled":false,"info":""},{"id":"aa8c3ffb3098b4ac","type":"tab","label":"Fingerprint Pro UI Final","disabled":false,"info":""},{"id":"2084df4351ba4d5c","type":"tab","label":"SAS Premium UI","disabled":false,"info":""},{"id":"sas2_flow_tab","type":"tab","label":"SAS 2","disabled":false,"info":""},{"id":"tab_sas_dark_final_fixed","type":"tab","label":"SAS DARK INDUSTRIAL FIXED","disabled":false,"info":""},{"id":"a17b295d64da5568","type":"tab","label":"RFID ACL Dynamic Doors","disabled":false,"info":""},{"id":"0d48d7c1fa71104d","type":"tab","label":"RFID ACL FINAL","disabled":false,"info":""},{"id":"7e50976590dcf35e","type":"tab","label":"Fingerprint ACL FIXED","disabled":false,"info":""},{"id":"222055ee8258a6a6","type":"tab","label":"Door Relations Factory","disabled":false,"info":""},{"id":"inside_people_tab","type":"tab","label":"Personnes à l'intérieur","disabled":false,"info":""},{"id":"c1f3c3d3.e3f3b9","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1b1c1d1.e1f1a1","type":"ui_tab","name":"Bracelet Stress","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d0e2e2c2.c2d2a2","type":"ui_group","name":"Données en temps réel","tab":"a1b1c1d1.e1f1a1","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c7fb142c1d4507f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":90,"sy":50,"gx":10,"gy":6,"cx":4,"cy":4,"px":10,"py":0}}},{"id":"2b53821b05103cc3","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"27ab9eeea2072eec","type":"ui_tab","name":"SAS","icon":"dashboard","disabled":false,"hidden":false},{"id":"4db0e58227fd3484","type":"ui_group","name":"Default","tab":"27ab9eeea2072eec","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"8d6dfae68d7d0146","type":"ui_group","name":"Portes","tab":"27ab9eeea2072eec","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"tab_sas","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"grp_status","type":"ui_group","name":"Statut","tab":"tab_sas","order":1,"disp":true,"width":"10","collapse":false},{"id":"grp_control","type":"ui_group","name":"Contrôle","tab":"tab_sas","order":2,"disp":true,"width":"4","collapse":false,"className":""},{"id":"grp_sensors","type":"ui_group","name":"Capteurs","tab":"tab_sas","order":3,"disp":true,"width":"4","collapse":false,"className":""},{"id":"grp_logs","type":"ui_group","name":"Logs","tab":"tab_sas","order":4,"disp":true,"width":"4","collapse":false,"className":""},{"id":"mqtt_broker","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"NR_SAS_DASH","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"b98fdb0d0e945b92","type":"ui_group","name":"Compteurs","tab":"tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"79e17590222ebf4f","type":"ui_group","name":"Compteurs","tab":"tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_tab_sas","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"ui_grp_status","type":"ui_group","name":"Statut","tab":"ui_tab_sas","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_control","type":"ui_group","name":"Contrôle","tab":"ui_tab_sas","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_stats","type":"ui_group","name":"Compteurs","tab":"ui_tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_sensors","type":"ui_group","name":"Capteurs","tab":"ui_tab_sas","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_grp_rfid","type":"ui_group","name":"Historique RFID","tab":"ui_tab_sas","order":5,"disp":true,"width":"12","collapse":false},{"id":"mqtt_broker_sas","type":"mqtt-broker","name":"mosquitto-test","broker":"test.mosquitto.org","port":"1883","clientid":"NR_SAS_UI_FULL","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"b4b21ad0c2b5461f","type":"ui_group","name":"Etat","tab":"ui_tab_sas","order":1,"disp":true,"width":"12","collapse":false},{"id":"05f03a0024df49b9","type":"ui_group","name":"Capteurs","tab":"ui_tab_sas","order":2,"disp":true,"width":"12","collapse":false},{"id":"4d94dd331259dd08","type":"ui_group","name":"Controle","tab":"ui_tab_sas","order":3,"disp":true,"width":"12","collapse":false},{"id":"d42d73840591351a","type":"ui_group","name":"Logs","tab":"ui_tab_sas","order":4,"disp":true,"width":"12","collapse":false},{"id":"mqtt_broker_rfid_pfe","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_pfe","type":"ui_tab","name":"RFID CRUD","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_scan_rfid_pfe","type":"ui_group","name":"RFID Scan","tab":"ui_tab_rfid_pfe","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_form_rfid_pfe","type":"ui_group","name":"Create / Update","tab":"ui_tab_rfid_pfe","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_actions_rfid_pfe","type":"ui_group","name":"Read / Delete / List","tab":"ui_tab_rfid_pfe","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_db_rfid_pfe","type":"ui_group","name":"Database RFID","tab":"ui_tab_rfid_pfe","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_rfid_pfe","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_pfe","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_real_crud","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_real_crud","type":"ui_tab","name":"RFID","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_scan_real_crud","type":"ui_group","name":"Scan RFID","tab":"ui_tab_rfid_real_crud","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_form_real_crud","type":"ui_group","name":"Create / Update","tab":"ui_tab_rfid_real_crud","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_actions_real_crud","type":"ui_group","name":"Read / Delete / List","tab":"ui_tab_rfid_real_crud","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_db_real_crud","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_real_crud","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_real_crud","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_real_crud","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_clean","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_clean","type":"ui_tab","name":"RFID","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_scan_clean","type":"ui_group","name":"Scan RFID","tab":"ui_tab_rfid_clean","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_form_clean","type":"ui_group","name":"Create / Update","tab":"ui_tab_rfid_clean","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_actions_clean","type":"ui_group","name":"Read / Delete / List","tab":"ui_tab_rfid_clean","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_db_clean","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_clean","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_clean","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_clean","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_sched_modern","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"ui_tab_rfid_sched_modern","type":"ui_tab","name":"RFID Manager","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_scan_sched_modern","type":"ui_group","name":"Scan & Status","tab":"ui_tab_rfid_sched_modern","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_form_sched_modern","type":"ui_group","name":"Badge Editor","tab":"ui_tab_rfid_sched_modern","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_db_sched_modern","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_sched_modern","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_sched_modern","type":"ui_group","name":"Notifications","tab":"ui_tab_rfid_sched_modern","order":4,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_modern_v2","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_modern_v2","type":"ui_tab","name":"RFID Modern","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_top_v2","type":"ui_group","name":"RFID Manager","tab":"ui_tab_rfid_modern_v2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_form_v2","type":"ui_group","name":"Create / Update","tab":"ui_tab_rfid_modern_v2","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_actions_v2","type":"ui_group","name":"Actions","tab":"ui_tab_rfid_modern_v2","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_table_v2","type":"ui_group","name":"Database","tab":"ui_tab_rfid_modern_v2","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_v2","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_modern_v2","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_scheduler_ui_v3","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_scheduler_ui_v3","type":"ui_tab","name":"RFID Scheduler","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_status_v3","type":"ui_group","name":"Scan & Status","tab":"ui_tab_rfid_scheduler_ui_v3","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_editor_v3","type":"ui_group","name":"Badge Editor","tab":"ui_tab_rfid_scheduler_ui_v3","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_table_v3","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_scheduler_ui_v3","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_v3","type":"ui_group","name":"Notifications","tab":"ui_tab_rfid_scheduler_ui_v3","order":4,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_pro_v1","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_pro_v1","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_status_pro_v1","type":"ui_group","name":"Status","tab":"ui_tab_rfid_pro_v1","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_stats_pro_v1","type":"ui_group","name":"Statistiques","tab":"ui_tab_rfid_pro_v1","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_editor_pro_v1","type":"ui_group","name":"Badge Editor","tab":"ui_tab_rfid_pro_v1","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_table_pro_v1","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_pro_v1","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_pro_v1","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_pro_v1","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_pro_global_v2","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ui_tab_rfid_pro_global_v2","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_css_global_v2","type":"ui_group","name":"Layout","tab":"ui_tab_rfid_pro_global_v2","order":0,"disp":false,"width":"12","collapse":false},{"id":"ui_group_status_global_v2","type":"ui_group","name":"Status","tab":"ui_tab_rfid_pro_global_v2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_stats_global_v2","type":"ui_group","name":"Statistiques","tab":"ui_tab_rfid_pro_global_v2","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_editor_global_v2","type":"ui_group","name":"Badge Editor","tab":"ui_tab_rfid_pro_global_v2","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_table_global_v2","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_pro_global_v2","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_global_v2","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_pro_global_v2","order":5,"disp":true,"width":"12","collapse":false},{"id":"broker_rfid_final_fix","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"ui_tab_rfid_final_fix","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"ui_group_css_final_fix","type":"ui_group","name":"Layout","tab":"ui_tab_rfid_final_fix","order":0,"disp":false,"width":"12","collapse":false},{"id":"ui_group_status_final_fix","type":"ui_group","name":"Status","tab":"ui_tab_rfid_final_fix","order":1,"disp":true,"width":"12","collapse":false},{"id":"ui_group_stats_final_fix","type":"ui_group","name":"Statistiques","tab":"ui_tab_rfid_final_fix","order":2,"disp":true,"width":"12","collapse":false},{"id":"ui_group_editor_final_fix","type":"ui_group","name":"Badge Editor","tab":"ui_tab_rfid_final_fix","order":3,"disp":true,"width":"12","collapse":false},{"id":"ui_group_table_final_fix","type":"ui_group","name":"RFID Database","tab":"ui_tab_rfid_final_fix","order":4,"disp":true,"width":"12","collapse":false},{"id":"ui_group_logs_final_fix","type":"ui_group","name":"Logs","tab":"ui_tab_rfid_final_fix","order":5,"disp":true,"width":"12","collapse":false},{"id":"rfid_multi_broker","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"rfid_multi_ui_tab","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"rfid_multi_ui_group_css","type":"ui_group","name":"Layout","tab":"rfid_multi_ui_tab","order":0,"disp":false,"width":"12","collapse":false},{"id":"rfid_multi_ui_group_status","type":"ui_group","name":"Status","tab":"rfid_multi_ui_tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"rfid_multi_ui_group_stats","type":"ui_group","name":"Statistiques","tab":"rfid_multi_ui_tab","order":2,"disp":true,"width":"12","collapse":false},{"id":"rfid_multi_ui_group_editor","type":"ui_group","name":"Badge Editor","tab":"rfid_multi_ui_tab","order":3,"disp":true,"width":"12","collapse":false},{"id":"rfid_multi_ui_group_table","type":"ui_group","name":"RFID Database","tab":"rfid_multi_ui_tab","order":4,"disp":true,"width":"12","collapse":false},{"id":"rfid_multi_ui_group_logs","type":"ui_group","name":"Logs","tab":"rfid_multi_ui_tab","order":5,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_broker","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"rfid_pro_ui_v2_tab_ui","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"rfid_pro_ui_v2_group_css","type":"ui_group","name":"Layout","tab":"rfid_pro_ui_v2_tab_ui","order":0,"disp":false,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_group_status","type":"ui_group","name":"Status","tab":"rfid_pro_ui_v2_tab_ui","order":1,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_group_stats","type":"ui_group","name":"Statistiques","tab":"rfid_pro_ui_v2_tab_ui","order":2,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_group_editor","type":"ui_group","name":"Badge Editor","tab":"rfid_pro_ui_v2_tab_ui","order":3,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_group_table","type":"ui_group","name":"RFID Database","tab":"rfid_pro_ui_v2_tab_ui","order":4,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v2_group_logs","type":"ui_group","name":"Logs","tab":"rfid_pro_ui_v2_tab_ui","order":5,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_broker","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"rfid_pro_ui_v3_tab_ui","type":"ui_tab","name":"RFID Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"rfid_pro_ui_v3_group_css","type":"ui_group","name":"Layout","tab":"rfid_pro_ui_v3_tab_ui","order":0,"disp":false,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_group_status","type":"ui_group","name":"Status","tab":"rfid_pro_ui_v3_tab_ui","order":1,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_group_stats","type":"ui_group","name":"Statistiques","tab":"rfid_pro_ui_v3_tab_ui","order":2,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_group_editor","type":"ui_group","name":"Badge Editor","tab":"rfid_pro_ui_v3_tab_ui","order":3,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_group_table","type":"ui_group","name":"RFID Database","tab":"rfid_pro_ui_v3_tab_ui","order":4,"disp":true,"width":"12","collapse":false},{"id":"rfid_pro_ui_v3_group_logs","type":"ui_group","name":"Logs","tab":"rfid_pro_ui_v3_tab_ui","order":5,"disp":true,"width":"12","collapse":false},{"id":"finger_broker_v1","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"finger_ui_tab_v1","type":"ui_tab","name":"Empreinte Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"finger_ui_group_css_v1","type":"ui_group","name":"Layout","tab":"finger_ui_tab_v1","order":0,"disp":false,"width":"12","collapse":false},{"id":"finger_ui_group_status_v1","type":"ui_group","name":"Status","tab":"finger_ui_tab_v1","order":1,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_group_stats_v1","type":"ui_group","name":"Statistiques","tab":"finger_ui_tab_v1","order":2,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_group_editor_v1","type":"ui_group","name":"Fingerprint Editor","tab":"finger_ui_tab_v1","order":3,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_group_table_v1","type":"ui_group","name":"Fingerprint Database","tab":"finger_ui_tab_v1","order":4,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_group_logs_v1","type":"ui_group","name":"Logs","tab":"finger_ui_tab_v1","order":5,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_broker","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"finger_ui_tab_dashboard","type":"ui_tab","name":"Empreinte Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"finger_group_css","type":"ui_group","name":"Layout","tab":"finger_ui_tab_dashboard","order":0,"disp":false,"width":"12","collapse":false},{"id":"finger_group_top","type":"ui_group","name":"Top","tab":"finger_ui_tab_dashboard","order":1,"disp":true,"width":"12","collapse":false},{"id":"finger_group_stats","type":"ui_group","name":"Statistiques","tab":"finger_ui_tab_dashboard","order":2,"disp":true,"width":"12","collapse":false},{"id":"finger_group_enroll","type":"ui_group","name":"Ajout empreinte","tab":"finger_ui_tab_dashboard","order":3,"disp":true,"width":"12","collapse":false},{"id":"finger_group_table","type":"ui_group","name":"Base empreintes","tab":"finger_ui_tab_dashboard","order":4,"disp":true,"width":"12","collapse":false},{"id":"finger_group_logs","type":"ui_group","name":"Notifications","tab":"finger_ui_tab_dashboard","order":5,"disp":true,"width":"12","collapse":false},{"id":"finger_ui_broker_fix","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"finger_ui_tab_dashboard_fix","type":"ui_tab","name":"Empreinte Pro","icon":"dashboard","disabled":false,"hidden":false},{"id":"finger_group_css_fix","type":"ui_group","name":"Layout","tab":"finger_ui_tab_dashboard_fix","order":0,"disp":false,"width":"12","collapse":false},{"id":"finger_group_top_fix","type":"ui_group","name":"Top","tab":"finger_ui_tab_dashboard_fix","order":1,"disp":true,"width":"12","collapse":false},{"id":"finger_group_stats_fix","type":"ui_group","name":"Statistiques","tab":"finger_ui_tab_dashboard_fix","order":2,"disp":true,"width":"12","collapse":false},{"id":"finger_group_enroll_fix","type":"ui_group","name":"Ajout empreinte","tab":"finger_ui_tab_dashboard_fix","order":3,"disp":true,"width":"12","collapse":false},{"id":"finger_group_table_fix","type":"ui_group","name":"Base empreintes","tab":"finger_ui_tab_dashboard_fix","order":4,"disp":true,"width":"12","collapse":false},{"id":"finger_group_logs_fix","type":"ui_group","name":"Notifications","tab":"finger_ui_tab_dashboard_fix","order":5,"disp":true,"width":"12","collapse":false},{"id":"sas_broker_hivemq","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"sas_ui_tab","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"sas_group_css","type":"ui_group","name":"Layout","tab":"sas_ui_tab","order":0,"disp":false,"width":"12","collapse":false,"className":""},{"id":"sas_group_etat","type":"ui_group","name":"Etat","tab":"sas_ui_tab","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"sas_group_capteurs","type":"ui_group","name":"Capteurs","tab":"sas_ui_tab","order":2,"disp":true,"width":"6","collapse":false},{"id":"sas_group_controle","type":"ui_group","name":"Controle","tab":"sas_ui_tab","order":3,"disp":true,"width":"4","collapse":false,"className":""},{"id":"sas_group_logs","type":"ui_group","name":"Logs","tab":"sas_ui_tab","order":4,"disp":true,"width":"4","collapse":false,"className":""},{"id":"fcf4c61c37279941","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"513ec5f70fb2211a","type":"ui_tab","name":"SAS","icon":"dashboard","order":1},{"id":"3585458fda32959f","type":"ui_group","name":"Layout","tab":"513ec5f70fb2211a","order":0,"disp":false,"width":"12","collapse":false},{"id":"03cb4242b3d15b40","type":"ui_group","name":"Vue générale","tab":"513ec5f70fb2211a","order":1,"disp":true,"width":"12","collapse":false},{"id":"sas2_broker","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"sas2_ui_tab","type":"ui_tab","name":"SAS 2","icon":"dashboard","order":2},{"id":"sas2_group_css","type":"ui_group","name":"Layout","tab":"sas2_ui_tab","order":0,"disp":false,"width":"12","collapse":false},{"id":"sas2_group_etat","type":"ui_group","name":"Etat général","tab":"sas2_ui_tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"sas2_group_capteurs","type":"ui_group","name":"Capteurs","tab":"sas2_ui_tab","order":2,"disp":true,"width":"6","collapse":false},{"id":"sas2_group_controle","type":"ui_group","name":"Contrôle","tab":"sas2_ui_tab","order":3,"disp":true,"width":"6","collapse":false},{"id":"sas2_group_logs","type":"ui_group","name":"Logs","tab":"sas2_ui_tab","order":4,"disp":true,"width":"12","collapse":false},{"id":"c874010f791b0ecd","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"6146c7dc208e7a91","type":"ui_group","name":"Portes","tab":"ui_tab_sas","order":1,"disp":true,"width":"24","collapse":false},{"id":"5417721aa4e49fca","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"b7883732b4732ad0","type":"ui_group","name":"Portes","tab":"ui_tab_sas","order":1,"disp":true,"width":"24","collapse":false},{"id":"broker_hivemq_pro","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"tab_ui_sas_pro","type":"ui_tab","name":"SAS PRO","icon":"dashboard","order":1},{"id":"group_sas_pro","type":"ui_group","name":"Supervision Portes","tab":"tab_ui_sas_pro","order":1,"disp":true,"width":"24","collapse":false},{"id":"broker_hivemq_final","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"tab_ui_final","type":"ui_tab","name":"SAS PRO FINAL","icon":"dashboard","order":1},{"id":"group_sas_final","type":"ui_group","name":"Supervision Portes","tab":"tab_ui_final","order":1,"disp":true,"width":"24","collapse":false},{"id":"broker_sas_dark","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"tab_ui_sas_dark","type":"ui_tab","name":"SAS INDUSTRIAL","icon":"dashboard","order":1},{"id":"group_sas_dark","type":"ui_group","name":"Supervision usine","tab":"tab_ui_sas_dark","order":1,"disp":true,"width":"24","collapse":false},{"id":"broker_sas_dark_fixed","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"tab_ui_sas_dark_fixed","type":"ui_tab","name":"SAS INDUSTRIAL FIXED","icon":"dashboard","order":1},{"id":"group_sas_dark_fixed","type":"ui_group","name":"Supervision usine","tab":"tab_ui_sas_dark_fixed","order":1,"disp":true,"width":"24","collapse":false},{"id":"mqtt_hivemq_dynamic","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"tab_rfid_dynamic_ui","type":"ui_tab","name":"RFID Dynamic","icon":"dashboard","disabled":false,"hidden":false},{"id":"group_status_dynamic","type":"ui_group","name":"Status","tab":"tab_rfid_dynamic_ui","order":1,"disp":true,"width":"12","collapse":false},{"id":"group_table_dynamic","type":"ui_group","name":"RFID Database","tab":"tab_rfid_dynamic_ui","order":2,"disp":true,"width":"12","collapse":false},{"id":"group_logs_dynamic","type":"ui_group","name":"Logs","tab":"tab_rfid_dynamic_ui","order":3,"disp":true,"width":"12","collapse":false},{"id":"cc43c1c5438f39a7","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"1f483979fbb68046","type":"ui_tab","name":"RFID Pro Dynamic","icon":"dashboard","disabled":false,"hidden":false},{"id":"59cfe296052feab3","type":"ui_group","name":"Status","tab":"1f483979fbb68046","order":1,"disp":true,"width":"12","collapse":false},{"id":"7c3c39486096d924","type":"ui_group","name":"Statistiques","tab":"1f483979fbb68046","order":2,"disp":true,"width":"12","collapse":false},{"id":"7e480cb2d7eb09ae","type":"ui_group","name":"Badge Editor","tab":"1f483979fbb68046","order":3,"disp":true,"width":"12","collapse":false},{"id":"3d2506170848861a","type":"ui_group","name":"RFID Database","tab":"1f483979fbb68046","order":4,"disp":true,"width":"12","collapse":false},{"id":"b1c6249cef4ab84e","type":"ui_group","name":"Logs","tab":"1f483979fbb68046","order":5,"disp":true,"width":"12","collapse":false},{"id":"mqtt_acl_broker","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"tab_rfid_acl_ui","type":"ui_tab","name":"RFID ACL","icon":"dashboard","disabled":false,"hidden":false},{"id":"group_status_acl","type":"ui_group","name":"Status","tab":"tab_rfid_acl_ui","order":1,"disp":true,"width":"12","collapse":false},{"id":"group_stats_acl","type":"ui_group","name":"Statistiques","tab":"tab_rfid_acl_ui","order":2,"disp":true,"width":"12","collapse":false},{"id":"group_editor_acl","type":"ui_group","name":"Badge Editor","tab":"tab_rfid_acl_ui","order":3,"disp":true,"width":"12","collapse":false},{"id":"group_table_acl","type":"ui_group","name":"RFID Database","tab":"tab_rfid_acl_ui","order":4,"disp":true,"width":"12","collapse":false},{"id":"group_logs_acl","type":"ui_group","name":"Logs","tab":"tab_rfid_acl_ui","order":5,"disp":true,"width":"12","collapse":false},{"id":"c8454ea4c0eb5dc6","type":"ui_tab","name":"RFID ACL","icon":"dashboard","order":1},{"id":"37aa7c55c8b3ef7b","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883"},{"id":"2bfdb23333ca6013","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"c73c25075e9ca5a8","type":"ui_tab","name":"RFID ACL FINAL","icon":"dashboard","order":1},{"id":"01ae92c5d5d19855","type":"ui_group","name":"Statistiques","tab":"c73c25075e9ca5a8","order":2,"disp":true,"width":"12"},{"id":"b8e925ca96efabb2","type":"ui_group","name":"Badge Editor","tab":"c73c25075e9ca5a8","order":3,"disp":true,"width":"12"},{"id":"fc31a310bff59558","type":"ui_group","name":"Database","tab":"c73c25075e9ca5a8","order":4,"disp":true,"width":"12"},{"id":"mqtt_finger_acl_broker","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"tab_finger_acl_ui","type":"ui_tab","name":"Empreinte ACL FINAL","icon":"dashboard","order":1},{"id":"grp_finger_status","type":"ui_group","name":"Status","tab":"tab_finger_acl_ui","order":1,"disp":true,"width":"12"},{"id":"grp_finger_stats","type":"ui_group","name":"Statistiques","tab":"tab_finger_acl_ui","order":2,"disp":true,"width":"12"},{"id":"grp_finger_editor","type":"ui_group","name":"Empreinte Editor","tab":"tab_finger_acl_ui","order":3,"disp":true,"width":"12"},{"id":"grp_finger_table","type":"ui_group","name":"Database","tab":"tab_finger_acl_ui","order":4,"disp":true,"width":"12"},{"id":"grp_finger_logs","type":"ui_group","name":"Logs","tab":"tab_finger_acl_ui","order":5,"disp":true,"width":"12"},{"id":"broker_relations","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"tab_relations_ui","type":"ui_tab","name":"Factory Relations","icon":"dashboard","order":1},{"id":"group_relations","type":"ui_group","name":"Plan usine","tab":"tab_relations_ui","order":1,"disp":true,"width":"24","collapse":false},{"id":"group_relations_logs","type":"ui_group","name":"Logs","tab":"tab_relations_ui","order":2,"disp":true,"width":"24","collapse":false},{"id":"inside_broker","type":"mqtt-broker","name":"HiveMQ Public","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true},{"id":"inside_tab_ui","type":"ui_tab","name":"Inside People","icon":"people","order":1},{"id":"inside_group_main","type":"ui_group","name":"Présence intérieure","tab":"inside_tab_ui","order":1,"disp":true,"width":"24","collapse":false},{"id":"inside_group_logs","type":"ui_group","name":"Logs","tab":"inside_tab_ui","order":2,"disp":true,"width":"24","collapse":false},{"id":"5050df4293a271bc","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_css","name":"Full Width CSS","order":1,"width":"0","height":"0","format":"","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"global","className":"","x":140,"y":40,"wires":[[]]},{"id":"c89f5c9252962ab2","type":"mqtt in","z":"6b98e256f92974b3","name":"RFID scanned","topic":"sas/door1/rfid","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":100,"wires":[["e3c30faa85b62cdf"]]},{"id":"8bebe5d4f5210517","type":"mqtt in","z":"6b98e256f92974b3","name":"Notify","topic":"sas/notify","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":150,"wires":[["7b5026b23a9aaac8"]]},{"id":"3571fb4b9fbde2b7","type":"mqtt in","z":"6b98e256f92974b3","name":"RFID consume","topic":"sas/door1/rfid_consume","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":200,"wires":[["71b7dc50149bf894"]]},{"id":"e3c30faa85b62cdf","type":"function","z":"6b98e256f92974b3","name":"Store last UID","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nlet raw = String(msg.payload || '').trim().toUpperCase();\nlet norm = normalizeUid(raw);\nglobal.set('lastScannedUid', norm, 'file');\nreturn [\n  { topic:'lastUid', payload: raw },\n  { payload:'Dernier UID scanné : ' + raw + ' | normalisé : ' + norm }\n];","outputs":2,"noerr":0,"x":330,"y":100,"wires":[["51e826f8939d43d1"],["793db266af01abd1"]]},{"id":"7b5026b23a9aaac8","type":"function","z":"6b98e256f92974b3","name":"Parse notify advanced","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nfunction fmtEpoch(sec){\n  sec = Number(sec || 0);\n  if (!sec) return '-';\n  let d = new Date(sec * 1000);\n  let dd = String(d.getDate()).padStart(2,'0');\n  let mm = String(d.getMonth()+1).padStart(2,'0');\n  let yyyy = d.getFullYear();\n  let hh = String(d.getHours()).padStart(2,'0');\n  let mi = String(d.getMinutes()).padStart(2,'0');\n  return dd + '/' + mm + '/' + yyyy + ' à ' + hh + ':' + mi;\n}\nlet text = '';\ntry {\n  let o = JSON.parse(msg.payload);\n  let uid = normalizeUid(o.uid || '');\n  let name = o.name || '-';\n  let baseMsg = String(o.message || 'Notification');\n  let db = global.get('rfid_db', 'file') || [];\n  let found = db.find(x => normalizeUid(x.uid) === uid);\n\n  if (found && (baseMsg.toLowerCase().includes('pas encore autorisé') || baseMsg.toLowerCase().includes('too early') || baseMsg.toLowerCase().includes('trop tôt'))) {\n    text = 'Accès refusé | UID: ' + uid + ' | Nom: ' + (found.name || name) + ' | Autorisation débute le ' + fmtEpoch(found.allowedFrom) + ' | Fin prévue le ' + fmtEpoch(found.allowedTo);\n  }\n  else if (found && (baseMsg.toLowerCase().includes('expir') || baseMsg.toLowerCase().includes('expired'))) {\n    text = 'Accès refusé | UID: ' + uid + ' | Nom: ' + (found.name || name) + ' | Autorisation terminée le ' + fmtEpoch(found.allowedTo);\n  }\n  else {\n    text = baseMsg + ' | UID: ' + (uid || '-') + ' | Nom: ' + (found ? found.name : name || '-');\n  }\n} catch(e) {\n  text = String(msg.payload);\n}\nreturn [\n  { topic:'notify', payload:text },\n  { payload:text }\n];","outputs":2,"noerr":0,"x":350,"y":150,"wires":[["51e826f8939d43d1"],["793db266af01abd1"]]},{"id":"71b7dc50149bf894","type":"function","z":"6b98e256f92974b3","name":"Increment usedCount","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nlet uid = normalizeUid(msg.payload);\nlet db = global.get('rfid_db', 'file') || [];\nlet idx = db.findIndex(x => normalizeUid(x.uid) === uid);\nif (idx >= 0) {\n  db[idx].usedCount = Number(db[idx].usedCount || 0) + 1;\n  db[idx].uid = normalizeUid(db[idx].uid);\n  global.set('rfid_db', db, 'file');\n  return [\n    { payload: db },\n    { payload: db },\n    { topic:'sas/rfid/db', payload: JSON.stringify(db), retain:true },\n    { payload:'Consommation enregistrée pour ' + uid }\n  ];\n}\nreturn [null,null,null,{ payload:'UID consume non trouvé: ' + uid }];","outputs":4,"noerr":0,"x":350,"y":200,"wires":[["b5f3e185fe3b3ae0"],["bb402d5030cbb3d5"],["73381f96e6895fa5"],["793db266af01abd1"]]},{"id":"51e826f8939d43d1","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_status","name":"Status Cards","order":1,"width":"12","height":"5","format":"<style>.top-grid{display:grid;grid-template-columns:1.1fr 1.6fr;gap:16px;font-family:Arial,sans-serif}.glass{background:linear-gradient(135deg,#ffffff,#f8fbff);border:1px solid #dbeafe;border-radius:22px;padding:20px;box-shadow:0 12px 30px rgba(15,23,42,.08)}.mini{font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.08em;margin-bottom:10px}.big{font-size:34px;font-weight:800;color:#0f172a;word-break:break-word}.notify{font-size:15px;font-weight:700;color:#b91c1c;line-height:1.6}.btn-main{margin-top:14px;background:linear-gradient(135deg,#0ea5e9,#0284c7);border:none;color:#fff;padding:12px 18px;border-radius:14px;font-weight:800;cursor:pointer}</style><div class='top-grid'><div class='glass'><div class='mini'>Dernier UID scanné</div><div class='big'>{{lastUid || '-'}}</div><button class='btn-main' ng-click='useLast()'>Utiliser dernier UID</button></div><div class='glass'><div class='mini'>Dernière notification détaillée</div><div class='notify'>{{lastNotify || 'Aucune notification'}}</div></div></div><script>(function(scope){scope.lastUid='-';scope.lastNotify='Aucune notification';scope.useLast=function(){scope.send({payload:{action:'useLast'}})};scope.$watch('msg',function(msg){if(!msg)return;if(msg.topic==='lastUid')scope.lastUid=msg.payload;if(msg.topic==='notify')scope.lastNotify=msg.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":120,"wires":[["70234f0fbc119622"]]},{"id":"70234f0fbc119622","type":"function","z":"6b98e256f92974b3","name":"Handle status action","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nlet p = msg.payload || {};\nif (p.action === 'useLast') {\n  let uid = normalizeUid(global.get('lastScannedUid', 'file') || '');\n  global.set('selectedUid', uid, 'file');\n  let db = global.get('rfid_db', 'file') || [];\n  let found = db.find(x => normalizeUid(x.uid) === uid) || {\n    uid: uid,\n    name: '',\n    enabled: true,\n    startDate: '',\n    startTime: '',\n    endDate: '',\n    endTime: '',\n    maxUses: 0,\n    usedCount: 0\n  };\n  return [\n    { payload: uid },\n    { payload: found },\n    { payload: 'UID repris: ' + uid }\n  ];\n}\nreturn [null,null,null];","outputs":3,"noerr":0,"x":830,"y":120,"wires":[["a61c8fe1e6a326f0"],["89f0e87488ba3a6e","1e5eedef84cc80c1"],["793db266af01abd1"]]},{"id":"a61c8fe1e6a326f0","type":"ui_text","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_status","order":2,"width":"12","height":"1","name":"Selected UID","label":"UID sélectionné","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":100,"wires":[]},{"id":"bb402d5030cbb3d5","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_stats","name":"Stats Cards","order":1,"width":"12","height":"4","format":"<style>.stats-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:16px;font-family:Arial,sans-serif}.s-card{border-radius:22px;padding:18px;color:#fff;box-shadow:0 14px 28px rgba(15,23,42,.14)}.c1{background:linear-gradient(135deg,#2563eb,#1d4ed8)}.c2{background:linear-gradient(135deg,#16a34a,#15803d)}.c3{background:linear-gradient(135deg,#ef4444,#dc2626)}.c4{background:linear-gradient(135deg,#7c3aed,#6d28d9)}.ttl{font-size:12px;text-transform:uppercase;letter-spacing:.08em;opacity:.9}.num{font-size:34px;font-weight:900;margin-top:8px}</style><div class='stats-grid'><div class='s-card c1'><div class='ttl'>Total badges</div><div class='num'>{{total}}</div></div><div class='s-card c2'><div class='ttl'>Enabled</div><div class='num'>{{enabled}}</div></div><div class='s-card c3'><div class='ttl'>Disabled</div><div class='num'>{{disabled}}</div></div><div class='s-card c4'><div class='ttl'>Utilisations totales</div><div class='num'>{{uses}}</div></div></div><script>(function(scope){scope.total=0;scope.enabled=0;scope.disabled=0;scope.uses=0;scope.$watch('msg',function(msg){if(!msg||!msg.payload)return;let db=msg.payload||[];scope.total=db.length;scope.enabled=db.filter(x=>x.enabled).length;scope.disabled=db.filter(x=>!x.enabled).length;scope.uses=db.reduce((s,x)=>s+Number(x.usedCount||0),0);});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":240,"wires":[[]]},{"id":"1e5eedef84cc80c1","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_editor","name":"Modern Editor","order":1,"width":"12","height":"11","format":"<style>.editor-wrap{font-family:Arial,sans-serif;background:#fff;border-radius:24px;padding:22px;box-shadow:0 14px 30px rgba(15,23,42,.08);border:1px solid #e2e8f0}.editor-title{font-size:28px;font-weight:900;color:#0f172a;margin-bottom:8px}.editor-sub{font-size:13px;color:#64748b;margin-bottom:18px}.editor-grid{display:grid;grid-template-columns:1fr 1fr;gap:14px}.editor-field{display:flex;flex-direction:column}.editor-field label{font-size:13px;font-weight:800;color:#475569;margin-bottom:6px}.editor-field input,.editor-field select{padding:12px;border:1px solid #cbd5e1;border-radius:14px;font-size:15px;background:#fff}.editor-note{margin-top:10px;font-size:12px;color:#475569;background:#f8fafc;padding:10px 12px;border-radius:12px;border:1px solid #e2e8f0}.editor-actions{margin-top:18px;display:flex;gap:12px;flex-wrap:wrap}.editor-btn{border:none;border-radius:12px;padding:12px 18px;color:#fff;font-weight:800;cursor:pointer}.btn-save{background:linear-gradient(135deg,#0ea5e9,#0284c7)}.btn-list{background:linear-gradient(135deg,#16a34a,#15803d)}.btn-read{background:linear-gradient(135deg,#0891b2,#0e7490)}.btn-delete{background:linear-gradient(135deg,#ef4444,#dc2626)}</style><div class='editor-wrap'><div class='editor-title'>Créer / Modifier badge</div><div class='editor-sub'>Début et fin peuvent être le même jour.</div><div class='editor-grid'><div class='editor-field'><label>UID</label><input type='text' ng-model='form.uid' placeholder='ex: 3D6F3B05'></div><div class='editor-field'><label>Nom</label><input type='text' ng-model='form.name' placeholder='ex: Visiteur'></div><div class='editor-field'><label>Date début</label><input type='date' ng-model='form.startDate'></div><div class='editor-field'><label>Heure début</label><input type='time' ng-model='form.startTime'></div><div class='editor-field'><label>Date fin</label><input type='date' ng-model='form.endDate'></div><div class='editor-field'><label>Heure fin</label><input type='time' ng-model='form.endTime'></div><div class='editor-field'><label>Max utilisations (0 = illimité)</label><input type='number' min='0' ng-model='form.maxUses'></div><div class='editor-field'><label>Etat</label><select ng-model='form.enabled'><option value='true'>Enabled</option><option value='false'>Disabled</option></select></div></div><div class='editor-note'>Même jour autorisé. Exemple : début 08/04/2026 08:00 et fin 08/04/2026 12:00.</div><div class='editor-actions'><button class='editor-btn btn-save' ng-click='saveBadge()'>Save badge</button><button class='editor-btn btn-list' ng-click='listBadges()'>List</button><button class='editor-btn btn-read' ng-click='readBadge()'>Read</button><button class='editor-btn btn-delete' ng-click='deleteBadge()'>Delete</button></div></div><script>(function(scope){function fmtDate(v){if(!v) return '';if(Object.prototype.toString.call(v)==='[object Date]' && !isNaN(v)){let y=v.getFullYear();let m=String(v.getMonth()+1).padStart(2,'0');let d=String(v.getDate()).padStart(2,'0');return y+'-'+m+'-'+d;}v=String(v).trim();if(v.includes('T')) return v.substring(0,10);if(/^\\d{4}-\\d{2}-\\d{2}$/.test(v)) return v;return v;}function fmtTime(v){if(!v) return '';if(Object.prototype.toString.call(v)==='[object Date]' && !isNaN(v)){let h=String(v.getHours()).padStart(2,'0');let m=String(v.getMinutes()).padStart(2,'0');return h+':'+m;}v=String(v).trim();if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m) return m[1]+':'+m[2];}if(/^\\d{2}:\\d{2}:\\d{2}$/.test(v)) return v.substring(0,5);if(/^\\d{2}:\\d{2}$/.test(v)) return v;return v;}scope.form={uid:'',name:'',startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,enabled:'true'};scope.saveBadge=function(){var f=angular.copy(scope.form);f.startDate=fmtDate(f.startDate);f.startTime=fmtTime(f.startTime);f.endDate=fmtDate(f.endDate);f.endTime=fmtTime(f.endTime);scope.send({payload:{action:'save',uid:String(f.uid||'').trim().toUpperCase(),data:f}})};scope.listBadges=function(){scope.send({payload:{action:'list'}})};scope.readBadge=function(){scope.send({payload:{action:'read',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.deleteBadge=function(){scope.send({payload:{action:'delete',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.$watch('msg',function(msg){if(!msg||!msg.payload)return;if(msg.payload.uid!==undefined){scope.form.uid=msg.payload.uid||'';scope.form.name=msg.payload.name||'';scope.form.startDate=msg.payload.startDate||'';scope.form.startTime=msg.payload.startTime||'';scope.form.endDate=msg.payload.endDate||'';scope.form.endTime=msg.payload.endTime||'';scope.form.maxUses=(msg.payload.maxUses!==undefined?msg.payload.maxUses:0);scope.form.enabled=String(msg.payload.enabled!==false);}});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":360,"wires":[["b3bf03ce9d8b006e"]]},{"id":"b3bf03ce9d8b006e","type":"function","z":"6b98e256f92974b3","name":"Handle editor actions","func":"function normalizeUid(uid){uid=String(uid||'').trim().toUpperCase();let out='';for(let i=0;i<uid.length;i++){let c=uid[i];if((c>='0'&&c<='9')||(c>='A'&&c<='F')) out+=c;}return out;}function cleanDateOnly(v){if(v===undefined||v===null) return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let y=v.getFullYear();let m=String(v.getMonth()+1).padStart(2,'0');let d=String(v.getDate()).padStart(2,'0');return y+'-'+m+'-'+d;}v=String(v).trim();if(!v) return '';if(v.includes('T')) return v.substring(0,10);if(/^\\d{4}-\\d{2}-\\d{2}$/.test(v)) return v;if(/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(v)){let p=v.split('/');return p[2]+'-'+p[1]+'-'+p[0];}return '';}function cleanTimeOnly(v){if(v===undefined||v===null) return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let h=String(v.getHours()).padStart(2,'0');let m=String(v.getMinutes()).padStart(2,'0');return h+':'+m;}v=String(v).trim();if(!v) return '';if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m) return m[1]+':'+m[2];}if(/^\\d{2}:\\d{2}:\\d{2}$/.test(v)) return v.substring(0,5);if(/^\\d{2}:\\d{2}$/.test(v)) return v;return '';}function toEpochLocal(dateStr,timeStr){dateStr=cleanDateOnly(dateStr);timeStr=cleanTimeOnly(timeStr);if(!dateStr||!timeStr) return 0;let partsD=dateStr.split('-');let partsT=timeStr.split(':');let y=parseInt(partsD[0],10);let m=parseInt(partsD[1],10);let d=parseInt(partsD[2],10);let hh=parseInt(partsT[0],10);let mm=parseInt(partsT[1],10);let dt=new Date(y,m-1,d,hh,mm,0,0);if(isNaN(dt.getTime())) return 0;return Math.floor(dt.getTime()/1000);}let db=global.get('rfid_db','file')||[];db=db.map(card=>{card.uid=normalizeUid(card.uid);return card;});let p=msg.payload||{};let action=String(p.action||'');let rawUid=String(p.uid||(p.data&&p.data.uid)||'').trim().toUpperCase();let uid=normalizeUid(rawUid);if(action==='list'){global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Liste RFID: '+db.length+' badge(s)'},null,null];}if(uid) global.set('selectedUid',uid,'file');if(action==='read'){if(!uid) return [null,null,{payload:'Erreur: UID vide pour lecture'},null,null];let found=db.find(x=>normalizeUid(x.uid)===uid);if(!found) return [null,null,{payload:'Badge '+uid+' introuvable dans '+db.length+' badge(s)'},null,null];return [null,null,{payload:'Badge trouvé: '+found.name+' ('+uid+')'},{payload:found},null];}if(action==='delete'){if(!uid) return [null,null,{payload:'Erreur: UID vide pour suppression'},null,null];let before=db.length;db=db.filter(x=>normalizeUid(x.uid)!==uid);global.set('rfid_db',db,'file');let dbJson=JSON.stringify(db);return[{payload:db},{payload:db},{payload:'Badge '+uid+' supprimé ('+before+' → '+db.length+')'},null,{topic:'sas/rfid/db',payload:dbJson,retain:true}];}if(action==='save'){let d=(p.data&&typeof p.data==='object')?p.data:p;let saveUid=normalizeUid(p.uid||d.uid||'');let name=String(d.name||'').trim();let startDate=cleanDateOnly(d.startDate);let startTime=cleanTimeOnly(d.startTime);let endDate=cleanDateOnly(d.endDate);let endTime=cleanTimeOnly(d.endTime);let maxUses=parseInt(String(d.maxUses!==undefined?d.maxUses:0),10);if(isNaN(maxUses)||maxUses<0) maxUses=0;let enabled=String(d.enabled!==undefined?d.enabled:'true')==='true';let allowedFrom=toEpochLocal(startDate,startTime);let allowedTo=toEpochLocal(endDate,endTime);if(!saveUid) return [null,null,{payload:'Erreur: UID obligatoire'},null,null];if(!name) return [null,null,{payload:'Erreur: Nom obligatoire'},null,null];if(!startDate||!startTime||!endDate||!endTime) return [null,null,{payload:'Erreur: date et heure début/fin obligatoires'},null,null];if(allowedTo<=allowedFrom) return [null,null,{payload:'Erreur: la fin doit être après le début. Le même jour est autorisé si l’heure fin > heure début.'},null,null];let idx=db.findIndex(x=>normalizeUid(x.uid)===saveUid);let actionText='créé';if(idx>=0){let usedCount=Number(db[idx].usedCount||0);db[idx]={uid:saveUid,name,enabled,startDate,startTime,endDate,endTime,allowedFrom,allowedTo,maxUses,usedCount};actionText='modifié';}else{db.push({uid:saveUid,name,enabled,startDate,startTime,endDate,endTime,allowedFrom,allowedTo,maxUses,usedCount:0});}global.set('rfid_db',db,'file');let found=db.find(x=>normalizeUid(x.uid)===saveUid);let dbJson=JSON.stringify(db);return[{payload:db},{payload:db},{payload:'✓ Badge '+saveUid+' '+actionText+' | Total: '+db.length+' badge(s)'},{payload:found},{topic:'sas/rfid/db',payload:dbJson,retain:true}];}return [null,null,{payload:'Action inconnue: '+action},null,null];","outputs":5,"noerr":0,"x":360,"y":360,"wires":[["b5f3e185fe3b3ae0"],["bb402d5030cbb3d5"],["793db266af01abd1"],["1e5eedef84cc80c1","89f0e87488ba3a6e"],["73381f96e6895fa5"]]},{"id":"89f0e87488ba3a6e","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_editor","name":"Selected Record","order":2,"width":"12","height":"5","format":"<div style='background:#fff;border-radius:22px;padding:18px;box-shadow:0 12px 28px rgba(15,23,42,.08);border:1px solid #e2e8f0;font-family:Arial,sans-serif'><div style='font-size:20px;font-weight:900;color:#0f172a;margin-bottom:10px'>Badge sélectionné</div><pre style='margin:0;white-space:pre-wrap;color:#334155;font-size:14px'>{{msg.payload | json}}</pre></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":360,"wires":[[]]},{"id":"b5f3e185fe3b3ae0","type":"ui_template","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_table","name":"Modern RFID Table","order":1,"width":"12","height":"12","format":"<style>.table-wrap{font-family:Arial,sans-serif;background:#fff;border-radius:24px;padding:18px;box-shadow:0 14px 30px rgba(15,23,42,.08);border:1px solid #e2e8f0;overflow:auto}.table-title{font-size:28px;font-weight:900;color:#0f172a;margin-bottom:14px}.table-main{width:100%;border-collapse:collapse}.table-main th{background:#f8fafc;color:#334155;padding:12px;font-size:12px;text-transform:uppercase;letter-spacing:.08em}.table-main td{padding:12px;border-bottom:1px solid #e2e8f0;vertical-align:middle}.state-on{display:inline-block;padding:5px 12px;border-radius:999px;background:#dcfce7;color:#166534;font-weight:900}.state-off{display:inline-block;padding:5px 12px;border-radius:999px;background:#fee2e2;color:#991b1b;font-weight:900}.switch{position:relative;display:inline-block;width:54px;height:28px}.switch input{opacity:0;width:0;height:0}.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:#ef4444;transition:.3s;border-radius:999px}.slider:before{position:absolute;content:'';height:22px;width:22px;left:3px;bottom:3px;background:white;transition:.3s;border-radius:50%}input:checked + .slider{background:#22c55e}input:checked + .slider:before{transform:translateX(26px)}.btn{border:none;border-radius:10px;padding:8px 12px;font-weight:800;color:#fff;cursor:pointer;margin-right:6px}.btn-select{background:#0ea5e9}.btn-delete{background:#ef4444}.muted{color:#64748b;padding:20px;text-align:center;font-size:16px}</style><div class='table-wrap'><div class='table-title'>RFID Database ({{msg.payload ? msg.payload.length : 0}} badge(s))</div><div ng-if='!msg.payload || msg.payload.length===0' class='muted'>Aucun badge enregistré</div><table ng-if='msg.payload && msg.payload.length>0' class='table-main'><tr><th>UID</th><th>Nom</th><th>Agenda</th><th>Utilisations</th><th>Etat</th><th>Toggle</th><th>Actions</th></tr><tr ng-repeat='row in msg.payload track by $index'><td><b>{{row.uid}}</b></td><td>{{row.name}}</td><td><div><b>Début:</b> {{row.startDate || '-'}} {{row.startTime || ''}}</div><div><b>Fin:</b> {{row.endDate || '-'}} {{row.endTime || ''}}</div></td><td>{{row.usedCount || 0}} / {{row.maxUses && row.maxUses>0 ? row.maxUses : '∞'}}</td><td><span ng-if='row.enabled' class='state-on'>ENABLED</span><span ng-if='!row.enabled' class='state-off'>DISABLED</span></td><td><label class='switch'><input type='checkbox' ng-checked='row.enabled' ng-click=\"send({payload:{action:'toggle',uid:row.uid,enabled:!row.enabled}})\"><span class='slider'></span></label></td><td><button class='btn btn-select' ng-click=\"send({payload:{action:'select',uid:row.uid}})\">Select</button><button class='btn btn-delete' ng-click=\"send({payload:{action:'delete',uid:row.uid}})\">Delete</button></td></tr></table></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":510,"wires":[["9b329f91f39d51c8"]]},{"id":"9b329f91f39d51c8","type":"function","z":"6b98e256f92974b3","name":"Handle table actions","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nlet db = global.get('rfid_db', 'file') || [];\ndb = db.map(card => { card.uid = normalizeUid(card.uid); return card; });\nlet p = msg.payload || {};\nlet uid = normalizeUid(p.uid || '');\nlet action = String(p.action || '');\nif (!uid) return [null,null,{ payload:'UID invalide' },null,null];\nif (action === 'select') {\n  global.set('selectedUid', uid, 'file');\n  let found = db.find(x => normalizeUid(x.uid) === uid) || { uid: uid };\n  return [null,null,{ payload:'Badge ' + uid + ' sélectionné' },{ payload:found },null];\n}\nif (action === 'delete') {\n  db = db.filter(x => normalizeUid(x.uid) !== uid);\n  global.set('rfid_db', db, 'file');\n  let dbJson = JSON.stringify(db);\n  return [\n    { payload: db },\n    { payload: db },\n    { payload:'Badge ' + uid + ' supprimé' },\n    null,\n    { topic:'sas/rfid/db', payload:dbJson, retain:true }\n  ];\n}\nif (action === 'toggle') {\n  let idx = db.findIndex(x => normalizeUid(x.uid) === uid);\n  if (idx < 0) return [null,null,{ payload:'Badge ' + uid + ' introuvable' },null,null];\n  db[idx].enabled = !!p.enabled;\n  global.set('rfid_db', db, 'file');\n  let dbJson = JSON.stringify(db);\n  return [\n    { payload: db },\n    { payload: db },\n    { payload:'Badge ' + uid + ' ' + (db[idx].enabled ? 'activé' : 'désactivé') },\n    { payload:db[idx] },\n    { topic:'sas/rfid/db', payload:dbJson, retain:true }\n  ];\n}\nreturn [null,null,{ payload:'Action inconnue: ' + action },null,null];","outputs":5,"noerr":0,"x":880,"y":510,"wires":[["b5f3e185fe3b3ae0"],["bb402d5030cbb3d5"],["793db266af01abd1"],["1e5eedef84cc80c1","89f0e87488ba3a6e"],["73381f96e6895fa5"]]},{"id":"73381f96e6895fa5","type":"mqtt out","z":"6b98e256f92974b3","name":"Publish RFID DB","topic":"sas/rfid/db","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1f3c3d3.e3f3b9","x":1130,"y":500,"wires":[]},{"id":"793db266af01abd1","type":"ui_text","z":"6b98e256f92974b3","group":"rfid_pro_ui_v3_group_logs","order":1,"width":"12","height":"1","name":"Logs","label":"Notification / Log","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":580,"wires":[]},{"id":"0bd6edaa3abb71ee","type":"inject","z":"6b98e256f92974b3","name":"Init DB","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":90,"y":650,"wires":[["51c6a9926c2488ad"]]},{"id":"51c6a9926c2488ad","type":"function","z":"6b98e256f92974b3","name":"Init DB if empty","func":"function normalizeUid(uid){\n  uid = String(uid || '').trim().toUpperCase();\n  let out = '';\n  for (let i=0;i<uid.length;i++) {\n    let c = uid[i];\n    if ((c >= '0' && c <= '9') || (c >= 'A' && c <= 'F')) out += c;\n  }\n  return out;\n}\nlet db = global.get('rfid_db', 'file');\nif (!db) {\n  db = [];\n} else {\n  db = db.map(card => { card.uid = normalizeUid(card.uid); return card; });\n}\nglobal.set('rfid_db', db, 'file');\nlet dbJson = JSON.stringify(db);\nreturn [\n  { payload: db },\n  { payload: db },\n  { payload: 'Base RFID initialisée : ' + db.length + ' badge(s)' },\n  { topic:'sas/rfid/db', payload:dbJson, retain:true }\n];","outputs":4,"noerr":0,"x":320,"y":650,"wires":[["b5f3e185fe3b3ae0"],["bb402d5030cbb3d5"],["793db266af01abd1"],["73381f96e6895fa5"]]},{"id":"5a34c0b22fd83808","type":"ui_template","z":"aa8c3ffb3098b4ac","group":"finger_group_css_fix","name":"Theme CSS","order":1,"width":"0","height":"0","format":"<style>\n:root{\n  --fp-bg:#f4f7fb;\n  --fp-card:#ffffff;\n  --fp-text:#0f172a;\n  --fp-muted:#64748b;\n  --fp-border:#dbeafe;\n}\nhtml.fp-dark{\n  --fp-bg:#0f172a;\n  --fp-card:#111827;\n  --fp-text:#e5e7eb;\n  --fp-muted:#94a3b8;\n  --fp-border:#334155;\n}\n.nr-dashboard-theme md-content{max-width:100%!important;background:var(--fp-bg)!important;color:var(--fp-text)!important}\n.nr-dashboard-cardcontainer{width:100%!important;max-width:100%!important}\n.nr-dashboard-theme .nr-dashboard-template{width:100%!important}\n.nr-dashboard-theme .nr-dashboard-cardpanel{max-width:100%!important}\ndiv.nr-dashboard-tab{padding-left:10px!important;padding-right:10px!important;max-width:100%!important}\nmd-card{width:100%!important;max-width:100%!important;border-radius:22px!important;box-shadow:0 12px 32px rgba(15,23,42,.08)!important;background:var(--fp-card)!important;color:var(--fp-text)!important;border:1px solid var(--fp-border)!important}\n</style>\n<script>\n(function(scope){\n  function applyDark(v){\n    if(v){ document.documentElement.classList.add('fp-dark'); }\n    else { document.documentElement.classList.remove('fp-dark'); }\n  }\n  scope.$watch('msg',function(msg){\n    if(!msg) return;\n    if(msg.topic==='theme-dark') applyDark(!!msg.payload);\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":150,"y":40,"wires":[[]]},{"id":"87ce43b3ea62b22b","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Notify","topic":"sas/notify","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":100,"wires":[["b0c03f60fb731303"]]},{"id":"b0c03f60fb731303","type":"function","z":"aa8c3ffb3098b4ac","name":"Parse notify","func":"let text='';\ntry{\n  let o=JSON.parse(msg.payload);\n  let low=String(o.message||'').toLowerCase();\n  if(low.includes('bienvenue')) text='Bienvenue ' + (o.name || '');\n  else if(low.includes('personne inconnue')) text='Personne inconnue';\n  else text=(o.message||'Notification') + (o.name ? ' | ' + o.name : '');\n}catch(e){\n  text=String(msg.payload||'');\n}\nflow.set('lastNotifyText', text);\nreturn [\n  {topic:'notifyBar',payload:text},\n  {payload:text}\n];","outputs":2,"noerr":0,"x":310,"y":100,"wires":[["249a387e2148b68e"],["a3283ae6038a811b"]]},{"id":"08983f4bf04c1edf","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Finger result","topic":"sas/esp2/fingerprint_result","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":140,"wires":[["59e275bcfae60dc8"]]},{"id":"59e275bcfae60dc8","type":"function","z":"aa8c3ffb3098b4ac","name":"Result -> notification","func":"let result=String(msg.payload||'').trim();\nlet lastId=String(global.get('lastFingerId','file')||'').trim();\nlet db=global.get('finger_db','file')||[];\nlet found=db.find(x=>String(x.fingerId)===lastId);\nlet text='';\nif(result==='AUTHORIZED') text='Bienvenue ' + (found ? found.name : '');\nelse if(result==='UNKNOWN') text='Personne inconnue';\nelse if(result==='DISABLED') text='Empreinte désactivée';\nelse if(result==='TOO_EARLY') text='Accès pas encore autorisé';\nelse if(result==='EXPIRED') text='Autorisation expirée';\nelse if(result==='USE_LIMIT_REACHED') text='Nombre d\\'utilisations dépassé';\nelse if(result==='TIME_NOT_SYNCED') text='Heure non synchronisée';\nelse text='Résultat: ' + result;\nflow.set('lastNotifyText', text);\nreturn [\n  {topic:'notifyBar',payload:text},\n  {payload:text}\n];","outputs":2,"noerr":0,"x":320,"y":140,"wires":[["249a387e2148b68e"],["a3283ae6038a811b"]]},{"id":"f001886de361fd4c","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Scanned Finger","topic":"sas/esp2/fingerprint","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":180,"wires":[["2981996ecd0a0282"]]},{"id":"2981996ecd0a0282","type":"function","z":"aa8c3ffb3098b4ac","name":"Store last finger","func":"let id=String(msg.payload||'').trim();\nglobal.set('lastFingerId', id, 'file');\nreturn {topic:'lastFingerId',payload:id};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["249a387e2148b68e"]]},{"id":"cd418eac497915df","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Consume","topic":"sas/esp2/fingerprint_consume","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":220,"wires":[["990c4aaada8c91a5"]]},{"id":"990c4aaada8c91a5","type":"function","z":"aa8c3ffb3098b4ac","name":"Increment usedCount","func":"let fingerId=parseInt(String(msg.payload||'-1'),10);\nlet db=global.get('finger_db','file')||[];\nlet idx=db.findIndex(x=>Number(x.fingerId)===fingerId);\nif(idx>=0){\n  db[idx].usedCount=Number(db[idx].usedCount||0)+1;\n  global.set('finger_db',db,'file');\n  return [\n    {payload:db},\n    {payload:db},\n    {topic:'sas/finger/db',payload:JSON.stringify(db),retain:true}\n  ];\n}\nreturn [null,null,null];","outputs":3,"noerr":0,"x":320,"y":220,"wires":[["04e1ed8131aa60f5"],["4042b656e3cd1beb"],["e171e9250c7350a8"]]},{"id":"f78d80bbec72f1dd","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Enroll status","topic":"sas/esp2/finger_sensor/enroll_status","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":260,"wires":[["422a4cbc9ea32279"]]},{"id":"4890385c600583bf","type":"mqtt in","z":"aa8c3ffb3098b4ac","name":"Enroll result","topic":"sas/esp2/finger_sensor/enroll_result","qos":"0","datatype":"auto","broker":"c1f3c3d3.e3f3b9","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":300,"wires":[["122285540c2da238"]]},{"id":"249a387e2148b68e","type":"ui_template","z":"aa8c3ffb3098b4ac","group":"finger_group_top_fix","name":"Top cards","order":1,"width":"12","height":"4","format":"<style>.topgrid{display:grid;grid-template-columns:1fr 1.6fr;gap:16px;font-family:Arial,sans-serif}.cardx{background:linear-gradient(135deg,var(--fp-card),var(--fp-card));border:1px solid var(--fp-border);border-radius:22px;padding:20px;box-shadow:0 12px 30px rgba(15,23,42,.08)}.lab{font-size:12px;color:var(--fp-muted);text-transform:uppercase;letter-spacing:.08em;margin-bottom:10px}.val{font-size:32px;font-weight:900;color:var(--fp-text)}.notif{font-size:20px;font-weight:900;color:#b91c1c;line-height:1.4}</style><div class='topgrid'><div class='cardx'><div class='lab'>Dernier ID détecté</div><div class='val'>{{lastFingerId || '-'}}</div></div><div class='cardx'><div class='lab'>Barre de notification</div><div class='notif'>{{notifyBar || 'Aucune notification'}}</div></div></div><script>(function(scope){scope.lastFingerId='-';scope.notifyBar='Aucune notification';scope.$watch('msg',function(msg){if(!msg)return;if(msg.topic==='lastFingerId')scope.lastFingerId=msg.payload;if(msg.topic==='notifyBar')scope.notifyBar=msg.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":140,"wires":[[]]},{"id":"4042b656e3cd1beb","type":"ui_template","z":"aa8c3ffb3098b4ac","group":"finger_group_stats_fix","name":"Stats","order":1,"width":"12","height":"4","format":"<style>.stats-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:16px;font-family:Arial,sans-serif}.s-card{border-radius:22px;padding:18px;color:#fff;box-shadow:0 14px 28px rgba(15,23,42,.14)}.c1{background:linear-gradient(135deg,#2563eb,#1d4ed8)}.c2{background:linear-gradient(135deg,#16a34a,#15803d)}.c3{background:linear-gradient(135deg,#ef4444,#dc2626)}.c4{background:linear-gradient(135deg,#7c3aed,#6d28d9)}.ttl{font-size:12px;text-transform:uppercase;letter-spacing:.08em;opacity:.9}.num{font-size:34px;font-weight:900;margin-top:8px}</style><div class='stats-grid'><div class='s-card c1'><div class='ttl'>Total</div><div class='num'>{{total}}</div></div><div class='s-card c2'><div class='ttl'>Enabled</div><div class='num'>{{enabled}}</div></div><div class='s-card c3'><div class='ttl'>Disabled</div><div class='num'>{{disabled}}</div></div><div class='s-card c4'><div class='ttl'>Utilisations</div><div class='num'>{{uses}}</div></div></div><script>(function(scope){scope.total=0;scope.enabled=0;scope.disabled=0;scope.uses=0;scope.$watch('msg',function(msg){if(!msg||!msg.payload)return;let db=msg.payload||[];scope.total=db.length;scope.enabled=db.filter(x=>x.enabled).length;scope.disabled=db.filter(x=>!x.enabled).length;scope.uses=db.reduce((s,x)=>s+Number(x.usedCount||0),0);});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":210,"wires":[[]]},{"id":"1f45d87e1ccfe11d","type":"ui_template","z":"aa8c3ffb3098b4ac","group":"finger_group_enroll_fix","name":"Enroll panel","order":1,"width":"12","height":"12","format":"<style>.panel{font-family:Arial,sans-serif;background:var(--fp-card);border-radius:24px;padding:22px;box-shadow:0 14px 30px rgba(15,23,42,.08);border:1px solid var(--fp-border)}.title{font-size:28px;font-weight:900;color:var(--fp-text);margin-bottom:8px}.sub{font-size:13px;color:var(--fp-muted);margin-bottom:18px}.grid{display:grid;grid-template-columns:1fr 1fr;gap:14px}.field{display:flex;flex-direction:column}.field label{font-size:13px;font-weight:800;color:var(--fp-text);margin-bottom:6px}.field input,.field select{padding:12px;border:1px solid #cbd5e1;border-radius:14px;font-size:15px;background:#fff}.actions{margin-top:18px;display:flex;gap:12px;flex-wrap:wrap}.btn{border:none;border-radius:12px;padding:12px 18px;color:#fff;font-weight:800;cursor:pointer}.b1{background:linear-gradient(135deg,#0ea5e9,#0284c7)}.b2{background:linear-gradient(135deg,#ef4444,#dc2626)}.b3{background:linear-gradient(135deg,#f59e0b,#d97706)}.status{margin-top:18px;padding:16px;border-radius:16px;background:#eff6ff;border:1px solid #bfdbfe;font-size:18px;font-weight:800;color:#1d4ed8}.mini{margin-top:16px;font-size:13px;color:var(--fp-muted);background:#f8fafc;padding:12px;border-radius:14px;border:1px solid #e2e8f0}</style><div class='panel'><div class='title'>Ajouter une empreinte</div><div class='sub'>Cliquez sur le bouton puis suivez les instructions affichées.</div><div class='grid'><div class='field'><label>ID empreinte</label><input type='number' ng-model='form.fingerId' placeholder='ex: 1'></div><div class='field'><label>Nom</label><input type='text' ng-model='form.name' placeholder='ex: Ali'></div><div class='field'><label>Date début</label><input type='date' ng-model='form.startDate'></div><div class='field'><label>Heure début</label><input type='time' ng-model='form.startTime'></div><div class='field'><label>Date fin</label><input type='date' ng-model='form.endDate'></div><div class='field'><label>Heure fin</label><input type='time' ng-model='form.endTime'></div><div class='field'><label>Max utilisations (0 = illimité)</label><input type='number' min='0' ng-model='form.maxUses'></div><div class='field'><label>Etat</label><select ng-model='form.enabled'><option value='true'>Enabled</option><option value='false'>Disabled</option></select></div></div><div class='actions'><button class='btn b1' ng-click='startEnroll()'>Ajouter une empreinte</button><button class='btn b2' ng-click='deleteSensor()'>Supprimer du capteur</button><button class='btn b3' ng-click='clearAllSensor()'>Vider tout le capteur</button></div><div class='status'>{{statusText || 'En attente...'}}</div><div class='mini'>Instructions : mettre votre doigt sur le capteur → retirer votre doigt → remettre le même doigt → empreinte enregistrée.</div><div style='margin-top:18px'><md-switch ng-model='darkMode' ng-change='toggleDark()'>Mode sombre</md-switch></div></div><script>(function(scope){function fmtDate(v){if(!v)return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let y=v.getFullYear();let m=String(v.getMonth()+1).padStart(2,'0');let d=String(v.getDate()).padStart(2,'0');return y+'-'+m+'-'+d;}v=String(v).trim();if(v.includes('T')) return v.substring(0,10);return v;}function fmtTime(v){if(!v)return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let h=String(v.getHours()).padStart(2,'0');let m=String(v.getMinutes()).padStart(2,'0');return h+':'+m;}v=String(v).trim();if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m) return m[1]+':'+m[2];}if(/^\\d{2}:\\d{2}:\\d{2}$/.test(v)) return v.substring(0,5);return v;}scope.form={fingerId:'',name:'',startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,enabled:'true'};scope.statusText='En attente...';scope.darkMode=false;scope.toggleDark=function(){scope.send({topic:'theme-dark',payload:!!scope.darkMode});};scope.startEnroll=function(){var f=angular.copy(scope.form);f.startDate=fmtDate(f.startDate);f.startTime=fmtTime(f.startTime);f.endDate=fmtDate(f.endDate);f.endTime=fmtTime(f.endTime);scope.send({payload:{action:'startEnroll',data:f}})};scope.deleteSensor=function(){scope.send({payload:{action:'deleteSensor',fingerId:String(scope.form.fingerId||'').trim()}})};scope.clearAllSensor=function(){scope.send({payload:{action:'clearAllSensor'}})};scope.$watch('msg',function(msg){if(!msg)return;if(msg.topic==='enrollStatus') scope.statusText=msg.payload;if(msg.topic==='loadRecord'&&msg.payload){scope.form.fingerId=msg.payload.fingerId||'';scope.form.name=msg.payload.name||'';scope.form.startDate=msg.payload.startDate||'';scope.form.startTime=msg.payload.startTime||'';scope.form.endDate=msg.payload.endDate||'';scope.form.endTime=msg.payload.endTime||'';scope.form.maxUses=(msg.payload.maxUses!==undefined?msg.payload.maxUses:0);scope.form.enabled=String(msg.payload.enabled!==false);}if(msg.topic==='theme-dark') scope.darkMode=!!msg.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":280,"wires":[["704baef0df53140e"]]},{"id":"422a4cbc9ea32279","type":"change","z":"aa8c3ffb3098b4ac","name":"Status topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"enrollStatus","tot":"str"}],"x":320,"y":260,"wires":[["1f45d87e1ccfe11d","a3283ae6038a811b"]]},{"id":"704baef0df53140e","type":"function","z":"aa8c3ffb3098b4ac","name":"Handle enroll + CRUD","func":"function cleanDateOnly(v){if(v===undefined||v===null) return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let y=v.getFullYear();let m=String(v.getMonth()+1).padStart(2,'0');let d=String(v.getDate()).padStart(2,'0');return y+'-'+m+'-'+d;}v=String(v).trim();if(!v) return '';if(v.includes('T')) return v.substring(0,10);if(/^\\d{4}-\\d{2}-\\d{2}$/.test(v)) return v;return '';}function cleanTimeOnly(v){if(v===undefined||v===null) return '';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v)){let h=String(v.getHours()).padStart(2,'0');let m=String(v.getMinutes()).padStart(2,'0');return h+':'+m;}v=String(v).trim();if(!v) return '';if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m) return m[1]+':'+m[2];}if(/^\\d{2}:\\d{2}:\\d{2}$/.test(v)) return v.substring(0,5);if(/^\\d{2}:\\d{2}$/.test(v)) return v;return '';}function toEpochLocal(dateStr,timeStr){dateStr=cleanDateOnly(dateStr);timeStr=cleanTimeOnly(timeStr);if(!dateStr||!timeStr) return 0;let partsD=dateStr.split('-');let partsT=timeStr.split(':');let y=parseInt(partsD[0],10);let m=parseInt(partsD[1],10);let d=parseInt(partsD[2],10);let hh=parseInt(partsT[0],10);let mm=parseInt(partsT[1],10);let dt=new Date(y,m-1,d,hh,mm,0,0);if(isNaN(dt.getTime())) return 0;return Math.floor(dt.getTime()/1000);}let db=global.get('finger_db','file')||[];let p=msg.payload||{};if(msg.topic==='theme-dark'){return [null,null,null,null,null,{topic:'theme-dark',payload:!!msg.payload}];}if(p.action==='deleteSensor'){let id=parseInt(String(p.fingerId||'').trim(),10);if(isNaN(id)||id<1) return [null,null,{payload:'ID capteur invalide'},null,null,null];return [null,null,{payload:'Suppression capteur ID '+id},{topic:'sas/esp2/finger_sensor/cmd',payload:'DELETE:'+id},null,null];}if(p.action==='clearAllSensor'){global.set('pendingFingerRecord', null, 'file');return [null,null,{payload:'Vidage complet du capteur...'},{topic:'sas/esp2/finger_sensor/cmd',payload:'CLEAR_ALL'},{topic:'enrollStatus',payload:'base capteur en cours de vidage...'},null];}if(p.action==='startEnroll'){let d=p.data||{};let id=parseInt(String(d.fingerId||'').trim(),10);let name=String(d.name||'').trim();let startDate=cleanDateOnly(d.startDate);let startTime=cleanTimeOnly(d.startTime);let endDate=cleanDateOnly(d.endDate);let endTime=cleanTimeOnly(d.endTime);let maxUses=parseInt(String(d.maxUses!==undefined?d.maxUses:0),10);if(isNaN(maxUses)||maxUses<0) maxUses=0;let enabled=String(d.enabled!==undefined?d.enabled:'true')==='true';let allowedFrom=toEpochLocal(startDate,startTime);let allowedTo=toEpochLocal(endDate,endTime);if(isNaN(id)||id<1) return [null,null,{payload:'Erreur: ID empreinte obligatoire'},null,null,null];if(!name) return [null,null,{payload:'Erreur: Nom obligatoire'},null,null,null];if(!startDate||!startTime||!endDate||!endTime) return [null,null,{payload:'Erreur: date et heure début/fin obligatoires'},null,null,null];if(allowedTo<=allowedFrom) return [null,null,{payload:'Erreur: la fin doit être après le début'},null,null,null];global.set('pendingFingerRecord',{fingerId:id,name:name,enabled:enabled,startDate:startDate,startTime:startTime,endDate:endDate,endTime:endTime,allowedFrom:allowedFrom,allowedTo:allowedTo,maxUses:maxUses,usedCount:0},'file');return [null,null,{payload:'Démarrage enrôlement ID '+id},{topic:'sas/esp2/finger_sensor/cmd',payload:'ENROLL:'+id},{topic:'enrollStatus',payload:'mettre votre doigt sur le capteur'},null];}return [null,null,null,null,null,null];","outputs":6,"noerr":0,"x":850,"y":280,"wires":[[],[],["a3283ae6038a811b"],["c011e3fdde0b5e78"],["1f45d87e1ccfe11d"],["5a34c0b22fd83808","1f45d87e1ccfe11d"]]},{"id":"c011e3fdde0b5e78","type":"mqtt out","z":"aa8c3ffb3098b4ac","name":"Sensor cmd","topic":"sas/esp2/finger_sensor/cmd","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1f3c3d3.e3f3b9","x":1090,"y":250,"wires":[]},{"id":"122285540c2da238","type":"function","z":"aa8c3ffb3098b4ac","name":"After enroll result","func":"let r=String(msg.payload||'').trim();\nif(r==='CLEARED_ALL'){\n  global.set('pendingFingerRecord',null,'file');\n  global.set('finger_db',[],'file');\n  return [\n    {payload:[]},\n    {payload:[]},\n    {payload:'Capteur vidé complètement'},\n    {topic:'sas/finger/db',payload:'[]',retain:true},\n    {topic:'enrollStatus',payload:'base capteur videe'},\n    null\n  ];\n}\nif(r.startsWith('SUCCESS:')){\n  let id=parseInt(r.split(':')[1],10);\n  let pending=global.get('pendingFingerRecord','file');\n  let db=global.get('finger_db','file')||[];\n  if(pending && Number(pending.fingerId)===id){\n    let idx=db.findIndex(x=>Number(x.fingerId)===id);\n    if(idx>=0){\n      let usedCount=Number(db[idx].usedCount||0);\n      pending.usedCount=usedCount;\n      db[idx]=pending;\n    }else{\n      db.push(pending);\n    }\n    global.set('finger_db',db,'file');\n    global.set('pendingFingerRecord',null,'file');\n    return [\n      {payload:db},\n      {payload:db},\n      {payload:'Empreinte enregistrée avec succès'},\n      {topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},\n      {topic:'enrollStatus',payload:'empreinte enregistree'},\n      {topic:'loadRecord',payload:pending}\n    ];\n  }\n}\nif(r.startsWith('DELETED:')){\n  let id=parseInt(r.split(':')[1],10);\n  let db=global.get('finger_db','file')||[];\n  db=db.filter(x=>Number(x.fingerId)!==id);\n  global.set('finger_db',db,'file');\n  return [\n    {payload:db},\n    {payload:db},\n    {payload:'Empreinte supprimée du capteur: '+id},\n    {topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},\n    {topic:'enrollStatus',payload:'empreinte supprimée du capteur'},\n    null\n  ];\n}\nreturn [null,null,{payload:'Résultat capteur: '+r},null,{topic:'enrollStatus',payload:r},null];","outputs":6,"noerr":0,"x":330,"y":300,"wires":[["04e1ed8131aa60f5"],["4042b656e3cd1beb"],["a3283ae6038a811b"],["e171e9250c7350a8"],["1f45d87e1ccfe11d"],["1f45d87e1ccfe11d"]]},{"id":"04e1ed8131aa60f5","type":"ui_template","z":"aa8c3ffb3098b4ac","group":"finger_group_table_fix","name":"Finger table","order":1,"width":"12","height":"12","format":"<style>.table-wrap{font-family:Arial,sans-serif;background:var(--fp-card);border-radius:24px;padding:18px;box-shadow:0 14px 30px rgba(15,23,42,.08);border:1px solid var(--fp-border);overflow:auto}.table-title{font-size:28px;font-weight:900;color:var(--fp-text);margin-bottom:14px}.table-main{width:100%;border-collapse:collapse}.table-main th{background:#f8fafc;color:#334155;padding:12px;font-size:12px;text-transform:uppercase;letter-spacing:.08em}.table-main td{padding:12px;border-bottom:1px solid #e2e8f0;vertical-align:middle;color:var(--fp-text)}.state-on{display:inline-block;padding:5px 12px;border-radius:999px;background:#dcfce7;color:#166534;font-weight:900}.state-off{display:inline-block;padding:5px 12px;border-radius:999px;background:#fee2e2;color:#991b1b;font-weight:900}.switch{position:relative;display:inline-block;width:54px;height:28px}.switch input{opacity:0;width:0;height:0}.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:#ef4444;transition:.3s;border-radius:999px}.slider:before{position:absolute;content:'';height:22px;width:22px;left:3px;bottom:3px;background:white;transition:.3s;border-radius:50%}input:checked + .slider{background:#22c55e}input:checked + .slider:before{transform:translateX(26px)}.btn{border:none;border-radius:10px;padding:8px 12px;font-weight:800;color:#fff;cursor:pointer;margin-right:6px}.btn-select{background:#0ea5e9}.btn-delete{background:#ef4444}.muted{color:var(--fp-muted);padding:20px;text-align:center;font-size:16px}</style><div class='table-wrap'><div class='table-title'>Base empreintes ({{msg.payload ? msg.payload.length : 0}})</div><div ng-if='!msg.payload || msg.payload.length===0' class='muted'>Aucune empreinte enregistrée</div><table ng-if='msg.payload && msg.payload.length>0' class='table-main'><tr><th>ID</th><th>Nom</th><th>Agenda</th><th>Utilisations</th><th>Etat</th><th>Toggle</th><th>Actions</th></tr><tr ng-repeat='row in msg.payload track by $index'><td><b>{{row.fingerId}}</b></td><td>{{row.name}}</td><td><div><b>Début:</b> {{row.startDate || '-'}} {{row.startTime || ''}}</div><div><b>Fin:</b> {{row.endDate || '-'}} {{row.endTime || ''}}</div></td><td>{{row.usedCount || 0}} / {{row.maxUses && row.maxUses>0 ? row.maxUses : '∞'}}</td><td><span ng-if='row.enabled' class='state-on'>ENABLED</span><span ng-if='!row.enabled' class='state-off'>DISABLED</span></td><td><label class='switch'><input type='checkbox' ng-checked='row.enabled' ng-click=\"send({payload:{action:'toggle',fingerId:row.fingerId,enabled:!row.enabled}})\"><span class='slider'></span></label></td><td><button class='btn btn-select' ng-click=\"send({payload:{action:'select',fingerId:row.fingerId}})\">Select</button><button class='btn btn-delete' ng-click=\"send({payload:{action:'delete',fingerId:row.fingerId}})\">Delete</button></td></tr></table></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":360,"wires":[["0f955a8337a610ca"]]},{"id":"0f955a8337a610ca","type":"function","z":"aa8c3ffb3098b4ac","name":"Table actions","func":"let db=global.get('finger_db','file')||[];let p=msg.payload||{};let fingerId=parseInt(String(p.fingerId||''),10);let action=String(p.action||'');if(isNaN(fingerId)) return [null,null,{payload:'ID invalide'},null,null];if(action==='select'){let found=db.find(x=>Number(x.fingerId)===fingerId)||{fingerId:fingerId};return [null,null,{payload:'Empreinte '+fingerId+' sélectionnée'},{topic:'loadRecord',payload:found},null];}if(action==='delete'){db=db.filter(x=>Number(x.fingerId)!==fingerId);global.set('finger_db',db,'file');return [{payload:db},{payload:db},{payload:'Empreinte '+fingerId+' supprimée'},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},null];}if(action==='toggle'){let idx=db.findIndex(x=>Number(x.fingerId)===fingerId);if(idx<0) return [null,null,{payload:'Empreinte introuvable'},null,null];db[idx].enabled=!!p.enabled;global.set('finger_db',db,'file');return [{payload:db},{payload:db},{payload:'Empreinte '+fingerId+' '+(db[idx].enabled?'activée':'désactivée')},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},{topic:'loadRecord',payload:db[idx]}];}return [null,null,{payload:'Action inconnue'},null,null];","outputs":5,"noerr":0,"x":830,"y":360,"wires":[["04e1ed8131aa60f5"],["4042b656e3cd1beb"],["a3283ae6038a811b"],["e171e9250c7350a8"],["1f45d87e1ccfe11d"]]},{"id":"e171e9250c7350a8","type":"mqtt out","z":"aa8c3ffb3098b4ac","name":"Publish finger DB","topic":"sas/finger/db","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1f3c3d3.e3f3b9","x":1080,"y":330,"wires":[]},{"id":"a3283ae6038a811b","type":"ui_text","z":"aa8c3ffb3098b4ac","group":"finger_group_logs_fix","order":1,"width":"12","height":"1","name":"Log","label":"Notification / Log","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":410,"wires":[]},{"id":"df83d5711db239fd","type":"inject","z":"aa8c3ffb3098b4ac","name":"Init DB","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":90,"y":460,"wires":[["b60ec020e09a1c5b"]]},{"id":"b60ec020e09a1c5b","type":"function","z":"aa8c3ffb3098b4ac","name":"Init DB if empty","func":"let db=global.get('finger_db','file');if(!db){db=[];}global.set('finger_db',db,'file');let dbJson=JSON.stringify(db);return[{payload:db},{payload:db},{payload:'Base empreinte initialisée: '+db.length+' utilisateur(s)'},{topic:'sas/finger/db',payload:dbJson,retain:true},{topic:'theme-dark',payload:false}];","outputs":5,"noerr":0,"x":300,"y":460,"wires":[["04e1ed8131aa60f5"],["4042b656e3cd1beb"],["a3283ae6038a811b"],["e171e9250c7350a8"],["5a34c0b22fd83808","1f45d87e1ccfe11d"]]},{"id":"e1ba5e2b0e25afc7","type":"ui_template","z":"2084df4351ba4d5c","group":"3585458fda32959f","name":"Premium CSS","order":0,"width":"0","height":"0","format":"<style>\n.nr-dashboard-theme md-content{background:#f3f6fb!important;max-width:100%!important}\n.nr-dashboard-cardcontainer{width:100%!important;max-width:100%!important}\n.nr-dashboard-theme .nr-dashboard-template{width:100%!important}\n.nr-dashboard-theme .nr-dashboard-cardpanel{max-width:100%!important}\ndiv.nr-dashboard-tab{padding-left:10px!important;padding-right:10px!important;max-width:100%!important}\nmd-card{border-radius:20px!important;box-shadow:0 10px 28px rgba(15,23,42,.08)!important;border:1px solid #e2e8f0!important}\n.nr-dashboard-button .md-button{min-height:44px!important;border-radius:12px!important;font-weight:800!important;text-transform:none!important}\n.sas-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:14px;font-family:Arial,sans-serif}\n.sas-card{background:linear-gradient(135deg,#ffffff,#f8fbff);border-radius:20px;padding:18px;border:1px solid #e2e8f0;box-shadow:0 10px 24px rgba(15,23,42,.06)}\n.sas-label{font-size:12px;color:#64748b;text-transform:uppercase;letter-spacing:.08em;margin-bottom:8px}\n.sas-value{font-size:24px;font-weight:800;color:#0f172a;word-break:break-word}\n.sas-badge{display:inline-block;padding:6px 12px;border-radius:999px;font-weight:800;font-size:12px}\n.sas-ready{background:#dcfce7;color:#166534}\n.sas-open{background:#dbeafe;color:#1d4ed8}\n.sas-wait{background:#fef3c7;color:#92400e}\n.sas-refused{background:#fee2e2;color:#991b1b}\n.sas-closed{background:#e2e8f0;color:#334155}\n.sas-on{background:#dcfce7;color:#166534}\n.sas-off{background:#fee2e2;color:#991b1b}\n.sas-log{background:#fff;border-radius:18px;padding:14px 16px;border:1px solid #e2e8f0;font-weight:700;color:#334155}\n</style>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"global","className":"","x":140,"y":40,"wires":[[]]},{"id":"c0ad28f44a1b49d5","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP1 State","topic":"sas/esp1/state","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":100,"wires":[["a402d42507cf2224"]]},{"id":"802f8dbe84696e02","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP1 Door","topic":"sas/esp1/door","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":140,"wires":[["f6ac72d53be644e7"]]},{"id":"eaefd6c0f98b5dc8","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP1 Wait","topic":"sas/esp1/wait","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":180,"wires":[["bd023359df5252b2"]]},{"id":"1cec547de01f0e36","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP1 Auth","topic":"sas/esp1/auth","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":220,"wires":[["7d1d731fadcb9517"]]},{"id":"e9afbf6437333d9d","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP2 State","topic":"sas/esp2/state","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":280,"wires":[["f20976f315885317"]]},{"id":"52792bfc5c3b16b7","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP2 Door","topic":"sas/esp2/door","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":320,"wires":[["7d49453a98cdc915"]]},{"id":"6a4b76f29b9f26b5","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP2 Wait","topic":"sas/esp2/wait","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":360,"wires":[["1b8773d40c37dfa9"]]},{"id":"ead71fe8adc8cd2b","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP2 Auth","topic":"sas/esp2/auth","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":400,"wires":[["c6967ec281ca9999"]]},{"id":"a402d42507cf2224","type":"function","z":"2084df4351ba4d5c","name":"Store ESP1 State","func":"flow.set('esp1_state', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["954360d03afa200f"]]},{"id":"f6ac72d53be644e7","type":"function","z":"2084df4351ba4d5c","name":"Store ESP1 Door","func":"flow.set('esp1_door', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["954360d03afa200f"]]},{"id":"bd023359df5252b2","type":"function","z":"2084df4351ba4d5c","name":"Store ESP1 Wait","func":"flow.set('esp1_wait', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["954360d03afa200f"]]},{"id":"7d1d731fadcb9517","type":"function","z":"2084df4351ba4d5c","name":"Store ESP1 Auth","func":"flow.set('esp1_auth', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["954360d03afa200f"]]},{"id":"f20976f315885317","type":"function","z":"2084df4351ba4d5c","name":"Store ESP2 State","func":"flow.set('esp2_state', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["954360d03afa200f"]]},{"id":"7d49453a98cdc915","type":"function","z":"2084df4351ba4d5c","name":"Store ESP2 Door","func":"flow.set('esp2_door', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["954360d03afa200f"]]},{"id":"1b8773d40c37dfa9","type":"function","z":"2084df4351ba4d5c","name":"Store ESP2 Wait","func":"flow.set('esp2_wait', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["954360d03afa200f"]]},{"id":"c6967ec281ca9999","type":"function","z":"2084df4351ba4d5c","name":"Store ESP2 Auth","func":"flow.set('esp2_auth', String(msg.payload||''));\nreturn {topic:'refresh'};","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["954360d03afa200f"]]},{"id":"954360d03afa200f","type":"ui_template","z":"2084df4351ba4d5c","group":"03cb4242b3d15b40","name":"Premium Header Cards","order":1,"width":"12","height":"6","format":"<div class='sas-grid'>\n  <div class='sas-card'><div class='sas-label'>ESP1 Etat</div><div><span class='sas-badge {{c1}}'>{{v1}}</span></div></div>\n  <div class='sas-card'><div class='sas-label'>Porte 1</div><div><span class='sas-badge {{c2}}'>{{v2}}</span></div></div>\n  <div class='sas-card'><div class='sas-label'>Wait P1</div><div class='sas-value'>{{v3}}</div></div>\n  <div class='sas-card'><div class='sas-label'>Accès ESP1</div><div class='sas-value'>{{v4}}</div></div>\n  <div class='sas-card'><div class='sas-label'>ESP2 Etat</div><div><span class='sas-badge {{c5}}'>{{v5}}</span></div></div>\n  <div class='sas-card'><div class='sas-label'>Porte 2</div><div><span class='sas-badge {{c6}}'>{{v6}}</span></div></div>\n  <div class='sas-card'><div class='sas-label'>Wait P2</div><div class='sas-value'>{{v7}}</div></div>\n  <div class='sas-card'><div class='sas-label'>Accès ESP2</div><div class='sas-value'>{{v8}}</div></div>\n</div>\n<script>\n(function(scope){\n  function cls(v){\n    v = String(v||'').toUpperCase();\n    if(v==='READY') return 'sas-ready';\n    if(v==='OPEN') return 'sas-open';\n    if(v==='WAIT') return 'sas-wait';\n    if(v==='REFUSED') return 'sas-refused';\n    if(v==='CLOSED') return 'sas-closed';\n    if(v==='OPENED') return 'sas-open';\n    return 'sas-closed';\n  }\n  scope.v1='-'; scope.v2='-'; scope.v3='-'; scope.v4='-';\n  scope.v5='-'; scope.v6='-'; scope.v7='-'; scope.v8='-';\n  scope.c1='sas-closed'; scope.c2='sas-closed'; scope.c5='sas-closed'; scope.c6='sas-closed';\n  scope.$watch('msg', function(){\n    scope.v1 = scope.msg && scope.msg.esp1_state ? scope.msg.esp1_state : scope.v1;\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":590,"y":200,"wires":[[]]},{"id":"30b583802f35ec64","type":"inject","z":"2084df4351ba4d5c","name":"Init Header","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["6c3056c66de70513"]]},{"id":"6c3056c66de70513","type":"function","z":"2084df4351ba4d5c","name":"Build Header Model","func":"function cls(v){\n  v = String(v||'').toUpperCase();\n  if(v==='READY') return 'sas-ready';\n  if(v==='OPEN') return 'sas-open';\n  if(v==='WAIT') return 'sas-wait';\n  if(v==='REFUSED') return 'sas-refused';\n  if(v==='CLOSED') return 'sas-closed';\n  return 'sas-closed';\n}\nmsg = {\n  esp1_state: flow.get('esp1_state') || '-',\n  esp1_door: flow.get('esp1_door') || '-',\n  esp1_wait: flow.get('esp1_wait') || '-',\n  esp1_auth: flow.get('esp1_auth') || '-',\n  esp2_state: flow.get('esp2_state') || '-',\n  esp2_door: flow.get('esp2_door') || '-',\n  esp2_wait: flow.get('esp2_wait') || '-',\n  esp2_auth: flow.get('esp2_auth') || '-',\n  c1: cls(flow.get('esp1_state') || '-'),\n  c2: cls(flow.get('esp1_door') || '-'),\n  c5: cls(flow.get('esp2_state') || '-'),\n  c6: cls(flow.get('esp2_door') || '-')\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["9972b5491a08f7f2"]]},{"id":"9972b5491a08f7f2","type":"ui_template","z":"2084df4351ba4d5c","group":"03cb4242b3d15b40","name":"Header Model Binder","order":0,"width":"0","height":"0","format":"<script>\n(function(scope){\n  scope.$watch('msg', function(msg){\n    if(!msg) return;\n    var card = document.querySelector('[node-id=\"ui_header_cards\"]');\n  });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":460,"wires":[[]]},{"id":"c9f7df10bf67bba4","type":"mqtt in","z":"2084df4351ba4d5c","name":"Temp","topic":"sas/esp1/temp","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":560,"wires":[["3a70ff6e1f4f9ce7","50d5a70936aed728"]]},{"id":"3a70ff6e1f4f9ce7","type":"ui_gauge","z":"2084df4351ba4d5c","name":"Temperature","group":"sas_group_capteurs","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#16a34a","#eab308","#dc2626"],"seg1":"20","seg2":"30","x":330,"y":540,"wires":[]},{"id":"50d5a70936aed728","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":2,"width":"3","height":"1","name":"Temp Text","label":"Temp","format":"{{msg.payload}} °C","layout":"row-spread","x":330,"y":580,"wires":[]},{"id":"d0202e85d96b67c4","type":"mqtt in","z":"2084df4351ba4d5c","name":"Hum","topic":"sas/esp1/hum","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":640,"wires":[["0a74fcd6f76e9831","b0ba86f6b365f3e8"]]},{"id":"0a74fcd6f76e9831","type":"ui_gauge","z":"2084df4351ba4d5c","name":"Humidite","group":"sas_group_capteurs","order":3,"width":"3","height":"3","gtype":"gage","title":"Humidite","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#16a34a","#eab308","#dc2626"],"seg1":"40","seg2":"70","x":330,"y":620,"wires":[]},{"id":"b0ba86f6b365f3e8","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":4,"width":"3","height":"1","name":"Hum Text","label":"Hum","format":"{{msg.payload}} %","layout":"row-spread","x":330,"y":660,"wires":[]},{"id":"466b8e4053854b3c","type":"mqtt in","z":"2084df4351ba4d5c","name":"PIR","topic":"sas/esp2/pir","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":720,"wires":[["50a30a0f5a0bf93e"]]},{"id":"50a30a0f5a0bf93e","type":"function","z":"2084df4351ba4d5c","name":"Format PIR","func":"let v = String(msg.payload||'').toUpperCase();\nmsg.payload = v;\nmsg.topic = 'pir';\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["a629c8ce8b38d21b"]]},{"id":"a629c8ce8b38d21b","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":5,"width":"6","height":"1","name":"PIR Text","label":"PIR","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":720,"wires":[]},{"id":"61d97629f3001e99","type":"mqtt in","z":"2084df4351ba4d5c","name":"Bell","topic":"sas/esp2/bell","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":760,"wires":[["e1b7eb292ae381cb"]]},{"id":"e1b7eb292ae381cb","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":6,"width":"6","height":"1","name":"Bell Text","label":"Sonnette","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":760,"wires":[]},{"id":"7b88e5e58fbf7557","type":"mqtt in","z":"2084df4351ba4d5c","name":"RFID","topic":"sas/esp1/rfid","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":800,"wires":[["8c2a6d371580ce53"]]},{"id":"8c2a6d371580ce53","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":7,"width":"6","height":"1","name":"RFID Text","label":"RFID","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":800,"wires":[]},{"id":"86b4ad580d88078a","type":"mqtt in","z":"2084df4351ba4d5c","name":"Fingerprint","topic":"sas/esp2/fingerprint","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":840,"wires":[["e532c1880086daf8"]]},{"id":"e532c1880086daf8","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_capteurs","order":8,"width":"6","height":"1","name":"Finger Text","label":"Empreinte ID","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":840,"wires":[]},{"id":"233b444171c9b317","type":"ui_button","z":"2084df4351ba4d5c","name":"OPEN P1","group":"sas_group_controle","order":1,"width":"2","height":"1","passthru":false,"label":"OPEN P1","tooltip":"","color":"","bgcolor":"#16a34a","icon":"","payload":"OPEN","payloadType":"str","topic":"sas/esp1/cmd","x":730,"y":560,"wires":[["01d3d1426bdf2e73"]]},{"id":"5cd816d293d2f293","type":"ui_button","z":"2084df4351ba4d5c","name":"CLOSE P1","group":"sas_group_controle","order":2,"width":"2","height":"1","passthru":false,"label":"CLOSE P1","tooltip":"","color":"","bgcolor":"#dc2626","icon":"","payload":"CLOSE","payloadType":"str","topic":"sas/esp1/cmd","x":730,"y":600,"wires":[["01d3d1426bdf2e73"]]},{"id":"b6825ad935718488","type":"ui_button","z":"2084df4351ba4d5c","name":"RESET P1","group":"sas_group_controle","order":3,"width":"2","height":"1","passthru":false,"label":"RESET P1","tooltip":"","color":"","bgcolor":"#64748b","icon":"","payload":"RESET","payloadType":"str","topic":"sas/esp1/cmd","x":730,"y":640,"wires":[["01d3d1426bdf2e73"]]},{"id":"0b660ac005352bf4","type":"ui_button","z":"2084df4351ba4d5c","name":"OPEN P2","group":"sas_group_controle","order":4,"width":"2","height":"1","passthru":false,"label":"OPEN P2","tooltip":"","color":"","bgcolor":"#16a34a","icon":"","payload":"OPEN","payloadType":"str","topic":"sas/esp2/cmd","x":1030,"y":560,"wires":[["01d3d1426bdf2e73"]]},{"id":"307cf707c7993c5b","type":"ui_button","z":"2084df4351ba4d5c","name":"CLOSE P2","group":"sas_group_controle","order":5,"width":"2","height":"1","passthru":false,"label":"CLOSE P2","tooltip":"","color":"","bgcolor":"#dc2626","icon":"","payload":"CLOSE","payloadType":"str","topic":"sas/esp2/cmd","x":1030,"y":600,"wires":[["01d3d1426bdf2e73"]]},{"id":"20dc7cf4b2c563b9","type":"ui_button","z":"2084df4351ba4d5c","name":"RESET P2","group":"sas_group_controle","order":6,"width":"2","height":"1","passthru":false,"label":"RESET P2","tooltip":"","color":"","bgcolor":"#64748b","icon":"","payload":"RESET","payloadType":"str","topic":"sas/esp2/cmd","x":1030,"y":640,"wires":[["01d3d1426bdf2e73"]]},{"id":"01d3d1426bdf2e73","type":"mqtt out","z":"2084df4351ba4d5c","name":"MQTT CMD OUT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fcf4c61c37279941","x":1230,"y":600,"wires":[]},{"id":"22fcf7f253ac1173","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP1 Event","topic":"sas/esp1/event","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":720,"y":740,"wires":[["1925774baf21991b"]]},{"id":"1925774baf21991b","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_logs","order":1,"width":"6","height":"1","name":"ESP1 Event","label":"Dernier event ESP1","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":740,"wires":[]},{"id":"388ee271dc028da9","type":"mqtt in","z":"2084df4351ba4d5c","name":"ESP2 Event","topic":"sas/esp2/event","qos":"0","datatype":"auto","broker":"fcf4c61c37279941","nl":false,"rap":true,"rh":0,"inputs":0,"x":720,"y":780,"wires":[["127db2b048ed0ca1"]]},{"id":"127db2b048ed0ca1","type":"ui_text","z":"2084df4351ba4d5c","group":"sas_group_logs","order":2,"width":"6","height":"1","name":"ESP2 Event","label":"Dernier event ESP2","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":780,"wires":[]},{"id":"4d1d66eabd923afd","type":"ui_template","z":"2084df4351ba4d5c","group":"03cb4242b3d15b40","name":"","order":2,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-theme md-content {\n        background: #f4f7fb !important;\n        max-width: 100% !important;\n    }\n\n    .nr-dashboard-cardcontainer {\n        width: 100% !important;\n        max-width: 100% !important;\n    }\n\n    div.nr-dashboard-tab {\n        padding-left: 10px !important;\n        padding-right: 10px !important;\n    }\n\n    md-card {\n        border-radius: 18px !important;\n        box-shadow: 0 8px 20px rgba(15, 23, 42, .08) !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":120,"y":940,"wires":[[]]},{"id":"sas2_css","type":"ui_template","z":"sas2_flow_tab","group":"sas2_group_css","name":"SAS 2 CSS","order":0,"width":"0","height":"0","format":"","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"global","className":"","x":130,"y":40,"wires":[[]]},{"id":"sas2_mqtt_esp1_state","type":"mqtt in","z":"sas2_flow_tab","name":"ESP1 State","topic":"sas/esp1/state","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":100,"wires":[["sas2_ui_esp1_state"]]},{"id":"sas2_ui_esp1_state","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":1,"width":"3","height":"1","name":"ESP1 Etat","label":"ESP1 Etat","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":100,"wires":[]},{"id":"sas2_mqtt_esp1_door","type":"mqtt in","z":"sas2_flow_tab","name":"ESP1 Door","topic":"sas/esp1/door","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":140,"wires":[["sas2_ui_esp1_door"]]},{"id":"sas2_ui_esp1_door","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":2,"width":"3","height":"1","name":"Porte 1","label":"Porte 1","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":140,"wires":[]},{"id":"sas2_mqtt_esp1_wait","type":"mqtt in","z":"sas2_flow_tab","name":"ESP1 Wait","topic":"sas/esp1/wait","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":180,"wires":[["sas2_ui_esp1_wait"]]},{"id":"sas2_ui_esp1_wait","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":3,"width":"3","height":"1","name":"Wait P1","label":"Wait P1","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":180,"wires":[]},{"id":"sas2_mqtt_esp1_auth","type":"mqtt in","z":"sas2_flow_tab","name":"ESP1 Auth","topic":"sas/esp1/auth","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":220,"wires":[["sas2_ui_esp1_auth"]]},{"id":"sas2_ui_esp1_auth","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":4,"width":"3","height":"1","name":"Acces ESP1","label":"Acces ESP1","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":220,"wires":[]},{"id":"sas2_mqtt_esp2_state","type":"mqtt in","z":"sas2_flow_tab","name":"ESP2 State","topic":"sas/esp2/state","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":100,"wires":[["sas2_ui_esp2_state"]]},{"id":"sas2_ui_esp2_state","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":5,"width":"3","height":"1","name":"ESP2 Etat","label":"ESP2 Etat","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":100,"wires":[]},{"id":"sas2_mqtt_esp2_door","type":"mqtt in","z":"sas2_flow_tab","name":"ESP2 Door","topic":"sas/esp2/door","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":140,"wires":[["sas2_ui_esp2_door"]]},{"id":"sas2_ui_esp2_door","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":6,"width":"3","height":"1","name":"Porte 2","label":"Porte 2","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":140,"wires":[]},{"id":"sas2_mqtt_esp2_wait","type":"mqtt in","z":"sas2_flow_tab","name":"ESP2 Wait","topic":"sas/esp2/wait","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":180,"wires":[["sas2_ui_esp2_wait"]]},{"id":"sas2_ui_esp2_wait","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":7,"width":"3","height":"1","name":"Wait P2","label":"Wait P2","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":180,"wires":[]},{"id":"sas2_mqtt_esp2_auth","type":"mqtt in","z":"sas2_flow_tab","name":"ESP2 Auth","topic":"sas/esp2/auth","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":620,"y":220,"wires":[["sas2_ui_esp2_auth"]]},{"id":"sas2_ui_esp2_auth","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_etat","order":8,"width":"3","height":"1","name":"Acces ESP2","label":"Acces ESP2","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":220,"wires":[]},{"id":"sas2_mqtt_temp","type":"mqtt in","z":"sas2_flow_tab","name":"Temp","topic":"sas/esp1/temp","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":340,"wires":[["sas2_ui_temp_gauge","sas2_ui_temp_text"]]},{"id":"sas2_ui_temp_gauge","type":"ui_gauge","z":"sas2_flow_tab","name":"Temperature","group":"sas2_group_capteurs","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":340,"y":340,"wires":[]},{"id":"sas2_ui_temp_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":2,"width":"3","height":"1","name":"Temp Text","label":"Temp","format":"{{msg.payload}} °C","layout":"row-spread","x":340,"y":380,"wires":[]},{"id":"sas2_mqtt_hum","type":"mqtt in","z":"sas2_flow_tab","name":"Hum","topic":"sas/esp1/hum","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":430,"wires":[["sas2_ui_hum_gauge","sas2_ui_hum_text"]]},{"id":"sas2_ui_hum_gauge","type":"ui_gauge","z":"sas2_flow_tab","name":"Humidite","group":"sas2_group_capteurs","order":3,"width":"3","height":"3","gtype":"gage","title":"Humidite","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":340,"y":430,"wires":[]},{"id":"sas2_ui_hum_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":4,"width":"3","height":"1","name":"Hum Text","label":"Hum","format":"{{msg.payload}} %","layout":"row-spread","x":340,"y":470,"wires":[]},{"id":"sas2_mqtt_pir","type":"mqtt in","z":"sas2_flow_tab","name":"PIR","topic":"sas/esp2/pir","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":520,"wires":[["sas2_ui_pir_text"]]},{"id":"sas2_ui_pir_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":5,"width":"6","height":"1","name":"PIR Text","label":"PIR","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":520,"wires":[]},{"id":"sas2_mqtt_bell","type":"mqtt in","z":"sas2_flow_tab","name":"Bell","topic":"sas/esp2/bell","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":560,"wires":[["sas2_ui_bell_text"]]},{"id":"sas2_ui_bell_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":6,"width":"6","height":"1","name":"Bell Text","label":"Sonnette","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":560,"wires":[]},{"id":"sas2_mqtt_rfid","type":"mqtt in","z":"sas2_flow_tab","name":"RFID","topic":"sas/esp1/rfid","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":600,"wires":[["sas2_ui_rfid_text"]]},{"id":"sas2_ui_rfid_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":7,"width":"6","height":"1","name":"RFID Text","label":"RFID","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":600,"wires":[]},{"id":"sas2_mqtt_fingerprint","type":"mqtt in","z":"sas2_flow_tab","name":"Fingerprint","topic":"sas/esp2/fingerprint","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":640,"wires":[["sas2_ui_fingerprint_text"]]},{"id":"sas2_ui_fingerprint_text","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_capteurs","order":8,"width":"6","height":"1","name":"Finger Text","label":"Empreinte ID","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":640,"wires":[]},{"id":"sas2_btn_open_p1","type":"ui_button","z":"sas2_flow_tab","name":"OPEN P1","group":"sas2_group_controle","order":1,"width":"2","height":"1","passthru":false,"label":"OPEN P1","tooltip":"","color":"","bgcolor":"#28a745","icon":"","payload":"OPEN","payloadType":"str","topic":"sas/esp1/cmd","x":660,"y":360,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_btn_close_p1","type":"ui_button","z":"sas2_flow_tab","name":"CLOSE P1","group":"sas2_group_controle","order":2,"width":"2","height":"1","passthru":false,"label":"CLOSE P1","tooltip":"","color":"","bgcolor":"#dc3545","icon":"","payload":"CLOSE","payloadType":"str","topic":"sas/esp1/cmd","x":660,"y":400,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_btn_reset_p1","type":"ui_button","z":"sas2_flow_tab","name":"RESET P1","group":"sas2_group_controle","order":3,"width":"2","height":"1","passthru":false,"label":"RESET P1","tooltip":"","color":"","bgcolor":"#6c757d","icon":"","payload":"RESET","payloadType":"str","topic":"sas/esp1/cmd","x":660,"y":440,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_btn_open_p2","type":"ui_button","z":"sas2_flow_tab","name":"OPEN P2","group":"sas2_group_controle","order":4,"width":"2","height":"1","passthru":false,"label":"OPEN P2","tooltip":"","color":"","bgcolor":"#28a745","icon":"","payload":"OPEN","payloadType":"str","topic":"sas/esp2/cmd","x":950,"y":360,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_btn_close_p2","type":"ui_button","z":"sas2_flow_tab","name":"CLOSE P2","group":"sas2_group_controle","order":5,"width":"2","height":"1","passthru":false,"label":"CLOSE P2","tooltip":"","color":"","bgcolor":"#dc3545","icon":"","payload":"CLOSE","payloadType":"str","topic":"sas/esp2/cmd","x":950,"y":400,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_btn_reset_p2","type":"ui_button","z":"sas2_flow_tab","name":"RESET P2","group":"sas2_group_controle","order":6,"width":"2","height":"1","passthru":false,"label":"RESET P2","tooltip":"","color":"","bgcolor":"#6c757d","icon":"","payload":"RESET","payloadType":"str","topic":"sas/esp2/cmd","x":950,"y":440,"wires":[["sas2_mqtt_cmd_out"]]},{"id":"sas2_mqtt_cmd_out","type":"mqtt out","z":"sas2_flow_tab","name":"MQTT CMD OUT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"sas2_broker","x":1220,"y":400,"wires":[]},{"id":"sas2_mqtt_esp1_event","type":"mqtt in","z":"sas2_flow_tab","name":"ESP1 Event","topic":"sas/esp1/event","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":560,"wires":[["sas2_ui_esp1_event"]]},{"id":"sas2_ui_esp1_event","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_logs","order":1,"width":"6","height":"1","name":"ESP1 Event Text","label":"Dernier event ESP1","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":560,"wires":[]},{"id":"sas2_mqtt_esp2_event","type":"mqtt in","z":"sas2_flow_tab","name":"ESP2 Event","topic":"sas/esp2/event","qos":"0","datatype":"auto","broker":"sas2_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":610,"wires":[["sas2_ui_esp2_event"]]},{"id":"sas2_ui_esp2_event","type":"ui_text","z":"sas2_flow_tab","group":"sas2_group_logs","order":2,"width":"6","height":"1","name":"ESP2 Event Text","label":"Dernier event ESP2","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":610,"wires":[]},{"id":"mqtt_in_sas_dark_fixed","type":"mqtt in","z":"tab_sas_dark_final_fixed","name":"MQTT IN doors","topic":"sas/+/+","qos":"0","datatype":"auto","broker":"broker_sas_dark_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["parse_sas_dark_fixed"]]},{"id":"parse_sas_dark_fixed","type":"function","z":"tab_sas_dark_final_fixed","name":"Smart Parser doorX FIXED","func":"let p = msg.topic.split('/');\nlet doorId = p[1];\nlet type = p[2];\n\nif (!/^door\\d+$/.test(doorId)) return null;\n\nlet allowed = ['state','door','wait','temp','hum','pir','rfid','fingerprint','auth','event','status'];\nif (!allowed.includes(type)) return null;\n\nlet data = msg.payload;\nlet doors = global.get('doors_dark') || {};\n\nif (!doors[doorId]) {\n    doors[doorId] = {\n        state:'-', door:'-', wait:'-1', temp:'-', hum:'-', pir:'-',\n        rfid:'-', fingerprint:'-', auth:'-', event:'-', status:'-', lastUpdate:'-'\n    };\n}\n\nif ((type === 'rfid' || type === 'fingerprint') && typeof data === 'string') {\n    let s = data.trim();\n    if (s.startsWith('{') || s.startsWith('[') || s.includes('\\\\\"state\\\\\"')) {\n        data = '-';\n    }\n}\n\nif (typeof data === 'string' && data.trim().startsWith('{')) {\n    try {\n        data = JSON.parse(data);\n    } catch(e) {\n        return null;\n    }\n}\n\nif (typeof data === 'object') {\n    for (let k in data) {\n        if (allowed.includes(k)) {\n            if ((k === 'rfid' || k === 'fingerprint') && typeof data[k] === 'object') {\n                doors[doorId][k] = '-';\n            } else {\n                doors[doorId][k] = data[k] || '-';\n            }\n        }\n    }\n} else {\n    doors[doorId][type] = data || '-';\n}\n\ndoors[doorId].lastUpdate = new Date().toLocaleTimeString();\nglobal.set('doors_dark', doors);\nmsg.payload = doors;\nreturn msg;","outputs":1,"x":400,"y":100,"wires":[["ui_sas_dark_fixed"]]},{"id":"ui_sas_dark_fixed","type":"ui_template","z":"tab_sas_dark_final_fixed","group":"group_sas_dark_fixed","name":"Industrial Dark Dashboard","order":1,"width":24,"height":22,"format":"<style>\nbody{background:#020617!important}.sas{font-family:'Segoe UI',Arial;background:linear-gradient(135deg,#020617,#0f172a);padding:25px;border-radius:20px;color:#e5e7eb}.title{font-size:32px;font-weight:900;color:#38bdf8}.sub{color:#94a3b8;margin-bottom:25px}.grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(340px,1fr));gap:22px}.card{background:rgba(15,23,42,.92);border:1px solid rgba(56,189,248,.25);border-radius:22px;padding:22px;box-shadow:0 0 30px rgba(56,189,248,.12);position:relative;overflow:hidden}.card:before{content:'';position:absolute;top:0;left:0;width:100%;height:5px;background:linear-gradient(90deg,#06b6d4,#2563eb,#8b5cf6)}.head{display:flex;justify-content:space-between;align-items:center}.name{font-size:25px;font-weight:900}.badge{padding:8px 15px;border-radius:999px;font-weight:900;font-size:13px;color:white}.READY{background:#16a34a;box-shadow:0 0 15px #16a34a}.OPEN{background:#2563eb}.WAIT{background:#f59e0b}.REFUSED{background:#dc2626}.info{display:grid;grid-template-columns:1fr 1fr;gap:12px;margin-top:18px}.item{background:#020617;border:1px solid #1e293b;border-radius:15px;padding:12px}.label{font-size:12px;color:#94a3b8}.value{font-size:17px;font-weight:900;color:#f8fafc;word-break:break-word}.actions{display:flex;gap:10px;margin-top:20px}.btn{border:0;border-radius:14px;padding:12px;color:white;font-weight:900;cursor:pointer;flex:1}.open{background:#16a34a}.close{background:#dc2626}.reset{background:#2563eb}.footer{text-align:right;color:#94a3b8;font-size:12px;margin-top:14px}.alarm{color:#ef4444;animation:pulse 1s infinite}@keyframes pulse{50%{opacity:.35}}\n</style>\n<div class=\"sas\">\n  <div class=\"title\">🏭 SAS Industrial Control</div>\n  <div class=\"sub\">Supervision temps réel ESP32 / MQTT / Node-RED</div>\n  <div class=\"grid\">\n    <div class=\"card\" ng-repeat=\"(id,d) in msg.payload\">\n      <div class=\"head\"><div class=\"name\">🚪 {{id}}</div><div class=\"badge\" ng-class=\"d.state\">{{d.state}}</div></div>\n      <div class=\"info\">\n        <div class=\"item\"><div class=\"label\">Porte</div><div class=\"value\">{{d.door}}</div></div>\n        <div class=\"item\"><div class=\"label\">Attente</div><div class=\"value\">{{d.wait}}</div></div>\n        <div class=\"item\"><div class=\"label\">Température</div><div class=\"value\">{{d.temp}} °C</div></div>\n        <div class=\"item\"><div class=\"label\">Humidité</div><div class=\"value\">{{d.hum}} %</div></div>\n        <div class=\"item\"><div class=\"label\">Mouvement PIR</div><div class=\"value\" ng-class=\"{'alarm':d.pir=='DETECTED'}\">{{d.pir}}</div></div>\n        <div class=\"item\"><div class=\"label\">Status</div><div class=\"value\">{{d.status}}</div></div>\n        <div class=\"item\"><div class=\"label\">RFID</div><div class=\"value\">{{d.rfid}}</div></div>\n        <div class=\"item\"><div class=\"label\">Empreinte</div><div class=\"value\">{{d.fingerprint}}</div></div>\n        <div class=\"item\"><div class=\"label\">Auth</div><div class=\"value\">{{d.auth}}</div></div>\n        <div class=\"item\"><div class=\"label\">Event</div><div class=\"value\">{{d.event}}</div></div>\n      </div>\n      <div class=\"actions\">\n        <button class=\"btn open\" ng-click=\"send({topic:'sas/'+id+'/cmd',payload:'OPEN'})\">OPEN</button>\n        <button class=\"btn close\" ng-click=\"send({topic:'sas/'+id+'/cmd',payload:'CLOSE'})\">CLOSE</button>\n        <button class=\"btn reset\" ng-click=\"send({topic:'sas/'+id+'/cmd',payload:'RESET'})\">RESET</button>\n      </div>\n      <div class=\"footer\">Dernière mise à jour : {{d.lastUpdate}}</div>\n    </div>\n  </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":670,"y":100,"wires":[["filter_cmd_dark_fixed"]]},{"id":"filter_cmd_dark_fixed","type":"function","z":"tab_sas_dark_final_fixed","name":"Filter CMD","func":"if (!msg.topic) return null;\nif (!/^sas\\/door\\d+\\/cmd$/.test(msg.topic)) return null;\nif (!['OPEN','CLOSE','RESET'].includes(msg.payload)) return null;\nreturn msg;","outputs":1,"x":900,"y":100,"wires":[["mqtt_out_dark_fixed"]]},{"id":"mqtt_out_dark_fixed","type":"mqtt out","z":"tab_sas_dark_final_fixed","name":"MQTT CMD OUT","topic":"","qos":"0","retain":"","broker":"broker_sas_dark_fixed","x":1090,"y":100,"wires":[]},{"id":"refresh_dark_fixed","type":"inject","z":"tab_sas_dark_final_fixed","name":"Refresh","props":[{"p":"payload"}],"repeat":"2","once":true,"onceDelay":"1","payloadType":"date","x":150,"y":180,"wires":[["load_dark_fixed"]]},{"id":"load_dark_fixed","type":"function","z":"tab_sas_dark_final_fixed","name":"Load dashboard","func":"msg.payload = global.get('doors_dark') || {};\nreturn msg;","outputs":1,"x":400,"y":180,"wires":[["ui_sas_dark_fixed"]]},{"id":"clear_dark_fixed","type":"inject","z":"tab_sas_dark_final_fixed","name":"CLEAR doors","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":150,"y":250,"wires":[["clear_memory_dark_fixed"]]},{"id":"clear_memory_dark_fixed","type":"function","z":"tab_sas_dark_final_fixed","name":"Clear memory","func":"global.set('doors_dark', {});\nmsg.payload = {};\nreturn msg;","outputs":1,"x":400,"y":250,"wires":[["ui_sas_dark_fixed"]]},{"id":"513ca8e152e17f3b","type":"mqtt in","z":"a17b295d64da5568","name":"RFID scanned ALL","topic":"sas/+/rfid","qos":"0","datatype":"auto","broker":"37aa7c55c8b3ef7b","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["a3f67bec1ccebbfb"]]},{"id":"bb099eebd1c6ec5b","type":"mqtt in","z":"a17b295d64da5568","name":"RFID consume ALL","topic":"sas/+/rfid_consume","qos":"0","datatype":"auto","broker":"37aa7c55c8b3ef7b","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":140,"wires":[["0dffab51c641f75d"]]},{"id":"46a4f74248b72aaf","type":"mqtt in","z":"a17b295d64da5568","name":"Detect doors","topic":"sas/+/state","qos":"0","datatype":"auto","broker":"37aa7c55c8b3ef7b","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":200,"wires":[["45e0117b349e453a"]]},{"id":"45e0117b349e453a","type":"function","z":"a17b295d64da5568","name":"Store doors list","func":"let p = msg.topic.split('/');\nlet doorId = p[1];\nif (!/^door\\d+$/.test(doorId)) return null;\nlet doors = global.get('doors_list','file') || [];\nif (!doors.includes(doorId)) {\n    doors.push(doorId);\n    doors.sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\n    global.set('doors_list', doors, 'file');\n}\nmsg.topic = 'doors_list';\nmsg.payload = doors;\nreturn msg;","outputs":1,"x":390,"y":200,"wires":[["844688f45caa3e62"]]},{"id":"a3f67bec1ccebbfb","type":"function","z":"a17b295d64da5568","name":"Store last UID","func":"function normalizeUid(uid){uid=String(uid||'').trim().toUpperCase();let out='';for(let c of uid){if((c>='0'&&c<='9')||(c>='A'&&c<='F'))out+=c;}return out;}\nlet p=msg.topic.split('/');\nlet doorId=p[1];\nlet raw=String(msg.payload||'').trim().toUpperCase();\nlet norm=normalizeUid(raw);\nif(!norm)return null;\nglobal.set('lastScannedUid',norm,'file');\nglobal.set('lastScannedDoor',doorId,'file');\nreturn[{topic:'lastUid',payload:raw+' | '+doorId},{payload:'Dernier UID scanné : '+raw+' depuis '+doorId}];","outputs":2,"x":390,"y":80,"wires":[["10c42bb8d4a1bb14"],["8dc90fbc6a9061df"]]},{"id":"0dffab51c641f75d","type":"function","z":"a17b295d64da5568","name":"Increment usedCount","func":"function normalizeUid(uid){uid=String(uid||'').trim().toUpperCase();let out='';for(let c of uid){if((c>='0'&&c<='9')||(c>='A'&&c<='F'))out+=c;}return out;}\nlet p=msg.topic.split('/');\nlet doorId=p[1];\nlet uid=normalizeUid(msg.payload);\nlet db=global.get('rfid_db','file')||[];\nlet idx=db.findIndex(x=>normalizeUid(x.uid)===uid);\nif(idx>=0){db[idx].usedCount=Number(db[idx].usedCount||0)+1;global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true},{payload:'Consommation enregistrée pour '+uid+' depuis '+doorId}];}\nreturn[null,null,null,{payload:'UID consume non trouvé : '+uid+' depuis '+doorId}];","outputs":4,"x":400,"y":140,"wires":[["3aea733025fab93a"],["32eb1fd77c157675"],["4969260e83e762d7"],["8dc90fbc6a9061df"]]},{"id":"10c42bb8d4a1bb14","type":"ui_template","z":"a17b295d64da5568","group":"group_status_acl","name":"Status Cards","order":1,"width":"12","height":"5","format":"<style>.box{font-family:Arial;background:#fff;border-radius:22px;padding:20px;box-shadow:0 12px 30px rgba(15,23,42,.12)}.mini{font-size:12px;color:#64748b;font-weight:900}.big{font-size:30px;font-weight:900;color:#0f172a;word-break:break-word}.btn{margin-top:12px;background:#0284c7;color:white;border:0;border-radius:12px;padding:12px 18px;font-weight:900}</style><div class='box'><div class='mini'>DERNIER UID SCANNÉ</div><div class='big'>{{lastUid||'-'}}</div><button class='btn' ng-click='useLast()'>Utiliser dernier UID</button><hr><div class='mini'>NOTIFICATION</div><div>{{lastNotify||'Aucune notification'}}</div></div><script>(function(scope){scope.lastUid='-';scope.lastNotify='Aucune notification';scope.useLast=function(){scope.send({payload:{action:'useLast'}})};scope.$watch('msg',function(msg){if(!msg)return;if(msg.topic==='lastUid')scope.lastUid=msg.payload;if(msg.topic==='notify')scope.lastNotify=msg.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":80,"wires":[["e80d1d0b8a90d624"]]},{"id":"e80d1d0b8a90d624","type":"function","z":"a17b295d64da5568","name":"Use last UID","func":"function normalizeUid(uid){uid=String(uid||'').trim().toUpperCase();let out='';for(let c of uid){if((c>='0'&&c<='9')||(c>='A'&&c<='F'))out+=c;}return out;}\nlet p=msg.payload||{};if(p.action!=='useLast')return null;let uid=normalizeUid(global.get('lastScannedUid','file')||'');let door=global.get('lastScannedDoor','file')||'-';let db=global.get('rfid_db','file')||[];let found=db.find(x=>normalizeUid(x.uid)===uid)||{uid:uid,name:'',enabled:true,startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,usedCount:0,allowedDoors:['ALL']};return[{payload:uid},{payload:found},{payload:'UID repris: '+uid+' depuis '+door}];","outputs":3,"x":900,"y":80,"wires":[["0410fb4dc3f08ad0"],["844688f45caa3e62"],["8dc90fbc6a9061df"]]},{"id":"0410fb4dc3f08ad0","type":"ui_text","z":"a17b295d64da5568","group":"group_status_acl","order":2,"width":"12","height":"1","name":"Selected UID","label":"UID sélectionné","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":80,"wires":[]},{"id":"844688f45caa3e62","type":"ui_template","z":"a17b295d64da5568","group":"group_editor_acl","name":"Badge Editor Dynamic Doors","order":1,"width":"12","height":"15","format":"<style>.editor{font-family:Arial;background:#fff;border-radius:24px;padding:22px;box-shadow:0 14px 30px rgba(15,23,42,.1)}.title{font-size:28px;font-weight:900;color:#0f172a}.grid{display:grid;grid-template-columns:1fr 1fr;gap:14px;margin-top:16px}.field{display:flex;flex-direction:column}.field label{font-size:13px;font-weight:900;color:#475569;margin-bottom:6px}.field input,.field select{padding:12px;border:1px solid #cbd5e1;border-radius:14px}.doors{grid-column:1/3;background:#f8fafc;border:1px solid #e2e8f0;border-radius:16px;padding:14px}.door-check{display:inline-block;margin:6px 14px 6px 0;font-weight:800}.actions{margin-top:18px;display:flex;gap:10px;flex-wrap:wrap}.btn{border:0;border-radius:12px;padding:12px 18px;color:white;font-weight:900}.save{background:#0284c7}.list{background:#15803d}.read{background:#0e7490}.del{background:#dc2626}</style><div class='editor'><div class='title'>Créer / Modifier badge</div><div class='grid'><div class='field'><label>UID</label><input ng-model='form.uid'></div><div class='field'><label>Nom</label><input ng-model='form.name'></div><div class='field'><label>Date début</label><input type='date' ng-model='form.startDate'></div><div class='field'><label>Heure début</label><input type='time' ng-model='form.startTime'></div><div class='field'><label>Date fin</label><input type='date' ng-model='form.endDate'></div><div class='field'><label>Heure fin</label><input type='time' ng-model='form.endTime'></div><div class='field'><label>Max utilisations</label><input type='number' min='0' ng-model='form.maxUses'></div><div class='field'><label>Etat</label><select ng-model='form.enabled'><option value='true'>Enabled</option><option value='false'>Disabled</option></select></div><div class='doors'><label>Portes autorisées</label><br><label class='door-check'><input type='checkbox' ng-checked='form.allowedDoors.includes(\"ALL\")' ng-click='toggleDoor(\"ALL\")'> ALL</label><label class='door-check' ng-repeat='d in doors'><input type='checkbox' ng-checked='form.allowedDoors.includes(d)' ng-click='toggleDoor(d)'> {{d}}</label><div ng-if='doors.length===0' style='color:#dc2626;font-weight:800;margin-top:8px'>Aucune porte détectée. Vérifie que les ESP publient sas/doorX/state</div></div></div><div class='actions'><button class='btn save' ng-click='save()'>Save</button><button class='btn list' ng-click='list()'>List</button><button class='btn read' ng-click='read()'>Read</button><button class='btn del' ng-click='del()'>Delete</button></div></div><script>(function(scope){function fd(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v))return v.getFullYear()+'-'+String(v.getMonth()+1).padStart(2,'0')+'-'+String(v.getDate()).padStart(2,'0');v=String(v);return v.includes('T')?v.substring(0,10):v}function ft(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]'&&!isNaN(v))return String(v.getHours()).padStart(2,'0')+':'+String(v.getMinutes()).padStart(2,'0');v=String(v);if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m)return m[1]+':'+m[2]}return v.substring(0,5)}scope.doors=[];scope.form={uid:'',name:'',startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,enabled:'true',allowedDoors:['ALL']};scope.toggleDoor=function(d){if(!scope.form.allowedDoors)scope.form.allowedDoors=[];if(d==='ALL'){scope.form.allowedDoors=['ALL'];return;}scope.form.allowedDoors=scope.form.allowedDoors.filter(x=>x!=='ALL');let i=scope.form.allowedDoors.indexOf(d);if(i>=0)scope.form.allowedDoors.splice(i,1);else scope.form.allowedDoors.push(d);};scope.save=function(){let f=angular.copy(scope.form);f.startDate=fd(f.startDate);f.startTime=ft(f.startTime);f.endDate=fd(f.endDate);f.endTime=ft(f.endTime);f.allowedDoors=f.allowedDoors&&f.allowedDoors.length?f.allowedDoors:['ALL'];scope.send({payload:{action:'save',uid:String(f.uid||'').trim().toUpperCase(),data:f}})};scope.list=function(){scope.send({payload:{action:'list'}})};scope.read=function(){scope.send({payload:{action:'read',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.del=function(){scope.send({payload:{action:'delete',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.$watch('msg',function(msg){if(!msg)return;if(msg.topic==='doors_list'){scope.doors=msg.payload||[];return;}if(!msg.payload||msg.payload.uid===undefined)return;let p=msg.payload;scope.form.uid=p.uid||'';scope.form.name=p.name||'';scope.form.startDate=p.startDate||'';scope.form.startTime=p.startTime||'';scope.form.endDate=p.endDate||'';scope.form.endTime=p.endTime||'';scope.form.maxUses=p.maxUses||0;scope.form.enabled=String(p.enabled!==false);scope.form.allowedDoors=Array.isArray(p.allowedDoors)?p.allowedDoors:['ALL'];});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":360,"wires":[["cd9246dfda2fdc94"]]},{"id":"cd9246dfda2fdc94","type":"function","z":"a17b295d64da5568","name":"Handle CRUD + ACL","func":"function normalizeUid(uid){uid=String(uid||'').trim().toUpperCase();let out='';for(let c of uid){if((c>='0'&&c<='9')||(c>='A'&&c<='F'))out+=c;}return out;}function toEpoch(d,t){if(!d||!t)return 0;let dd=d.split('-');let tt=t.split(':');let dt=new Date(dd[0],dd[1]-1,dd[2],tt[0],tt[1],0,0);return Math.floor(dt.getTime()/1000);}let db=global.get('rfid_db','file')||[];let p=msg.payload||{};let action=p.action||'';let uid=normalizeUid(p.uid||'');if(action==='list'){return[{payload:db},{payload:db},{payload:'Liste '+db.length},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}if(action==='read'){let f=db.find(x=>normalizeUid(x.uid)===uid);return[null,null,{payload:f||{}},null];}if(action==='delete'){db=db.filter(x=>normalizeUid(x.uid)!==uid);global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Supprimé '+uid},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}if(action==='save'){let d=p.data||{};let allowedDoors=Array.isArray(d.allowedDoors)&&d.allowedDoors.length?d.allowedDoors:['ALL'];let obj={uid:uid,name:d.name||'',enabled:String(d.enabled)!=='false',startDate:d.startDate||'',startTime:d.startTime||'',endDate:d.endDate||'',endTime:d.endTime||'',allowedFrom:toEpoch(d.startDate,d.startTime),allowedTo:toEpoch(d.endDate,d.endTime),maxUses:parseInt(d.maxUses||0),usedCount:0,allowedDoors:allowedDoors};let idx=db.findIndex(x=>normalizeUid(x.uid)===uid);if(idx>=0){obj.usedCount=db[idx].usedCount||0;db[idx]=obj;}else db.push(obj);global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Sauvegardé '+uid},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}return null;","outputs":4,"x":420,"y":360,"wires":[["3aea733025fab93a"],["32eb1fd77c157675"],["844688f45caa3e62"],["4969260e83e762d7"]]},{"id":"3aea733025fab93a","type":"ui_template","z":"a17b295d64da5568","group":"group_table_acl","name":"Table","order":1,"width":"12","height":"10","format":"<div style='background:#fff;padding:15px;border-radius:20px'><h3>RFID DB</h3><table border='1' width='100%'><tr><th>UID</th><th>Nom</th><th>Doors</th><th>Uses</th></tr><tr ng-repeat='r in msg.payload'><td>{{r.uid}}</td><td>{{r.name}}</td><td>{{r.allowedDoors.join(\",\")}}</td><td>{{r.usedCount}}</td></tr></table></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":360,"wires":[[]]},{"id":"32eb1fd77c157675","type":"ui_template","z":"a17b295d64da5568","group":"group_stats_acl","name":"Stats","order":1,"width":"12","height":"4","format":"<div style='background:#fff;padding:20px;border-radius:20px'>Total badges: {{msg.payload.length}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":420,"wires":[[]]},{"id":"4969260e83e762d7","type":"mqtt out","z":"a17b295d64da5568","name":"Publish DB","topic":"sas/rfid/db","qos":"0","retain":"true","broker":"37aa7c55c8b3ef7b","x":700,"y":480,"wires":[]},{"id":"8dc90fbc6a9061df","type":"ui_text","z":"a17b295d64da5568","group":"group_logs_acl","order":1,"width":"12","height":"1","name":"Logs","label":"Logs","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":520,"wires":[]},{"id":"1073a4c70efd7df4","type":"mqtt in","z":"0d48d7c1fa71104d","name":"RFID Scan ALL","topic":"sas/+/rfid","qos":"0","datatype":"auto","broker":"2bfdb23333ca6013","inputs":0,"x":130,"y":80,"wires":[["2c013ab39d4a72db"]]},{"id":"4069ad66dc0816d1","type":"mqtt in","z":"0d48d7c1fa71104d","name":"RFID Result ALL","topic":"sas/+/rfid_result","qos":"0","datatype":"auto","broker":"2bfdb23333ca6013","inputs":0,"x":130,"y":130,"wires":[["5e908d6b6026de67"]]},{"id":"2f660cb10c3c466e","type":"mqtt in","z":"0d48d7c1fa71104d","name":"RFID Consume ALL","topic":"sas/+/rfid_consume","qos":"0","datatype":"auto","broker":"2bfdb23333ca6013","inputs":0,"x":140,"y":180,"wires":[["563a7c9fb35922d6"]]},{"id":"1b6ce3f3135e513c","type":"mqtt in","z":"0d48d7c1fa71104d","name":"Detect Doors","topic":"sas/+/state","qos":"0","datatype":"auto","broker":"2bfdb23333ca6013","inputs":0,"x":120,"y":230,"wires":[["9db6c1b42ab77666"]]},{"id":"9db6c1b42ab77666","type":"function","z":"0d48d7c1fa71104d","name":"Store Doors","func":"let door=msg.topic.split('/')[1];\nif(!/^door\\d+$/.test(door)) return null;\nlet doors=global.get('doors_list','file')||[];\nif(!doors.includes(door)){\n doors.push(door);\n doors.sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\n global.set('doors_list',doors,'file');\n}\nmsg.topic='doors_list';\nmsg.payload=doors;\nreturn msg;","outputs":1,"x":390,"y":230,"wires":[["af48aa976cb77da7"]]},{"id":"2c013ab39d4a72db","type":"function","z":"0d48d7c1fa71104d","name":"Store Last UID","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet door=msg.topic.split('/')[1];\nlet raw=String(msg.payload||'').trim().toUpperCase();\nlet uid=norm(raw);\nif(!uid)return null;\nglobal.set('lastScannedUid',uid,'file');\nglobal.set('lastScannedDoor',door,'file');\nlet byDoor=global.get('lastUidByDoor','file')||{};\nbyDoor[door]=uid;\nglobal.set('lastUidByDoor',byDoor,'file');\nreturn[{topic:'lastUid',payload:raw+' | '+door},{payload:'Badge scanné: '+raw+' depuis '+door}];","outputs":2,"x":390,"y":80,"wires":[["6689f060572d34b3"],["e2c027ddeb69c3b8"]]},{"id":"5e908d6b6026de67","type":"function","z":"0d48d7c1fa71104d","name":"Access Notifications","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet door=msg.topic.split('/')[1];\nlet result=String(msg.payload||'');\nlet byDoor=global.get('lastUidByDoor','file')||{};\nlet uid=byDoor[door]||'';\nlet db=global.get('rfid_db','file')||[];\nlet card=db.find(x=>norm(x.uid)===norm(uid));\nlet name=card?card.name:'Badge inconnu';\nlet text='';\nif(result==='DOOR_NOT_ALLOWED') text='⛔ '+name+' ('+uid+') a essayé d’accéder à '+door+' sans autorisation';\nelse if(result==='UNKNOWN') text='⛔ Badge inconnu '+uid+' scanné sur '+door;\nelse if(result==='DISABLED') text='⛔ '+name+' est désactivé sur '+door;\nelse if(result==='TIME_DENIED') text='⛔ '+name+' hors plage horaire sur '+door;\nelse if(result==='USE_LIMIT_REACHED') text='⛔ '+name+' a dépassé le nombre d’utilisations sur '+door;\nelse if(result==='AUTHORIZED') text='✅ '+name+' autorisé sur '+door;\nelse return null;\nreturn [{topic:'notify',payload:text},{payload:text}];","outputs":2,"x":390,"y":130,"wires":[["6689f060572d34b3"],["e2c027ddeb69c3b8"]]},{"id":"563a7c9fb35922d6","type":"function","z":"0d48d7c1fa71104d","name":"Increment Used","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet door=msg.topic.split('/')[1];\nlet uid=norm(msg.payload);\nlet db=global.get('rfid_db','file')||[];\nlet i=db.findIndex(x=>norm(x.uid)===uid);\nif(i>=0){db[i].usedCount=Number(db[i].usedCount||0)+1;global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true},{payload:'Utilisation enregistrée: '+uid+' depuis '+door}];}\nreturn[null,null,null,{payload:'UID non trouvé: '+uid}];","outputs":4,"x":390,"y":180,"wires":[["d7cce2327af7090d"],["0ad624e6f4968acc"],["81148942a608a58e"],["e2c027ddeb69c3b8"]]},{"id":"6689f060572d34b3","type":"ui_template","z":"0d48d7c1fa71104d","group":"grp_status","name":"Status","order":1,"width":12,"height":5,"format":"<div style='background:#fff;border-radius:22px;padding:20px;font-family:Arial;box-shadow:0 12px 30px #ddd'><b>Dernier UID scanné</b><h2>{{lastUid||'-'}}</h2><button ng-click='useLast()' style='background:#0284c7;color:white;border:0;border-radius:12px;padding:10px 16px'>Utiliser dernier UID</button><hr><b>Notification</b><p style='font-weight:800;color:#b91c1c'>{{notify||'Aucune notification'}}</p></div><script>(function(scope){scope.lastUid='-';scope.notify='Aucune notification';scope.useLast=function(){scope.send({payload:{action:'useLast'}})};scope.$watch('msg',function(m){if(!m)return;if(m.topic==='lastUid')scope.lastUid=m.payload;if(m.topic==='notify')scope.notify=m.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":80,"wires":[["5a4167ea573b5068"]]},{"id":"5a4167ea573b5068","type":"function","z":"0d48d7c1fa71104d","name":"Use Last","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nif(!msg.payload||msg.payload.action!=='useLast')return null;\nlet uid=norm(global.get('lastScannedUid','file')||'');\nlet db=global.get('rfid_db','file')||[];\nlet found=db.find(x=>norm(x.uid)===uid)||{uid:uid,name:'',enabled:true,startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,usedCount:0,allowedDoors:['ALL']};\nreturn[{payload:uid},{payload:found},{payload:'UID repris: '+uid}];","outputs":3,"x":870,"y":80,"wires":[["2d357761290d344d"],["af48aa976cb77da7","dd7af300dd2a9e7c"],["e2c027ddeb69c3b8"]]},{"id":"2d357761290d344d","type":"ui_text","z":"0d48d7c1fa71104d","group":"grp_status","order":2,"width":12,"height":1,"name":"Selected UID","label":"UID sélectionné","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":80,"wires":[]},{"id":"0ad624e6f4968acc","type":"ui_template","z":"0d48d7c1fa71104d","group":"01ae92c5d5d19855","name":"Stats","order":1,"width":12,"height":4,"format":"<style>.stats{display:grid;grid-template-columns:repeat(4,1fr);gap:14px;font-family:Arial}.c{border-radius:18px;padding:16px;color:white}.b{font-size:30px;font-weight:900}.c1{background:#2563eb}.c2{background:#16a34a}.c3{background:#dc2626}.c4{background:#7c3aed}</style><div class='stats'><div class='c c1'>Total<div class='b'>{{total}}</div></div><div class='c c2'>Enabled<div class='b'>{{enabled}}</div></div><div class='c c3'>Disabled<div class='b'>{{disabled}}</div></div><div class='c c4'>Uses<div class='b'>{{uses}}</div></div></div><script>(function(scope){scope.$watch('msg',function(m){let db=(m&&m.payload)||[];scope.total=db.length;scope.enabled=db.filter(x=>x.enabled).length;scope.disabled=db.filter(x=>!x.enabled).length;scope.uses=db.reduce((s,x)=>s+Number(x.usedCount||0),0);});})(scope);</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":250,"wires":[[]]},{"id":"af48aa976cb77da7","type":"ui_template","z":"0d48d7c1fa71104d","group":"b8e925ca96efabb2","name":"Editor","order":1,"width":12,"height":16,"format":"<style>.ed{background:#fff;border-radius:22px;padding:20px;font-family:Arial;box-shadow:0 12px 30px #ddd}.grid{display:grid;grid-template-columns:1fr 1fr;gap:12px}.f{display:flex;flex-direction:column}.f input,.f select{padding:10px;border-radius:10px;border:1px solid #ccc}.doors{grid-column:1/3;background:#f8fafc;padding:12px;border-radius:14px}.chk{display:inline-block;margin:6px 14px 6px 0;font-weight:800}.btn{border:0;border-radius:10px;color:white;padding:10px 14px;margin:10px 6px 0 0;font-weight:900}.save{background:#0284c7}.list{background:#15803d}.read{background:#0e7490}.del{background:#dc2626}</style><div class='ed'><h2>Créer / Modifier badge</h2><div class='grid'><div class='f'><label>UID</label><input ng-model='form.uid'></div><div class='f'><label>Nom</label><input ng-model='form.name'></div><div class='f'><label>Date début</label><input type='date' ng-model='form.startDate'></div><div class='f'><label>Heure début</label><input type='time' ng-model='form.startTime'></div><div class='f'><label>Date fin</label><input type='date' ng-model='form.endDate'></div><div class='f'><label>Heure fin</label><input type='time' ng-model='form.endTime'></div><div class='f'><label>Max utilisations</label><input type='number' ng-model='form.maxUses'></div><div class='f'><label>Etat</label><select ng-model='form.enabled'><option value='true'>Enabled</option><option value='false'>Disabled</option></select></div><div class='doors'><b>Portes autorisées</b><br><label class='chk'><input type='checkbox' ng-checked='form.allowedDoors.includes(\"ALL\")' ng-click='toggleDoor(\"ALL\")'> ALL</label><label class='chk' ng-repeat='d in doors'><input type='checkbox' ng-checked='form.allowedDoors.includes(d)' ng-click='toggleDoor(d)'> {{d}}</label><div ng-if='doors.length===0' style='color:red;font-weight:900'>Aucune porte détectée</div></div></div><button class='btn save' ng-click='save()'>Save</button><button class='btn list' ng-click='list()'>List</button><button class='btn read' ng-click='read()'>Read</button><button class='btn del' ng-click='del()'>Delete</button></div><script>(function(scope){function fd(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]')return v.getFullYear()+'-'+String(v.getMonth()+1).padStart(2,'0')+'-'+String(v.getDate()).padStart(2,'0');v=String(v);return v.includes('T')?v.substring(0,10):v}function ft(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]')return String(v.getHours()).padStart(2,'0')+':'+String(v.getMinutes()).padStart(2,'0');v=String(v);if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m)return m[1]+':'+m[2]}return v.substring(0,5)}scope.doors=[];scope.form={uid:'',name:'',startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,enabled:'true',allowedDoors:['ALL']};scope.toggleDoor=function(d){if(d==='ALL'){scope.form.allowedDoors=['ALL'];return;}scope.form.allowedDoors=scope.form.allowedDoors.filter(x=>x!=='ALL');let i=scope.form.allowedDoors.indexOf(d);if(i>=0)scope.form.allowedDoors.splice(i,1);else scope.form.allowedDoors.push(d);};scope.save=function(){let f=angular.copy(scope.form);f.startDate=fd(f.startDate);f.startTime=ft(f.startTime);f.endDate=fd(f.endDate);f.endTime=ft(f.endTime);if(!f.allowedDoors||!f.allowedDoors.length)f.allowedDoors=['ALL'];scope.send({payload:{action:'save',uid:String(f.uid||'').trim().toUpperCase(),data:f}})};scope.list=function(){scope.send({payload:{action:'list'}})};scope.read=function(){scope.send({payload:{action:'read',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.del=function(){scope.send({payload:{action:'delete',uid:String(scope.form.uid||'').trim().toUpperCase()}})};scope.$watch('msg',function(m){if(!m)return;if(m.topic==='doors_list'){scope.doors=m.payload||[];return;}if(!m.payload||m.payload.uid===undefined)return;let p=m.payload;scope.form.uid=p.uid||'';scope.form.name=p.name||'';scope.form.startDate=p.startDate||'';scope.form.startTime=p.startTime||'';scope.form.endDate=p.endDate||'';scope.form.endTime=p.endTime||'';scope.form.maxUses=p.maxUses||0;scope.form.enabled=String(p.enabled!==false);scope.form.allowedDoors=Array.isArray(p.allowedDoors)?p.allowedDoors:['ALL'];});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":360,"wires":[["5cc14bd0551264a2"]]},{"id":"5cc14bd0551264a2","type":"function","z":"0d48d7c1fa71104d","name":"CRUD","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nfunction ep(d,t){if(!d||!t)return 0;let D=d.split('-').map(Number),T=t.split(':').map(Number);return Math.floor(new Date(D[0],D[1]-1,D[2],T[0],T[1],0).getTime()/1000);}\nlet db=global.get('rfid_db','file')||[];let p=msg.payload||{};let a=p.action||'';let uid=norm(p.uid||(p.data&&p.data.uid)||'');\nif(a==='list'){return[{payload:db},{payload:db},{payload:'Liste RFID: '+db.length},null,null];}\nif(a==='read'){let f=db.find(x=>norm(x.uid)===uid);return[null,null,{payload:f?'Badge trouvé':'Badge introuvable'},{payload:f||{}},null];}\nif(a==='delete'){db=db.filter(x=>norm(x.uid)!==uid);global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Badge supprimé: '+uid},null,{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}\nif(a==='save'){let d=p.data||{};let doors=Array.isArray(d.allowedDoors)&&d.allowedDoors.length?d.allowedDoors:['ALL'];if(doors.includes('ALL'))doors=['ALL'];let idx=db.findIndex(x=>norm(x.uid)===uid);let used=idx>=0?Number(db[idx].usedCount||0):0;let rec={uid:uid,name:d.name||'',enabled:String(d.enabled)!=='false',startDate:d.startDate||'',startTime:d.startTime||'',endDate:d.endDate||'',endTime:d.endTime||'',allowedFrom:ep(d.startDate,d.startTime),allowedTo:ep(d.endDate,d.endTime),maxUses:Number(d.maxUses||0),usedCount:used,allowedDoors:doors};if(idx>=0)db[idx]=rec;else db.push(rec);global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Badge sauvegardé: '+uid+' | portes: '+doors.join(', ')},{payload:rec},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}\nreturn[null,null,{payload:'Action inconnue'},null,null];","outputs":5,"x":360,"y":360,"wires":[["d7cce2327af7090d"],["0ad624e6f4968acc"],["e2c027ddeb69c3b8"],["af48aa976cb77da7","dd7af300dd2a9e7c"],["81148942a608a58e"]]},{"id":"d7cce2327af7090d","type":"ui_template","z":"0d48d7c1fa71104d","group":"fc31a310bff59558","name":"Database","order":1,"width":12,"height":12,"format":"<div style='background:#fff;border-radius:22px;padding:18px;font-family:Arial'><h2>RFID Database ({{msg.payload.length||0}})</h2><table width='100%' border='1' cellspacing='0' cellpadding='8'><tr><th>UID</th><th>Nom</th><th>Portes</th><th>Dates</th><th>Uses</th><th>Etat</th><th>Actions</th></tr><tr ng-repeat='r in msg.payload'><td><b>{{r.uid}}</b></td><td>{{r.name}}</td><td>{{r.allowedDoors.join(', ')}}</td><td>{{r.startDate}} {{r.startTime}} → {{r.endDate}} {{r.endTime}}</td><td>{{r.usedCount||0}} / {{r.maxUses>0?r.maxUses:'∞'}}</td><td>{{r.enabled?'ENABLED':'DISABLED'}}</td><td><button ng-click=\"send({payload:{action:'select',uid:r.uid}})\">Modifier</button><button ng-click=\"send({payload:{action:'toggle',uid:r.uid,enabled:!r.enabled}})\">Toggle</button><button ng-click=\"send({payload:{action:'delete',uid:r.uid}})\">Delete</button></td></tr></table></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":520,"wires":[["b3047f61e46516ff"]]},{"id":"b3047f61e46516ff","type":"function","z":"0d48d7c1fa71104d","name":"Table Actions","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet db=global.get('rfid_db','file')||[];let p=msg.payload||{};let uid=norm(p.uid);let a=p.action;\nif(a==='select'){let f=db.find(x=>norm(x.uid)===uid);return[null,null,{payload:'Modification: '+uid},{payload:f},null];}\nif(a==='delete'){db=db.filter(x=>norm(x.uid)!==uid);global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Supprimé: '+uid},null,{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}\nif(a==='toggle'){let i=db.findIndex(x=>norm(x.uid)===uid);if(i>=0){db[i].enabled=!!p.enabled;global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Badge '+uid+' '+(db[i].enabled?'activé':'désactivé')},{payload:db[i]},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];}}\nreturn null;","outputs":5,"x":890,"y":520,"wires":[["d7cce2327af7090d"],["0ad624e6f4968acc"],["e2c027ddeb69c3b8"],["af48aa976cb77da7","dd7af300dd2a9e7c"],["81148942a608a58e"]]},{"id":"dd7af300dd2a9e7c","type":"ui_template","z":"0d48d7c1fa71104d","group":"b8e925ca96efabb2","name":"Selected Record","order":2,"width":12,"height":4,"format":"<pre style='background:white;border-radius:14px;padding:12px'>{{msg.payload | json}}</pre>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":410,"wires":[[]]},{"id":"81148942a608a58e","type":"mqtt out","z":"0d48d7c1fa71104d","name":"Publish DB","topic":"sas/rfid/db","qos":"0","retain":"true","broker":"2bfdb23333ca6013","x":1120,"y":520,"wires":[]},{"id":"e2c027ddeb69c3b8","type":"ui_text","z":"0d48d7c1fa71104d","group":"grp_logs","order":1,"width":12,"height":1,"name":"Logs","label":"Log","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":580,"wires":[]},{"id":"783f94ca37d63f5b","type":"inject","z":"0d48d7c1fa71104d","name":"Init DB","props":[],"once":true,"onceDelay":"0.5","x":120,"y":650,"wires":[["4dcff9eb242f31dd"]]},{"id":"4dcff9eb242f31dd","type":"function","z":"0d48d7c1fa71104d","name":"Init DB","func":"let db=global.get('rfid_db','file')||[];db=db.map(x=>{if(!Array.isArray(x.allowedDoors))x.allowedDoors=['ALL'];return x});global.set('rfid_db',db,'file');return[{payload:db},{payload:db},{payload:'Base RFID initialisée: '+db.length},{topic:'sas/rfid/db',payload:JSON.stringify(db),retain:true}];","outputs":4,"x":340,"y":650,"wires":[["d7cce2327af7090d"],["0ad624e6f4968acc"],["e2c027ddeb69c3b8"],["81148942a608a58e"]]},{"id":"7eb30fc346e91c62","type":"mqtt in","z":"7e50976590dcf35e","name":"Finger Scan ALL","topic":"sas/+/fingerprint","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":130,"y":80,"wires":[["d0d47ff75824507d"]]},{"id":"b2142ba597dfb049","type":"mqtt in","z":"7e50976590dcf35e","name":"Finger Result ALL","topic":"sas/+/fingerprint_result","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":140,"y":130,"wires":[["96df3e491fc4723a"]]},{"id":"35022d46fc7edf1f","type":"mqtt in","z":"7e50976590dcf35e","name":"Finger Consume ALL","topic":"sas/+/fingerprint_consume","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":150,"y":180,"wires":[["87b6bf7214c2d82a"]]},{"id":"0ec1a3c06e300b93","type":"mqtt in","z":"7e50976590dcf35e","name":"Detect Doors","topic":"sas/+/state","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":120,"y":230,"wires":[["736518d72b8a9873"]]},{"id":"eb654ad38cc4412d","type":"mqtt in","z":"7e50976590dcf35e","name":"Enroll Status ALL","topic":"sas/+/finger_enroll_status","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":140,"y":280,"wires":[["b227f3f6c1ba9434"]]},{"id":"7e5bd60b701e82a7","type":"mqtt in","z":"7e50976590dcf35e","name":"Enroll Result ALL","topic":"sas/+/finger_enroll_result","qos":"0","datatype":"auto","broker":"mqtt_finger_acl_broker","inputs":0,"x":140,"y":330,"wires":[["36dbf935cf4a0717"]]},{"id":"736518d72b8a9873","type":"function","z":"7e50976590dcf35e","name":"Store Doors","func":"let door=msg.topic.split('/')[1];\nif(!/^door\\d+$/.test(door)) return null;\nlet doors=global.get('doors_list','file')||[];\nif(!doors.includes(door)){\n doors.push(door);\n doors.sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\n global.set('doors_list',doors,'file');\n}\nreturn {topic:'doors_list',payload:doors};","outputs":1,"x":400,"y":230,"wires":[["f2e1ce8e922f90cc"]]},{"id":"b227f3f6c1ba9434","type":"function","z":"7e50976590dcf35e","name":"Enroll Status to UI","func":"let door=msg.topic.split('/')[1];\nlet v=String(msg.payload||'');\nlet txt=v;\nif(v==='put_finger') txt='mettre votre doigt sur le capteur';\nelse if(v==='remove_finger') txt='retirer votre doigt';\nelse if(v==='put_same_finger') txt='remettre le même doigt';\nelse if(v==='finger_saved') txt='empreinte enregistrée';\nmsg.topic='enrollStatus';\nmsg.payload=door+' : '+txt;\nreturn msg;","outputs":1,"x":410,"y":280,"wires":[["f2e1ce8e922f90cc","ebb536016f5cb7be"]]},{"id":"36dbf935cf4a0717","type":"function","z":"7e50976590dcf35e","name":"Enroll Result to UI","func":"let door=msg.topic.split('/')[1];\nlet r=String(msg.payload||'');\nmsg.topic='enrollStatus';\nmsg.payload=door+' : '+r;\nreturn msg;","outputs":1,"x":410,"y":330,"wires":[["f2e1ce8e922f90cc","ebb536016f5cb7be"]]},{"id":"d0d47ff75824507d","type":"function","z":"7e50976590dcf35e","name":"Store Last Finger","func":"let door=msg.topic.split('/')[1];\nlet id=String(msg.payload||'').trim();\nif(!id) return null;\nglobal.set('lastFingerId',id,'file');\nglobal.set('lastFingerDoor',door,'file');\nlet byDoor=global.get('lastFingerByDoor','file')||{};\nbyDoor[door]=id;\nglobal.set('lastFingerByDoor',byDoor,'file');\nreturn[{topic:'lastFingerId',payload:id+' | '+door},{payload:'Empreinte détectée ID '+id+' depuis '+door}];","outputs":2,"x":400,"y":80,"wires":[["07666ffd1a1038fa"],["ebb536016f5cb7be"]]},{"id":"96df3e491fc4723a","type":"function","z":"7e50976590dcf35e","name":"Access Notifications","func":"let door=msg.topic.split('/')[1];\nlet result=String(msg.payload||'').trim();\nlet byDoor=global.get('lastFingerByDoor','file')||{};\nlet id=byDoor[door]||'';\nlet db=global.get('finger_db','file')||[];\nlet user=db.find(x=>String(x.fingerId)===String(id));\nlet name=user?user.name:'Empreinte inconnue';\nlet text='';\nif(result==='DOOR_NOT_ALLOWED') text='⛔ '+name+' ID '+id+' a essayé d’accéder à '+door+' sans autorisation';\nelse if(result==='AUTHORIZED') text='✅ '+name+' autorisé sur '+door;\nelse if(result==='UNKNOWN') text='⛔ Empreinte inconnue ID '+id+' sur '+door;\nelse if(result==='DISABLED') text='⛔ '+name+' désactivé sur '+door;\nelse if(result==='TIME_DENIED'||result==='TOO_EARLY'||result==='EXPIRED') text='⛔ '+name+' hors plage horaire sur '+door;\nelse if(result==='USE_LIMIT_REACHED') text='⛔ '+name+' a dépassé le nombre d’utilisations sur '+door;\nelse text='Résultat '+result+' sur '+door;\nreturn[{topic:'notifyBar',payload:text},{payload:text}];","outputs":2,"x":400,"y":130,"wires":[["07666ffd1a1038fa"],["ebb536016f5cb7be"]]},{"id":"87b6bf7214c2d82a","type":"function","z":"7e50976590dcf35e","name":"Increment Used","func":"let door=msg.topic.split('/')[1];\nlet id=parseInt(String(msg.payload||'-1'),10);\nlet db=global.get('finger_db','file')||[];\nlet i=db.findIndex(x=>Number(x.fingerId)===id);\nif(i>=0){db[i].usedCount=Number(db[i].usedCount||0)+1;global.set('finger_db',db,'file');return[{payload:db},{payload:db},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},{payload:'Utilisation enregistrée: ID '+id+' depuis '+door}];}\nreturn[null,null,null,{payload:'ID non trouvé: '+id}];","outputs":4,"x":400,"y":180,"wires":[["e7de9a09a17553ff"],["5d5aac647c2172c8"],["76391d53a8640de5"],["ebb536016f5cb7be"]]},{"id":"07666ffd1a1038fa","type":"ui_template","z":"7e50976590dcf35e","group":"grp_finger_status","name":"Status","order":1,"width":12,"height":5,"format":"<div style='background:#fff;border-radius:22px;padding:20px;font-family:Arial;box-shadow:0 12px 30px #ddd'><b>Dernier ID détecté</b><h2>{{lastFingerId||'-'}}</h2><button ng-click='useLast()' style='background:#0284c7;color:white;border:0;border-radius:12px;padding:10px 16px'>Utiliser dernier ID</button><hr><b>Notification</b><p style='font-weight:800;color:#b91c1c'>{{notify||'Aucune notification'}}</p></div><script>(function(scope){scope.lastFingerId='-';scope.notify='Aucune notification';scope.useLast=function(){scope.send({payload:{action:'useLast'}})};scope.$watch('msg',function(m){if(!m)return;if(m.topic==='lastFingerId')scope.lastFingerId=m.payload;if(m.topic==='notifyBar')scope.notify=m.payload;});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":80,"wires":[["91b8ed077bfda8a3"]]},{"id":"91b8ed077bfda8a3","type":"function","z":"7e50976590dcf35e","name":"Use Last","func":"if(!msg.payload||msg.payload.action!=='useLast')return null;\nlet id=String(global.get('lastFingerId','file')||'');\nlet db=global.get('finger_db','file')||[];\nlet found=db.find(x=>String(x.fingerId)===id)||{fingerId:id,name:'',enabled:true,startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,usedCount:0,allowedDoors:['ALL']};\nreturn[{payload:id},{topic:'loadRecord',payload:found},{payload:'ID repris: '+id}];","outputs":3,"x":890,"y":80,"wires":[["62b6dc6caea9ac31"],["f2e1ce8e922f90cc"],["ebb536016f5cb7be"]]},{"id":"62b6dc6caea9ac31","type":"ui_text","z":"7e50976590dcf35e","group":"grp_finger_status","order":2,"width":12,"height":1,"name":"Selected ID","label":"ID sélectionné","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":80,"wires":[]},{"id":"5d5aac647c2172c8","type":"ui_template","z":"7e50976590dcf35e","group":"grp_finger_stats","name":"Stats","order":1,"width":12,"height":4,"format":"<style>.stats{display:grid;grid-template-columns:repeat(4,1fr);gap:14px;font-family:Arial}.c{border-radius:18px;padding:16px;color:white}.b{font-size:30px;font-weight:900}.c1{background:#2563eb}.c2{background:#16a34a}.c3{background:#dc2626}.c4{background:#7c3aed}</style><div class='stats'><div class='c c1'>Total<div class='b'>{{total}}</div></div><div class='c c2'>Enabled<div class='b'>{{enabled}}</div></div><div class='c c3'>Disabled<div class='b'>{{disabled}}</div></div><div class='c c4'>Uses<div class='b'>{{uses}}</div></div></div><script>(function(scope){scope.$watch('msg',function(m){let db=(m&&m.payload)||[];scope.total=db.length;scope.enabled=db.filter(x=>x.enabled).length;scope.disabled=db.filter(x=>!x.enabled).length;scope.uses=db.reduce((s,x)=>s+Number(x.usedCount||0),0);});})(scope);</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":250,"wires":[[]]},{"id":"f2e1ce8e922f90cc","type":"ui_template","z":"7e50976590dcf35e","group":"grp_finger_editor","name":"Editor","order":1,"width":12,"height":18,"format":"<style>.ed{background:#fff;border-radius:22px;padding:20px;font-family:Arial;box-shadow:0 12px 30px #ddd}.grid{display:grid;grid-template-columns:1fr 1fr;gap:12px}.f{display:flex;flex-direction:column}.f input,.f select{padding:10px;border-radius:10px;border:1px solid #ccc}.doors{grid-column:1/3;background:#f8fafc;padding:12px;border-radius:14px}.chk{display:inline-block;margin:6px 14px 6px 0;font-weight:800}.btn{border:0;border-radius:10px;color:white;padding:10px 14px;margin:10px 6px 0 0;font-weight:900}.save{background:#0284c7}.list{background:#15803d}.read{background:#0e7490}.del{background:#dc2626}.orange{background:#d97706}</style><div class='ed'><h2>Créer / Modifier empreinte</h2><div class='grid'><div class='f'><label>ID empreinte</label><input type='number' ng-model='form.fingerId'></div><div class='f'><label>Nom</label><input ng-model='form.name'></div><div class='f'><label>Date début</label><input type='date' ng-model='form.startDate'></div><div class='f'><label>Heure début</label><input type='time' ng-model='form.startTime'></div><div class='f'><label>Date fin</label><input type='date' ng-model='form.endDate'></div><div class='f'><label>Heure fin</label><input type='time' ng-model='form.endTime'></div><div class='f'><label>Max utilisations</label><input type='number' ng-model='form.maxUses'></div><div class='f'><label>Etat</label><select ng-model='form.enabled'><option value='true'>Enabled</option><option value='false'>Disabled</option></select></div><div class='f'><label>Porte capteur enrôlement</label><select ng-model='form.sensorDoor'><option ng-repeat='d in doors' value='{{d}}'>{{d}}</option></select></div><div class='doors'><b>Portes autorisées</b><br><label class='chk'><input type='checkbox' ng-checked='form.allowedDoors.includes(\"ALL\")' ng-click='toggleDoor(\"ALL\")'> ALL</label><label class='chk' ng-repeat='d in doors'><input type='checkbox' ng-checked='form.allowedDoors.includes(d)' ng-click='toggleDoor(d)'> {{d}}</label><div ng-if='doors.length===0' style='color:red;font-weight:900'>Aucune porte détectée</div></div></div><button class='btn save' ng-click='saveOnly()'>Save DB</button><button class='btn orange' ng-click='enroll()'>Enroll capteur</button><button class='btn list' ng-click='list()'>List</button><button class='btn read' ng-click='read()'>Read</button><button class='btn del' ng-click='del()'>Delete DB</button><button class='btn del' ng-click='deleteSensor()'>Delete capteur</button><button class='btn orange' ng-click='clearSensor()'>Vider capteur</button><p><b>Status enrôlement :</b> {{statusText||'En attente'}}</p></div><script>(function(scope){function fd(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]')return v.getFullYear()+'-'+String(v.getMonth()+1).padStart(2,'0')+'-'+String(v.getDate()).padStart(2,'0');v=String(v);return v.includes('T')?v.substring(0,10):v}function ft(v){if(!v)return'';if(Object.prototype.toString.call(v)==='[object Date]')return String(v.getHours()).padStart(2,'0')+':'+String(v.getMinutes()).padStart(2,'0');v=String(v);if(v.includes('T')){let m=v.match(/T(\\d{2}):(\\d{2})/);if(m)return m[1]+':'+m[2]}return v.substring(0,5)}scope.doors=[];scope.form={fingerId:'',name:'',startDate:'',startTime:'',endDate:'',endTime:'',maxUses:0,enabled:'true',allowedDoors:['ALL'],sensorDoor:''};scope.toggleDoor=function(d){if(d==='ALL'){scope.form.allowedDoors=['ALL'];return;}scope.form.allowedDoors=scope.form.allowedDoors.filter(x=>x!=='ALL');let i=scope.form.allowedDoors.indexOf(d);if(i>=0)scope.form.allowedDoors.splice(i,1);else scope.form.allowedDoors.push(d);};function data(){let f=angular.copy(scope.form);f.startDate=fd(f.startDate);f.startTime=ft(f.startTime);f.endDate=fd(f.endDate);f.endTime=ft(f.endTime);if(!f.allowedDoors||!f.allowedDoors.length)f.allowedDoors=['ALL'];return f;}scope.saveOnly=function(){let f=data();scope.send({payload:{action:'save',data:f}})};scope.enroll=function(){let f=data();scope.send({payload:{action:'enroll',data:f}})};scope.list=function(){scope.send({payload:{action:'list'}})};scope.read=function(){scope.send({payload:{action:'read',fingerId:String(scope.form.fingerId||'').trim()}})};scope.del=function(){scope.send({payload:{action:'delete',fingerId:String(scope.form.fingerId||'').trim()}})};scope.deleteSensor=function(){scope.send({payload:{action:'deleteSensor',fingerId:String(scope.form.fingerId||'').trim(),sensorDoor:scope.form.sensorDoor}})};scope.clearSensor=function(){scope.send({payload:{action:'clearSensor',sensorDoor:scope.form.sensorDoor}})};scope.$watch('msg',function(m){if(!m)return;if(m.topic==='doors_list'){scope.doors=m.payload||[];if(!scope.form.sensorDoor&&scope.doors.length)scope.form.sensorDoor=scope.doors[0];return;}if(m.topic==='enrollStatus'){scope.statusText=m.payload;return;}if(m.topic==='loadRecord'&&m.payload){let p=m.payload;scope.form.fingerId=p.fingerId||'';scope.form.name=p.name||'';scope.form.startDate=p.startDate||'';scope.form.startTime=p.startTime||'';scope.form.endDate=p.endDate||'';scope.form.endTime=p.endTime||'';scope.form.maxUses=p.maxUses||0;scope.form.enabled=String(p.enabled!==false);scope.form.allowedDoors=Array.isArray(p.allowedDoors)?p.allowedDoors:['ALL'];}});})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":400,"wires":[["fd0df1ceab995a11"]]},{"id":"fd0df1ceab995a11","type":"function","z":"7e50976590dcf35e","name":"CRUD + Enroll","func":"function ep(d,t){if(!d||!t)return 0;let D=d.split('-').map(Number),T=t.split(':').map(Number);return Math.floor(new Date(D[0],D[1]-1,D[2],T[0],T[1],0).getTime()/1000);}\nlet db=global.get('finger_db','file')||[];let p=msg.payload||{};let a=p.action||'';let d=p.data||{};let id=parseInt(String(p.fingerId||d.fingerId||'-1'),10);\nfunction publishDb(log,rec){global.set('finger_db',db,'file');return[{payload:db},{payload:db},{payload:log},{topic:'loadRecord',payload:rec||{}},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},null];}\nif(a==='list')return[{payload:db},{payload:db},{payload:'Liste empreintes: '+db.length},null,null,null];\nif(a==='read'){let f=db.find(x=>Number(x.fingerId)===id);return[null,null,{payload:f?'Empreinte trouvée':'Introuvable'},{topic:'loadRecord',payload:f||{}},null,null];}\nif(a==='delete'){db=db.filter(x=>Number(x.fingerId)!==id);return publishDb('Empreinte supprimée DB: '+id,{});}\nif(a==='save'||a==='enroll'){let doors=Array.isArray(d.allowedDoors)&&d.allowedDoors.length?d.allowedDoors:['ALL'];if(doors.includes('ALL'))doors=['ALL'];let rec={fingerId:id,name:d.name||'',enabled:String(d.enabled)!=='false',startDate:d.startDate||'',startTime:d.startTime||'',endDate:d.endDate||'',endTime:d.endTime||'',allowedFrom:ep(d.startDate,d.startTime),allowedTo:ep(d.endDate,d.endTime),maxUses:Number(d.maxUses||0),usedCount:0,allowedDoors:doors};let idx=db.findIndex(x=>Number(x.fingerId)===id);if(idx>=0){rec.usedCount=Number(db[idx].usedCount||0);db[idx]=rec;}else db.push(rec);global.set('finger_db',db,'file');let out=[{payload:db},{payload:db},{payload:'Empreinte sauvegardée: '+id},{topic:'loadRecord',payload:rec},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true},null];if(a==='enroll'){let door=d.sensorDoor||global.get('lastFingerDoor','file')||'door1';global.set('pendingFingerRecord',rec,'file');out[5]={topic:'sas/'+door+'/finger/cmd',payload:'ENROLL:'+id};out[2]={payload:'Enrôlement demandé ID '+id+' sur '+door};}\nreturn out;}\nif(a==='deleteSensor'){let door=p.sensorDoor||'door1';return[null,null,{payload:'Suppression capteur ID '+id+' sur '+door},null,null,{topic:'sas/'+door+'/finger/cmd',payload:'DELETE:'+id}];}\nif(a==='clearSensor'){let door=p.sensorDoor||'door1';return[null,null,{payload:'Vidage capteur sur '+door},null,null,{topic:'sas/'+door+'/finger/cmd',payload:'CLEAR_ALL'}];}\nreturn[null,null,{payload:'Action inconnue'},null,null,null];","outputs":6,"x":380,"y":400,"wires":[["e7de9a09a17553ff"],["5d5aac647c2172c8"],["ebb536016f5cb7be"],["f2e1ce8e922f90cc"],["76391d53a8640de5"],["d66c255a3a58c55f"]]},{"id":"d66c255a3a58c55f","type":"mqtt out","z":"7e50976590dcf35e","name":"Finger Sensor CMD","topic":"","qos":"0","retain":"false","broker":"mqtt_finger_acl_broker","x":660,"y":400,"wires":[]},{"id":"e7de9a09a17553ff","type":"ui_template","z":"7e50976590dcf35e","group":"grp_finger_table","name":"Database","order":1,"width":12,"height":12,"format":"<div style='background:#fff;border-radius:22px;padding:18px;font-family:Arial'><h2>Base empreintes ({{msg.payload.length||0}})</h2><table width='100%' border='1' cellspacing='0' cellpadding='8'><tr><th>ID</th><th>Nom</th><th>Portes</th><th>Dates</th><th>Uses</th><th>Etat</th><th>Actions</th></tr><tr ng-repeat='r in msg.payload'><td><b>{{r.fingerId}}</b></td><td>{{r.name}}</td><td>{{r.allowedDoors.join(', ')}}</td><td>{{r.startDate}} {{r.startTime}} → {{r.endDate}} {{r.endTime}}</td><td>{{r.usedCount||0}} / {{r.maxUses>0?r.maxUses:'∞'}}</td><td>{{r.enabled?'ENABLED':'DISABLED'}}</td><td><button ng-click=\"send({payload:{action:'select',fingerId:r.fingerId}})\">Modifier</button><button ng-click=\"send({payload:{action:'toggle',fingerId:r.fingerId,enabled:!r.enabled}})\">Toggle</button><button ng-click=\"send({payload:{action:'delete',fingerId:r.fingerId}})\">Delete</button></td></tr></table></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":540,"wires":[["f84c364186411ff0"]]},{"id":"f84c364186411ff0","type":"function","z":"7e50976590dcf35e","name":"Table Actions","func":"let db=global.get('finger_db','file')||[];let p=msg.payload||{};let id=parseInt(String(p.fingerId||'-1'),10);let a=p.action;\nif(a==='select'){let f=db.find(x=>Number(x.fingerId)===id);return[null,null,{payload:'Modification ID '+id},{topic:'loadRecord',payload:f},null];}\nif(a==='delete'){db=db.filter(x=>Number(x.fingerId)!==id);global.set('finger_db',db,'file');return[{payload:db},{payload:db},{payload:'Empreinte supprimée: '+id},null,{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true}];}\nif(a==='toggle'){let i=db.findIndex(x=>Number(x.fingerId)===id);if(i>=0){db[i].enabled=!!p.enabled;global.set('finger_db',db,'file');return[{payload:db},{payload:db},{payload:'Empreinte '+id+' '+(db[i].enabled?'activée':'désactivée')},{topic:'loadRecord',payload:db[i]},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true}];}}\nreturn null;","outputs":5,"x":910,"y":540,"wires":[["e7de9a09a17553ff"],["5d5aac647c2172c8"],["ebb536016f5cb7be"],["f2e1ce8e922f90cc"],["76391d53a8640de5"]]},{"id":"76391d53a8640de5","type":"mqtt out","z":"7e50976590dcf35e","name":"Publish Finger DB","topic":"sas/finger/db","qos":"0","retain":"true","broker":"mqtt_finger_acl_broker","x":1140,"y":540,"wires":[]},{"id":"ebb536016f5cb7be","type":"ui_text","z":"7e50976590dcf35e","group":"grp_finger_logs","order":1,"width":12,"height":1,"name":"Logs","label":"Log","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":600,"wires":[]},{"id":"fb9d7f50e520ea60","type":"inject","z":"7e50976590dcf35e","name":"Init DB","props":[],"once":true,"onceDelay":"0.5","x":120,"y":680,"wires":[["ccd86653973244ea"]]},{"id":"ccd86653973244ea","type":"function","z":"7e50976590dcf35e","name":"Init DB","func":"let db=global.get('finger_db','file')||[];db=db.map(x=>{if(!Array.isArray(x.allowedDoors))x.allowedDoors=['ALL'];return x});global.set('finger_db',db,'file');return[{payload:db},{payload:db},{payload:'Base empreinte initialisée: '+db.length},{topic:'sas/finger/db',payload:JSON.stringify(db),retain:true}];","outputs":4,"x":340,"y":680,"wires":[["e7de9a09a17553ff"],["5d5aac647c2172c8"],["ebb536016f5cb7be"],["76391d53a8640de5"]]},{"id":"ea5a2f963f473eb4","type":"mqtt in","z":"222055ee8258a6a6","name":"Door States","topic":"sas/+/state","qos":"0","datatype":"auto","broker":"broker_relations","inputs":0,"x":120,"y":80,"wires":[["d95280fa2289b642"]]},{"id":"d95280fa2289b642","type":"function","z":"222055ee8258a6a6","name":"Store doors + apply locks","func":"let door=msg.topic.split('/')[1];\nlet state=String(msg.payload||'');\nif(!/^door\\d+$/.test(door)) return null;\nlet doors=global.get('factory_doors','file')||{};\nif(!doors[door]) doors[door]={state:'READY',locked:false,lockUntil:0};\ndoors[door].state=state;\ndoors[door].lastUpdate=new Date().toLocaleTimeString();\nlet rels=global.get('door_relations','file')||[];\nlet outs=[];\nif(state==='OPEN'){\n  for(let r of rels){\n    if(r.from===door){\n      let delay=Number(r.delay||3);\n      if(!doors[r.to]) doors[r.to]={state:'READY',locked:false,lockUntil:0};\n      doors[r.to].locked=true;\n      doors[r.to].lockUntil=Date.now()+delay*1000;\n      outs.push({topic:'sas/'+r.to+'/lock',payload:'LOCKED',retain:true});\n    }\n  }\n}\nglobal.set('factory_doors',doors,'file');\nlet list=Object.keys(doors).sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\nouts.unshift({topic:'ui',payload:{doors,relations:rels,doorsList:list}});\nreturn [outs];","outputs":1,"x":390,"y":80,"wires":[["68383411dd3081cb","e6474130ebb12f07"]]},{"id":"9f5fb33227d10378","type":"inject","z":"222055ee8258a6a6","name":"Check locks","props":[{"p":"payload"}],"repeat":"1","once":true,"onceDelay":"1","payload":"","payloadType":"str","x":120,"y":140,"wires":[["db1fbc8f06a63c6f"]]},{"id":"db1fbc8f06a63c6f","type":"function","z":"222055ee8258a6a6","name":"Unlock expired","func":"let doors=global.get('factory_doors','file')||{};\nlet rels=global.get('door_relations','file')||[];\nlet outs=[];\nfor(let d in doors){\n  if(doors[d].locked && Date.now()>=Number(doors[d].lockUntil||0)){\n    doors[d].locked=false;\n    doors[d].lockUntil=0;\n    outs.push({topic:'sas/'+d+'/lock',payload:'UNLOCKED',retain:true});\n  }\n}\nglobal.set('factory_doors',doors,'file');\nlet list=Object.keys(doors).sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\nouts.unshift({topic:'ui',payload:{doors,relations:rels,doorsList:list}});\nreturn [outs];","outputs":1,"x":390,"y":140,"wires":[["68383411dd3081cb","e6474130ebb12f07"]]},{"id":"68383411dd3081cb","type":"ui_template","z":"222055ee8258a6a6","group":"group_relations","name":"Factory Plan + Relations","order":1,"width":24,"height":22,"format":"<style>.wrap{font-family:Arial;background:#0f172a;color:#e5e7eb;border-radius:20px;padding:22px}.title{font-size:30px;font-weight:900;color:#38bdf8}.grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(220px,1fr));gap:16px;margin-top:20px}.door{background:#020617;border:1px solid #334155;border-radius:18px;padding:16px}.badge{padding:6px 12px;border-radius:999px;font-weight:900}.READY{background:#16a34a}.OPEN{background:#2563eb}.WAIT{background:#f59e0b}.REFUSED{background:#dc2626}.LOCK{background:#dc2626;color:white;margin-top:8px;display:inline-block}.panel{background:#111827;border:1px solid #334155;border-radius:18px;padding:18px;margin-top:20px}.row{display:flex;gap:10px;flex-wrap:wrap;align-items:center}.row select,.row input{padding:10px;border-radius:10px}.btn{border:0;border-radius:10px;padding:10px 14px;color:white;font-weight:900;cursor:pointer}.add{background:#0284c7}.del{background:#dc2626}.open{background:#16a34a}.close{background:#dc2626}.reset{background:#2563eb}table{width:100%;border-collapse:collapse;margin-top:12px}td,th{border:1px solid #334155;padding:8px}</style><div class='wrap'><div class='title'>🏭 Factory Door Relations</div><div class='grid'><div class='door' ng-repeat='d in doorsList'><h3>🚪 {{d}}</h3><span class='badge' ng-class='doors[d].state'>{{doors[d].state}}</span><div ng-if='doors[d].locked' class='LOCK'>LOCKED</div><p>Maj: {{doors[d].lastUpdate || '-'}}</p><div class='row'><button class='btn open' ng-click='cmd(d,\"OPEN\")'>OPEN</button><button class='btn close' ng-click='cmd(d,\"CLOSE\")'>CLOSE</button><button class='btn reset' ng-click='cmd(d,\"RESET\")'>RESET</button></div></div></div><div class='panel'><h2>Créer relation</h2><div class='row'><label>Quand</label><select ng-model='form.from'><option ng-repeat='d in doorsList' value='{{d}}'>{{d}}</option></select><label>ouvre → bloquer</label><select ng-model='form.to'><option ng-repeat='d in doorsList' value='{{d}}'>{{d}}</option></select><label>Délai sec</label><input type='number' ng-model='form.delay' min='1'><button class='btn add' ng-click='addRel()'>Ajouter</button></div><table><tr><th>Door ouverte</th><th>Door bloquée</th><th>Délai</th><th>Action</th></tr><tr ng-repeat='r in relations track by $index'><td>{{r.from}}</td><td>{{r.to}}</td><td>{{r.delay}} s</td><td><button class='btn del' ng-click='deleteRel(r)'>Delete</button></td></tr></table></div></div><script>(function(scope){scope.doors={};scope.doorsList=[];scope.relations=[];scope.form={from:'',to:'',delay:3};scope.$watch('msg',function(msg){if(!msg||!msg.payload)return;scope.doors=msg.payload.doors||{};scope.relations=msg.payload.relations||[];scope.doorsList=msg.payload.doorsList||[];if(!scope.form.from&&scope.doorsList.length)scope.form.from=scope.doorsList[0];if(!scope.form.to&&scope.doorsList.length)scope.form.to=scope.doorsList[0];});scope.addRel=function(){scope.send({payload:{action:'add',relation:angular.copy(scope.form)}})};scope.deleteRel=function(r){scope.send({payload:{action:'delete',relation:angular.copy(r)}})};scope.cmd=function(d,c){scope.send({payload:{action:'cmd',door:d,cmd:c}})};})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":110,"wires":[["9e58c721fd5e049e"]]},{"id":"9e58c721fd5e049e","type":"function","z":"222055ee8258a6a6","name":"Handle UI actions","func":"let p=msg.payload||{};\nlet doors=global.get('factory_doors','file')||{};\nlet rels=global.get('door_relations','file')||[];\n\nif(p.action==='add'){\n  let r=p.relation||{};\n  if(r.from&&r.to&&r.from!==r.to){\n    let exists=rels.some(x=>x.from===r.from&&x.to===r.to&&Number(x.delay)===Number(r.delay||3));\n    if(!exists){\n      rels.push({from:r.from,to:r.to,delay:Number(r.delay||3)});\n      global.set('door_relations',rels,'file');\n    }\n  }\n}\n\nif(p.action==='delete'){\n  let r=p.relation||{};\n  rels=rels.filter(x=>!(x.from===r.from&&x.to===r.to&&Number(x.delay)===Number(r.delay)));\n  global.set('door_relations',rels,'file');\n}\n\nif(p.action==='cmd'){\n  let d=p.door;\n  if(doors[d]&&doors[d].locked){\n    return [{topic:'ui',payload:{doors,relations:rels,doorsList:Object.keys(doors)}},null,{payload:'Commande refusée: '+d+' est verrouillée'}];\n  }\n  return [null,{topic:'sas/'+d+'/cmd',payload:p.cmd},null];\n}\n\nlet list=Object.keys(doors).sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\nreturn [{topic:'ui',payload:{doors,relations:rels,doorsList:list}},null,{payload:'Relation mise à jour'}];","outputs":3,"x":930,"y":110,"wires":[["68383411dd3081cb"],["6ca26243b17c47f0"],["b644d4ec3652d64e"]]},{"id":"6ca26243b17c47f0","type":"mqtt out","z":"222055ee8258a6a6","name":"MQTT Door CMD","topic":"","qos":"0","retain":"","broker":"broker_relations","x":1180,"y":100,"wires":[]},{"id":"e6474130ebb12f07","type":"mqtt out","z":"222055ee8258a6a6","name":"MQTT Door LOCK","topic":"","qos":"0","retain":"true","broker":"broker_relations","x":940,"y":200,"wires":[]},{"id":"b644d4ec3652d64e","type":"ui_text","z":"222055ee8258a6a6","group":"group_relations_logs","order":1,"width":24,"height":1,"name":"Logs","label":"Log","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":160,"wires":[]},{"id":"80985b4875c7a4a3","type":"inject","z":"222055ee8258a6a6","name":"Init","props":[{"p":"payload"}],"once":true,"onceDelay":"1","payload":"","payloadType":"str","x":110,"y":300,"wires":[["97ef7105cfcef668"]]},{"id":"97ef7105cfcef668","type":"function","z":"222055ee8258a6a6","name":"Init UI","func":"let doors=global.get('factory_doors','file')||{};\nlet rels=global.get('door_relations','file')||[];\nlet list=Object.keys(doors).sort((a,b)=>Number(a.replace('door',''))-Number(b.replace('door','')));\nmsg.topic='ui';\nmsg.payload={doors,relations:rels,doorsList:list};\nreturn msg;","outputs":1,"x":330,"y":300,"wires":[["68383411dd3081cb"]]},{"id":"mqtt_rfid_scan_inside","type":"mqtt in","z":"inside_people_tab","name":"RFID Scan","topic":"sas/+/rfid","qos":"0","datatype":"auto","broker":"inside_broker","inputs":0,"x":120,"y":80,"wires":[["store_last_rfid_inside"]]},{"id":"mqtt_rfid_result_inside","type":"mqtt in","z":"inside_people_tab","name":"RFID Result","topic":"sas/+/rfid_result","qos":"0","datatype":"auto","broker":"inside_broker","inputs":0,"x":120,"y":130,"wires":[["process_rfid_inside"]]},{"id":"mqtt_finger_scan_inside","type":"mqtt in","z":"inside_people_tab","name":"Fingerprint Scan","topic":"sas/+/fingerprint","qos":"0","datatype":"auto","broker":"inside_broker","inputs":0,"x":130,"y":190,"wires":[["store_last_finger_inside"]]},{"id":"mqtt_finger_result_inside","type":"mqtt in","z":"inside_people_tab","name":"Fingerprint Result","topic":"sas/+/fingerprint_result","qos":"0","datatype":"auto","broker":"inside_broker","inputs":0,"x":140,"y":240,"wires":[["process_finger_inside"]]},{"id":"store_last_rfid_inside","type":"function","z":"inside_people_tab","name":"Store Last RFID","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet door=msg.topic.split('/')[1];\nlet uid=norm(msg.payload);\nlet last=global.get('last_rfid_inside','file')||{};\nlast[door]=uid;\nglobal.set('last_rfid_inside',last,'file');\nreturn null;","outputs":1,"x":390,"y":80,"wires":[[]]},{"id":"process_rfid_inside","type":"function","z":"inside_people_tab","name":"RFID Authorized -> Inside","func":"function norm(u){u=String(u||'').trim().toUpperCase();let o='';for(let c of u){if(/[0-9A-F]/.test(c))o+=c;}return o;}\nlet door=msg.topic.split('/')[1];\nlet result=String(msg.payload||'').trim();\nif(result!=='AUTHORIZED') return null;\nlet last=global.get('last_rfid_inside','file')||{};\nlet uid=last[door]||'';\nlet db=global.get('rfid_db','file')||[];\nlet card=db.find(x=>norm(x.uid)===norm(uid));\nlet name=card ? card.name : 'RFID inconnu';\nlet inside=global.get('inside_people','file')||{};\nlet key='RFID_'+uid;\ninside[key]={key,name,id:uid,method:'RFID',door:door,time:new Date().toLocaleString(),status:'INSIDE'};\nglobal.set('inside_people',inside,'file');\nlet arr=Object.values(inside);\nreturn [{payload:arr},{payload:'✅ '+name+' est entré par '+door+' avec RFID'}];","outputs":2,"x":420,"y":130,"wires":[["inside_ui"],["inside_log"]]},{"id":"store_last_finger_inside","type":"function","z":"inside_people_tab","name":"Store Last Finger","func":"let door=msg.topic.split('/')[1];\nlet id=String(msg.payload||'').trim();\nlet last=global.get('last_finger_inside','file')||{};\nlast[door]=id;\nglobal.set('last_finger_inside',last,'file');\nreturn null;","outputs":1,"x":400,"y":190,"wires":[[]]},{"id":"process_finger_inside","type":"function","z":"inside_people_tab","name":"Finger Authorized -> Inside","func":"let door=msg.topic.split('/')[1];\nlet result=String(msg.payload||'').trim();\nif(result!=='AUTHORIZED') return null;\nlet last=global.get('last_finger_inside','file')||{};\nlet id=last[door]||'';\nlet db=global.get('finger_db','file')||[];\nlet user=db.find(x=>String(x.fingerId)===String(id));\nlet name=user ? user.name : 'Empreinte inconnue';\nlet inside=global.get('inside_people','file')||{};\nlet key='FINGER_'+id;\ninside[key]={key,name,id:id,method:'Empreinte',door:door,time:new Date().toLocaleString(),status:'INSIDE'};\nglobal.set('inside_people',inside,'file');\nlet arr=Object.values(inside);\nreturn [{payload:arr},{payload:'✅ '+name+' est entré par '+door+' avec empreinte'}];","outputs":2,"x":430,"y":240,"wires":[["inside_ui"],["inside_log"]]},{"id":"inside_ui","type":"ui_template","z":"inside_people_tab","group":"inside_group_main","name":"Inside People UI","order":1,"width":24,"height":16,"format":"<style>.wrap{font-family:Arial;background:#0f172a;color:#e5e7eb;border-radius:22px;padding:24px}.title{font-size:32px;font-weight:900;color:#38bdf8}.count{font-size:22px;margin:12px 0;color:#22c55e;font-weight:900}.table{width:100%;border-collapse:collapse;margin-top:15px}.table th,.table td{border:1px solid #334155;padding:12px;text-align:left}.table th{background:#020617;color:#38bdf8}.btn{border:0;border-radius:10px;padding:8px 12px;color:white;font-weight:900;cursor:pointer}.out{background:#dc2626}.clear{background:#f59e0b;margin-top:15px}.badge{padding:5px 10px;border-radius:999px;background:#16a34a;color:white;font-weight:900}</style><div class='wrap'><div class='title'>👥 Personnes à l’intérieur</div><div class='count'>Total inside : {{people.length || 0}}</div><table class='table'><tr><th>Nom</th><th>ID</th><th>Méthode</th><th>Porte entrée</th><th>Date / Heure</th><th>Status</th><th>Action</th></tr><tr ng-repeat='p in people'><td><b>{{p.name}}</b></td><td>{{p.id}}</td><td>{{p.method}}</td><td>{{p.door}}</td><td>{{p.time}}</td><td><span class='badge'>{{p.status}}</span></td><td><button class='btn out' ng-click='remove(p.key)'>Sortie</button></td></tr></table><button class='btn clear' ng-click='clearAll()'>Vider la liste</button></div><script>(function(scope){scope.people=[];scope.$watch('msg',function(msg){if(!msg)return;scope.people=msg.payload||[];});scope.remove=function(k){scope.send({payload:{action:'remove',key:k}})};scope.clearAll=function(){scope.send({payload:{action:'clear'}})};})(scope);</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":180,"wires":[["inside_actions"]]},{"id":"inside_actions","type":"function","z":"inside_people_tab","name":"Remove / Clear","func":"let p=msg.payload||{};\nlet inside=global.get('inside_people','file')||{};\nif(p.action==='remove') delete inside[p.key];\nif(p.action==='clear') inside={};\nglobal.set('inside_people',inside,'file');\nreturn {payload:Object.values(inside)};","outputs":1,"x":930,"y":180,"wires":[["inside_ui"]]},{"id":"inside_log","type":"ui_text","z":"inside_people_tab","group":"inside_group_logs","order":1,"width":24,"height":1,"name":"Log","label":"Dernier accès","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":280,"wires":[]},{"id":"init_inside","type":"inject","z":"inside_people_tab","name":"Init","props":[{"p":"payload"}],"once":true,"onceDelay":"0.5","payload":"","payloadType":"str","x":130,"y":320,"wires":[["init_inside_fn"]]},{"id":"init_inside_fn","type":"function","z":"inside_people_tab","name":"Load Inside","func":"let inside=global.get('inside_people','file')||{};\nmsg.payload=Object.values(inside);\nreturn msg;","outputs":1,"x":350,"y":320,"wires":[["inside_ui"]]},{"id":"f8c349d27e3bfb23","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]